Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: fetching tidligere sykmeldinger from syk-inn-api
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/fhir/sykmelding/route.ts
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/data-fetcher/data-service.ts
  src/fhir-secure/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: make it pretty
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/devtools/useAPIOverride.ts
Due: yarn eslint --fix --max-warnings=0

chore: fixed fetch url and displaying the result
  src/app/(fhir)/fhir/sykmelding/route.ts
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/devtools/InternalDevTools.tsx
  src/fhir/fhir-data/fhir-data.ts
  src/helseid/helseid-data/helseid-data-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: added feature toggle
  src/app/(fhir)/fhir/page.tsx
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore: fail pre-dev.sh if docker socket is not accessible [skip ci]
  scripts/pre-dev.sh
Due: none

chore: added auth header and moved method to different file
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/non-fhir-data.ts
Due: yarn eslint --fix --max-warnings=0

Feat: vise tidligere sykmeldinger
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/fhir/sykmelding/route.ts
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/data-fetcher/data-service.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir-secure/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/non-fhir-data.ts
  src/helseid/helseid-data/helseid-data-service.ts
  src/services/syk-inn-api/SykInnApiService.ts
  src/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

feat: multi step poc (wip) [skip ci]
  package.json
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/ny-sykmelding-form-multi-step/FormSteps.tsx
  src/components/ny-sykmelding-form-multi-step/NySykmeldingFormMultiStep.tsx
  src/components/ny-sykmelding-form-multi-step/StepsSummary.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/PasientSearchField.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/PasientSection.tsx
  src/components/ny-sykmelding-form-multi-step/useFormStep.ts
  src/providers/Providers.tsx
  src/providers/redux/StoreProvider.tsx
  src/providers/redux/hooks.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/providers/redux/store.ts
  src/toggles/env.ts
  src/toggles/toggles.ts
  src/toggles/unleash.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: explicit dev toggles [skip ci]
  src/toggles/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: fixed typo
  docs/smart/smart-launch.md
Due: yarn prettier --write

chore(deps): bump minors/patches
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): jose@6
  package.json
  src/app/api/mocks/fhir/jwt.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move auth mocks to distinct routes
  src/app/api/mocks/fhir/auth/[[...path]]/route.ts
  src/app/api/mocks/fhir/auth/authorize/route.ts
  src/app/api/mocks/fhir/auth/token/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix weird build error by making keys lazier
  src/app/api/mocks/fhir/(resources)/[[...path]]/route.ts
  src/app/api/mocks/fhir/(resources)/data/index.ts
  src/app/api/mocks/fhir/jwt.ts
Due: yarn eslint --fix --max-warnings=0

chore: clarify server side launch [skip ci]
  docs/smart/smart-launch.md
Due: yarn prettier --write

chore: replace periode with aktivitet
  src/app/(fhir)/fhir/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/data-fetcher/data-service.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: lint clean up
  src/data-fetcher/data-service.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

chore: replace periode with aktivitet (#26)
  src/app/(fhir)/fhir/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/data-fetcher/data-service.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't expect pdf in payload
  src/app/(fhir)/fhir/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/route.ts
  src/data-fetcher/data-service.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

feat: multi step poc (behind toggle)
  e2e/fhir.spec.ts
  package.json
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/fhir/resources/sykmelding/submit/route.ts
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/ny-sykmelding-form-multi-step/NySykmeldingFormMultiStep.tsx
  src/components/ny-sykmelding-form-multi-step/NySykmeldingFormSections.tsx
  src/components/ny-sykmelding-form-multi-step/diagnose/DiagnosePicker.tsx
  src/components/ny-sykmelding-form-multi-step/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/AktivitetPicker.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/AktivitetSection.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/PeriodePicker.module.css
  src/components/ny-sykmelding-form-multi-step/pasient/PeriodePicker.tsx
  src/components/ny-sykmelding-form-multi-step/start/FormStart.tsx
  src/components/ny-sykmelding-form-multi-step/steps/StepNavigation.tsx
  src/components/ny-sykmelding-form-multi-step/steps/StepsSummary.tsx
  src/components/ny-sykmelding-form-multi-step/steps/useFormStep.ts
  src/components/ny-sykmelding-form-multi-step/summary/SummarySection.tsx
  src/components/ny-sykmelding-form-multi-step/summary/summary-text-utils.ts
  src/components/ny-sykmelding-form-multi-step/useNySykmeldingMutation.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/diagnose/combobox/DiagnoseCombobox.tsx
  src/data-fetcher/data-service.ts
  src/data-fetcher/hooks/use-context-konsultasjon.ts
  src/providers/Providers.tsx
  src/providers/redux/StoreProvider.tsx
  src/providers/redux/hooks.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/providers/redux/store.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/toggles/env.ts
  src/toggles/toggles.ts
  src/toggles/unleash.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

new api call, check if exists and creating document reference from server side route
  src/app/(fhir)/fhir/kvittering/write-to-ehr/route.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

Changes by Jorn-Are.Klubben.Flaten
  src/data-fetcher/data-service.ts
Due: yarn eslint --fix --max-warnings=0

correcting parameter for writeToEhr
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

chore: init write documentReference
  src/app/(fhir)/fhir/kvittering/write-to-ehr/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/fhir/fhir-data/schema/documentReference.ts
  src/helseid/helseid-data/helseid-data-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: fixing url and preparing mock server endpoints
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/data-fetcher/data-service.ts
  src/devtools/useAPIOverride.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
Due: yarn eslint --fix --max-warnings=0

avoiding sending pdf back and forth to client and adding defensive checks
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/fhir/fhir-data/fhir-data-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: setting up mock data for DocumentReference
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/fhir/fhir-data/fhir-data-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: requiring hpr header
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't rely on fallback toggles for e2e
  src/toggles/env.ts
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: allow overwriting toggles in devtools
  src/devtools/InternalDevTools.tsx
  src/devtools/InternalDevToolsAction.ts
  src/devtools/useFeatureToggleOverride.ts
  src/toggles/env.ts
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: e2e test for multi step form (toggled by cookie)
  e2e/actions/fhir-actions.ts
  e2e/fhir-multi-step.spec.ts
  src/components/ny-sykmelding-form-multi-step/diagnose/DiagnoseSection.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
