Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make sure summary has loaded before asserting
  e2e/actions/user-verifications.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove prewarm e2e stuff, dudn't work anyway
  playwright.config.ts
  src/app/api/mocks/e2e/prewarm/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: make dev:e2e not dependent on valkey
  package.json
  playwright.config.ts
  scripts/pre-e2e-dev.sh
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: split draft into its own route, elevate default values responsibility
  e2e/utils/request-utils.ts
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/draft/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/ny/page.tsx
  src/app/(standalone)/(logged-in)/ny/page.tsx
  src/dev/tools/StandaloneLinks.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/combo-table/draft/DraftActions.tsx
  src/features/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/features/ny-sykmelding-form/draft/useDraftId.ts
  src/features/ny-sykmelding-form/summary/useFormValuesSummaryDraft.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/tidligere-sykmelding/TidligereSykmeldingActions.tsx
Due: yarn eslint --fix --max-warnings=0

feat: 'forleng' sykmelding button is available for 4 weeks
  e2e/fhir-dashboard.spec.ts
  src/core/data-layer/common/sykmelding-utils.ts
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: move duplisering and forleng to their own routes, derive form values
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/forleng/[sykmeldingId]/page.tsx
  src/core/redux/reducers/ny-sykmelding/mappers/common.ts
  src/core/redux/reducers/ny-sykmelding/mappers/duplisering.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
  src/core/redux/reducers/ny-sykmelding/meta.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/features/actions/common/SykmeldingFormErrors.tsx
  src/features/actions/common/sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/tidligere-sykmelding/TidligereSykmeldingActions.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add specific error when unable to load draft by ID on /draft
  src/features/actions/common/SykmeldingFormErrors.tsx
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
Due: yarn eslint --fix --max-warnings=0

fix: don't nuke patient from redux when deleting draft (avoids flash)
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
Due: yarn eslint --fix --max-warnings=0

chore: why even reset when dashboard do trick
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix a couple of knip errors
  knip.ts
  src/core/data-layer/fhir/smart/session.ts
  src/core/data-layer/helseid/helseid-user.ts
  src/lib/otel/faro.ts
Due: yarn eslint --fix --max-warnings=0

chore: make vitest test report a bit more terse
  scripts/test-reporter.mjs
Due: none

refactor: move ReadyClient initialization in resolvers to the context
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/smart/ready-client.ts
Due: yarn eslint --fix --max-warnings=0

feat: expand multi-user capabilities to also support when user opens a new tab
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/multi-user/MultiUserQueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/fhir/multi-user/multi-user-apollo-link.ts
  src/core/data-layer/fhir/multi-user/multi-user-const.ts
  src/core/data-layer/fhir/multi-user/multi-user-yoga-plugin.ts
  src/core/data-layer/fhir/smart/QueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/yoga-server.ts
Due: yarn eslint --fix --max-warnings=0

refactor: put FHIR resolver context creation in its own file
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: expire drafts tomorrow at midnight
  src/core/data-layer/draft/draft-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: add expiry timestamp to drafts in draft client
  src/core/data-layer/draft/draft-client.test.ts
  src/core/data-layer/draft/draft-client.ts
Due: yarn eslint --fix --max-warnings=0

feat: expand multi-user capabilities to also support when user opens a new tab
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/core/data-layer/fhir/multi-user/MultiUserQueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/fhir/multi-user/multi-user-apollo-link.ts
  src/core/data-layer/fhir/multi-user/multi-user-const.ts
  src/core/data-layer/fhir/multi-user/multi-user-yoga-plugin.ts
  src/core/data-layer/fhir/smart/QueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/yoga-server.ts
Due: yarn eslint --fix --max-warnings=0

feat: implement overengineered dynamic data loading in mock
  e2e/actions/fhir-actions.ts
  libs/fhir-mock/buntry-point.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/router.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/config.ts
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/data/encounter-espen-komar.ts
  libs/fhir-mock/src/data/encounter.ts
  libs/fhir-mock/src/data/index.ts
  libs/fhir-mock/src/data/organization.ts
  libs/fhir-mock/src/data/patient-espen-eksempel.json
  libs/fhir-mock/src/data/patient-session.ts
  libs/fhir-mock/src/data/patients.ts
  libs/fhir-mock/src/data/practitioner-koman-magnar.json
  libs/fhir-mock/src/data/static/organization.ts
  libs/fhir-mock/src/data/static/practitioner-koman-magnar.ts
  libs/fhir-mock/src/jwt/jwt.ts
  libs/fhir-mock/src/next.ts
  libs/fhir-mock/src/resources/condition/router.ts
  libs/fhir-mock/src/resources/encounter/router.ts
  libs/fhir-mock/src/resources/organization/router.ts
  libs/fhir-mock/src/resources/patient/router.ts
  libs/fhir-mock/src/resources/practitioner/router.ts
  libs/fhir-mock/src/resources/simple-resources/router.ts
  libs/fhir-mock/src/router.ts
  libs/fhir-mock/src/server-session.ts
  package.json
  src/app/(dev)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/launched-errors.tsx
  src/app/api/mocks/fhir/[[...path]]/mock-storage.ts
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/components/errors/NoValidHPR.tsx
  src/components/user-warnings/LoggedOutWarning.tsx
  src/dev/tools/DevRelauncher.tsx
  src/dev/tools/ScenarioLinks.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add pasient picker select to dev launch page
  src/app/(dev)/layout.tsx
  src/dev/tools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make patient overrideable in launchWithMock (e2e)
  e2e/actions/fhir-actions.ts
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

test: add e2e test that verifies multi-launch integrity
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

test: verify that opening a new tab sets correct active user in session
  e2e/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: add e2e test that describes (currently failing) multi-launch issue
  e2e/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

fix: loading state on dashboard
  src/features/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt, zod, hono
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: upper casing N in Nav
  src/features/ny-sykmelding-form/meldinger/MeldingTilNavField.tsx
Due: yarn eslint --fix --max-warnings=0

chore: replace node-cache with quick-lru (less deps overall)
  package.json
  src/core/toggles/definitions.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: logic for showing 'utfyllende spørsmål' if sykefravaer is more than 7 weeks
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add fall back to previous valid set of definitions when unleash fails
  package.json
  src/core/toggles/definitions.test.ts
  src/core/toggles/definitions.ts
  src/lib/otel/server.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: improve OTEL'n of unleash definition fetching
  src/core/toggles/definitions.ts
  src/lib/otel/server.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't teamlog in e2e (it fails anyway)
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: 4 shards
  .github/workflows/deploy.yml
Due: yarn prettier --write

feat: on auth related errors in production, just show non pilot user page
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
