Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

feat: add initial adr
  docs/adr/ADR02 - HelseID.md
Due: yarn prettier --write

feat: ready for PR
  docs/adr/ADR02 - HelseID.md
Due: yarn prettier --write

feat: demo only - wrap the app in a fake EPJ frame
  .github/workflows/deploy-unleash-token.yml
  .github/workflows/deploy-valkey.yml
  .github/workflows/fhir-mock-release.yml
  .github/workflows/syk-zara-release.yml
  .vscode/settings.json
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/router.ts
  libs/fhir-mock/src/server-launch-types.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/dev/page.tsx
  src/components/errors/NoValidHPR.tsx
  src/components/user-warnings/LoggedOutWarning.tsx
  src/dev/demo-epj-frame/DemoFrame.tsx
  src/dev/demo-epj-frame/FakeEpjHeader.tsx
  src/dev/demo-epj-frame/FakeEpjSidebar.tsx
  src/dev/demo-epj-frame/cookies.ts
  src/dev/demo-epj-frame/nav-logo.svg
  src/dev/tools/ScenarioLinksFhir.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  oxfmt.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: pin react-hook-form - shits still broken
  package.json
  yarn.lock
Due: yarn prettier --write

fix: allow non-https launches in e2e 'prod' mode
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: completely replace eslint with oxlint
  .lintstagedrc.mjs
  codegen.ts
  e2e/multi-mode/form-tilbakedatering.spec.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/assertions.ts
  eslint.config.ts
  libs/fhir-mock/src/meta/data/well-known.ts
  libs/helseid-mock/src/meta/data/well-known.ts
  next-logger.config.cjs
  oxlint.config.ts
  package.json
  scripts/test-reporter.mjs
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/yoga-server.ts
  src/core/redux/store.ts
  src/core/services/aareg/aareg-service.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/instrumentation.ts
  src/lib/hooks/useWindowFocus.ts
  src/lib/test/testcontainers-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update vscode config with oxlint stuff
  .vscode/settings.json
Due: yarn prettier --write

chore: 'fix' memory usage in dev server
  next.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix broken e2e test
  codegen.ts
  e2e/fhir/fhir-bruksvilkar.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix demo header link back to dev page
  oxlint.config.ts
  src/dev/demo-epj-frame/DemoFrame.tsx
Due: yarn eslint --fix --max-warnings=0

chore: oxlint - add some missing rules from migration, enable non-null assertions
  oxlint.config.ts
  src/app/dev/dumb/DumbDevHeader.tsx
  src/dev/mock-engine/valkey/InMemValkey.ts
  src/lib/test/syk-inn-kafka.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump aksel
  .prettierignore
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: add page to test Checkbox with HelpText nested in Label
  src/app/(standalone)/uu-test/page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add new ICPC_2_A97 rule type to soft stop
  src/features/ny-sykmelding-form/summary/rules/rule-texts.ts
Due: yarn eslint --fix --max-warnings=0

feat: restructure form, move stuff around to new sections
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  package.json
  src/features/ny-sykmelding-form/sections/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/AktivitetSection.tsx
  src/features/ny-sykmelding-form/sections/andre-sporsmal/AndreSporsmalSection.tsx
  src/features/ny-sykmelding-form/sections/andre-sporsmal/SvangerskapsrelatertField.tsx
  src/features/ny-sykmelding-form/sections/andre-sporsmal/YrkesskadeField.tsx
  src/features/ny-sykmelding-form/sections/arbeidsgiver/ArbeidsforholdSection.tsx
  src/features/ny-sykmelding-form/sections/diagnose/DiagnoseInfoAlert.tsx
  src/features/ny-sykmelding-form/sections/diagnose/DiagnoseSection.tsx
  src/features/ny-sykmelding-form/sections/diagnose/bidiagnose/BidiagnoseSection.tsx
  src/features/ny-sykmelding-form/sections/meldinger/MeldingTilArbeidsgiverField.tsx
  src/features/ny-sykmelding-form/sections/meldinger/MeldingTilNavField.tsx
  src/features/ny-sykmelding-form/sections/meldinger/MeldingerSection.tsx
  src/features/ny-sykmelding-form/sections/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/features/ny-sykmelding-form/sections/tilbakedatering/TilbakedateringSection.tsx
  src/features/ny-sykmelding-form/sections/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingdagerSykmeldingForm.tsx
  src/features/ny-sykmelding-form/variants/normal/NormalSykmelding.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: add smart on fhir getting started guide
  docs/smart/getting-started.md
Due: yarn prettier --write

docs: add smart on fhir getting started guide (#228)
  docs/smart/getting-started.md
Due: yarn prettier --write

docs: update qr docs and adr
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/fhir/_oversikt.md
  docs/fhir/bundle.md
  docs/fhir/document-reference.md
  docs/fhir/nav-requirements.md
  docs/fhir/questionnaire-response.md
Due: yarn prettier --write

docs: update qr docs and adr (#229)
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/fhir/_oversikt.md
  docs/fhir/bundle.md
  docs/fhir/document-reference.md
  docs/fhir/nav-requirements.md
  docs/fhir/questionnaire-response.md
Due: yarn prettier --write

ADR02 - HelseID (#224)
  docs/adr/ADR02 - HelseID.md
Due: yarn prettier --write

feat: merge tables in dashboard and show 'historiske sykmeldinger' as part of same table
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/dashboard/redacted.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: make tests check correct row after merging tables
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/dashboard/sykmelding.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: re-add emptystate and errorstate for 'historiske sykmeldinger'
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix formatting
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

fix: re-add 'alleSykmeldinger' that got lost during a rebase, to properly show historical sykmeldinger if enabled
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

fix: new formatting breaking github workflow
  docs/adr/ADR02 - HelseID.md
Due: yarn prettier --write

fix: whitespace to debug github action
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

feat: merge tables in dashboard and show 'historiske sykmeldinger' as part of same table
  docs/adr/ADR02 - HelseID.md
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/dashboard/redacted.spec.ts
  e2e/fhir/dashboard/sykmelding.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: upgrade and fix RHF aktivitet union default values weirdness
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.test.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/ArsakerPicker.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: don't allow lint warning is hook or CI
  .github/workflows/deploy.yml
  .lintstagedrc.mjs
  .yarnrc.yml
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/ArsakerPicker.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up behandlingsdager toggle
  e2e/README.md
  e2e/actions/toggle-overrides.ts
  e2e/fhir/dashboard/drafts.spec.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/fhir/fhir-behandlingsdager.spec.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: update welcome modal
  src/features/fhir/dashboard/welcome-modal/InfoNySykmeldingModal.tsx
Due: yarn eslint --fix --max-warnings=0
