Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

refactor: replace ugly input type with gql @oneOf directive
  e2e/README.md
  e2e/multi-mode/form-submit.spec.ts
  e2e/utils/submit-utils.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/dev/mock-engine/utils/syk-inn-api-mock-mappers.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: basic new form for sykmelding with behandlingsdager
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/draft/draft-schema.ts
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.ts
  src/features/fhir/dashboard/combo-table/draft/draft-utils.ts
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormVariants.tsx
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/AktivitetSection.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/ShorthandHint.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/periode/periode-utils.ts
  src/features/ny-sykmelding-form/summary/summary-text-utils.ts
  src/features/ny-sykmelding-form/summary/useFormValuesSummaryDraft.ts
  src/features/ny-sykmelding-form/useFormVariant.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingdagerSykmeldingForm.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerDescriptionField.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerPeriode.tsx
Due: yarn eslint --fix --max-warnings=0

fix: trigger deploy
  src/core/data-layer/helseid/token/tokens.ts
Due: yarn eslint --fix --max-warnings=0

fix: show behandlingsdager-explanation on summary
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/fhir-behandlingsdager.spec.ts
  e2e/utils/submit-utils.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.ts
  src/features/ny-sykmelding-form/form/default-values.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: disable SYK_INN_SYKMELDING_BEHANDLINGSDAGER in e2e by default
  e2e/actions/toggle-overrides.ts
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/fhir-behandlingsdager.spec.ts
  e2e/standalone/actions/standalone-actions.ts
Due: yarn eslint --fix --max-warnings=0

style: make "send læll" knapp not red
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: move behandlingsdager logic to own function
  src/core/data-layer/common/behandlingsdager.test.ts
  src/core/data-layer/common/behandlingsdager.ts
  src/features/ny-sykmelding-form/summary/rules/rule-texts.ts
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerPeriode.tsx
Due: yarn eslint --fix --max-warnings=0

fix: forlengelse of behandlingsdager bug
  src/features/actions/common/gql-sykmelding-mappers.ts
Due: yarn eslint --fix --max-warnings=0

chore: send antallBehandlingsdager to syk-inn-api
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: e2e test for testing forlenging and duplisering of behandlingsdager
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/fhir/fhir-behandlingsdager.spec.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: e2e-test saving behandlingsdager in draft
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir/dashboard/drafts.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: move title closer to features so we can control headers for variants
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/draft/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/ny/page.tsx
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/fhir/common/NySykmeldingPagesWithContextPatientHeader.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormSkeleton.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump misc, testcontainers, concurrently, vitest etc
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make e2e tests more robust (remove step animations, rip)
  src/features/fhir/dashboard/welcome-modal/InfoNySykmeldingModal.tsx
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove welcome modal test
  e2e/README.md
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/fhir-chaosmonkey.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: finalize texts for enkeltstående behandlingsdager
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingdagerSykmeldingForm.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerDescriptionField.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerPeriode.tsx
Due: yarn eslint --fix --max-warnings=0

chore: does disabling turbo for build fix playwright trace resource errors?
  scripts/build-e2e.sh
Due: none

Revert "feat: have wonderwall auth helseid after SMART launch"
  .nais/nais-dev.yaml
  package.json
Due: yarn prettier --write

feat: add logging to whether the access token and id token is available from the smart app.
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/data-layer/helseid/token/tokens.ts
Due: yarn eslint --fix --max-warnings=0

fix: test verified, helseid tokens are present
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: have wonderwall auth helseid after SMART launch
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: add feature toggle and redirect to wonderwall for HelseID auth test
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

fix: ensure logging of toggle before SMART launching
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: format
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/toggles/dev/local.ts
Due: yarn eslint --fix --max-warnings=0

fix: use url params
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: relative redirect path
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: use yarn 15
  package.json
Due: yarn prettier --write

fix: use outbound access policy for samsvarstesting
  .nais/nais-dev.yaml
Due: yarn prettier --write

style: tweak enkeltstående behandligsdager per Loritha's wishes
  src/features/ny-sykmelding-form/sections/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerDescriptionField.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerPeriode.tsx
Due: yarn eslint --fix --max-warnings=0

trigger deploy
  .nais/nais-prod.yaml
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: tweak behandlingsdager text
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerDescriptionField.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerPeriode.tsx
Due: yarn eslint --fix --max-warnings=0

chore: distroless nodejs24-debian13
  Dockerfile
Due: none
