Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: proper use of useController
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/components/ny-sykmelding-form/form.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add devtool that automatically relaunches FHIR session in local dev
  src/app/(fhir)/error.tsx
  src/devtools/DevRelauncher.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add 'meldinger' section (no data, only form)
  src/app/(standalone)/layout.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/meldinger/MeldingTilArbeidsgiverField.tsx
  src/components/ny-sykmelding-form/meldinger/MeldingTilNavField.tsx
  src/components/ny-sykmelding-form/meldinger/MeldingerSection.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

feat: add 'andre spørsmål' section (no data, only form)
  src/components/form/expandable-form-section/ExpandableFormSection.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/andre-sporsmal/AndreSporsmalField.tsx
  src/components/ny-sykmelding-form/andre-sporsmal/AndreSporsmalSection.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/devtools/NySykmeldingFormDevTools.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

feat: Add support for multiple periods
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: Better use of id for keys in fieldarray
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: Fix ts errors
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore: Made functional tests green
  e2e/fhir.spec.ts
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: try to make spans span across the network span
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/faro/faro.ts
Due: yarn eslint --fix --max-warnings=0

chore: span some more spans
  src/data-fetcher/hooks/use-context-konsultasjon.ts
  src/faro/faro.ts
Due: yarn eslint --fix --max-warnings=0

chore: isomorphic tracing with faro and node otel
  package.json
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/data-fetcher/hooks/use-context-konsultasjon.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/smart-client.ts
  src/instrumentation-client.ts
  src/otel/common.ts
  src/otel/faro.ts
  src/otel/node.ts
  src/otel/otel.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: missing key prop in multi-periode picker
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
Due: yarn eslint --fix --max-warnings=0

Implement new form fields for tilbakedatering if sykmeldingsdato is older than 8 days
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringDate.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.test.ts
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

Make user-action dates relative, hide devtool when running e2e locally to avoid broken tests
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/standalone.spec.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

feat: Implement new form fields for tilbakedatering if sykmeldingsdato is older than 8 days
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringDate.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.test.ts
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: Make user-action dates relative, hide devtool when running e2e locally to avoid broken tests
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/standalone.spec.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: bumparino cappucino
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: start local playwright faster, prewarm routes [skip ci]
  playwright.config.ts
  src/app/api/mocks/e2e/prewarm/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix local fast playwright mode [skip ci]
  package.json
  playwright.config.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: don't accidentally init faro in e2e tests [skip ci]
  src/instrumentation-client.ts
  src/otel/faro.ts
Due: yarn eslint --fix --max-warnings=0

chore: give click-error in clickAndWait higher precedence (e2e)
  e2e/utils/request-utils.ts
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: no prewarm route in !e2e mode
  src/app/api/mocks/e2e/prewarm/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: e2e test for dynamic tilbakedatering section
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/standalone.spec.ts
  e2e/utils/date-utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: initial support for keeping values if you chose to return to the main step
  src/components/form/expandable-form-section/ExpandableFormSection.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: initial e2e-test for verifying persintence in form
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump patches/minors
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: tilbakedatering default value when returning to form
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringDate.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.tsx
Due: yarn eslint --fix --max-warnings=0

docs: update document-reference.md to be more correct
  docs/fhir/document-reference.md
Due: yarn prettier --write

fix: don't overwrite diagnosis when returning to main form
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: run tsc in lint-staged
  .lintstagedrc
  .lintstagedrc.mjs
Due: none

chore: wip [skip ci]
  codegen.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(standalone)/graphql/route.ts
  src/fhir/fhir-data/fhir-graphql-resolvers.ts
  src/graphql/apollo/apollo-client-server.ts
  src/graphql/apollo/apollo-client.ts
  src/graphql/apollo/apollo-server-utils.ts
  src/graphql/queries.generated.ts
  src/graphql/queries/pasient.graphql
  src/graphql/resolvers.generated.ts
  src/graphql/schema/pasient.graphqls
  src/graphql/schema/root.graphqls
  src/graphql/type-defs.ts
  src/helseid/helseid-data/helseid-graphql-resolvers.ts
  src/providers/Providers.tsx
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: fix patient id systems
  docs/fhir/_oversikt.md
  docs/fhir/patient.md
Due: yarn prettier --write

docs: fix encounter docs
  docs/fhir/encounter.md
Due: yarn prettier --write

docs: fix organization docs
  docs/fhir/organization.md
Due: yarn prettier --write

chore: remove telecom from Practitioner
  docs/fhir/practitioner.md
Due: yarn prettier --write

fix: use new syk-inn-api routes
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't make type required on Encounter.diagnosis.Condition reference
  libs/fhir-zod/src/common.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix syk-inn-api create path
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0
