Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

feat: add QuestionnaireResponse scopes when toggle is on
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

fix: local dev and demo scope verifyer being too strict
  libs/fhir-mock/src/auth/authorize.ts
Due: yarn eslint --fix --max-warnings=0

chore: add a single questionnaire-response test as an example
  src/core/data-layer/fhir/write/mappers/questionnaire-response.test.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
Due: yarn eslint --fix --max-warnings=0

fix: remove connection() from toggle fetch, I don't think we need it
  src/core/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: span up callback request route
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump yarn
  package.json
Due: yarn prettier --write

chore: bump aksel + misc
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: have wonderwall auth helseid after SMART launch
  .nais/nais-dev.yaml
Due: yarn prettier --write

Revert "feat: have wonderwall auth helseid after SMART launch"
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: add logging to whether the access token and id token is available from the smart app.
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/data-layer/helseid/token/tokens.ts
Due: yarn eslint --fix --max-warnings=0

fix: test verified, helseid tokens are present
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: add feature toggle and redirect to wonderwall for HelseID auth test
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

fix: ensure logging of toggle before SMART launching
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: format
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/toggles/dev/local.ts
Due: yarn eslint --fix --max-warnings=0

fix: relative redirect path
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: trigger deploy
  src/core/data-layer/helseid/token/tokens.ts
Due: yarn eslint --fix --max-warnings=0

fix: use url params
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: use outbound access policy for samsvarstesting
  .nais/nais-dev.yaml
Due: yarn prettier --write

trigger deploy
  .nais/nais-prod.yaml
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: remove samsvarstest url
  .nais/nais-dev.yaml
Due: yarn prettier --write

fix: yaml bork
  .nais/nais-prod.yaml
Due: yarn prettier --write

fix: formatting
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

HelseID double auth (#219)
  .nais/nais-prod.yaml
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/data-layer/helseid/token/tokens.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: implement questionnaire response
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

feat: add authored to questionnaire-response
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update smart on fhir lib
  package.json
Due: yarn prettier --write

update smart on fhir lib for mocks
  libs/fhir-mock/package.json
Due: yarn prettier --write

feat: implement questionnaire response
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/data-layer/fhir/write/mappers/document-reference.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
Due: yarn eslint --fix --max-warnings=0

fix: pattern cleanup based on PR review
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/data-layer/fhir/write/mappers/document-reference.test.ts
  src/core/data-layer/fhir/write/mappers/document-reference.ts
Due: yarn eslint --fix --max-warnings=0

feat: add tests and fix bugs found in tests
  src/core/data-layer/common/sykmelding-utils.test.ts
  src/core/data-layer/fhir/write/mappers/document-reference.test.ts
  src/core/data-layer/fhir/write/mappers/document-reference.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.test.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
Due: yarn eslint --fix --max-warnings=0

fix: remove comment
  src/core/services/syk-inn-api/schema/sykmelding.ts
Due: yarn eslint --fix --max-warnings=0

fix: rename to selfRef
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

fix: bug in promise
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

fix: dependency updates
  yarn.lock
Due: none

feat: update implementation of questionanire response mapping
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/common/sykmelding-utils.test.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/data-layer/fhir/write/mappers/document-reference.test.ts
  src/core/data-layer/fhir/write/mappers/document-reference.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.test.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: move toggle fetch cookie lookup out of after in non-pilot-user check
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use new @navikt/smart-on-fhir lib to test
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use @navikt/tsm-oxfmt shared config
  .lintstagedrc.mjs
  .oxfmtrc.json
  README.md
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/bruksvilkar.mdx
  docs/fhir/condition.md
  docs/fhir/document-reference.md
  docs/fhir/encounter.md
  docs/fhir/organization.md
  docs/fhir/patient.md
  docs/fhir/practitioner.md
  docs/smart/helseid-on-smart-on-fhir.md
  e2e/README.md
  e2e/package.json
  oxfmt.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
