Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: simplify api integration tests
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: syncronize typst PDF generation with new changes
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/app/dev/debug-typst/route.tsx
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/pdf/pdf-service.ts
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove tree from data payloads and graphql
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/rules.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/dev/mock-engine/SykInnApiMock.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use postgres 17 in integration tests (same as syk-inn-api)
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: create a simple load test in integration tests
  package.json
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: deploy branch to dev-gcp
  .github/workflows/deploy.yml
  src/lib/test/syk-inn-api.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make it easier to run against local syk-inn-api (integration)
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: small breaking API tweaks in preperation of ktor deploy
  e2e/multi-mode/form-submit.spec.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: prepare deploy.yaml for main
  .github/workflows/deploy.yml
  src/core/services/pdl/pdl-api-service.ts
  src/lib/test/syk-inn-api.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: resolve future bug in api-fetcher
  src/core/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches + lint-staged major
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: have wonderwall auth helseid after SMART launch
  .nais/nais-dev.yaml
  package.json
Due: yarn prettier --write

Revert "feat: have wonderwall auth helseid after SMART launch"
  .nais/nais-dev.yaml
  package.json
Due: yarn prettier --write

feat: have wonderwall auth helseid after SMART launch
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: add logging to whether the access token and id token is available from the smart app
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/data-layer/helseid/token/tokens.ts
Due: yarn eslint --fix --max-warnings=0

feat: support /feedback in standalone
  src/app/(standalone)/(logged-in)/feedback/route.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel (+ some snacks)
  .yarnrc.yml
  e2e/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: format everything, oxfmt fast
  .lintstagedrc.mjs
Due: none

feat: add logging to whether the access token and id token is available from the smart app.
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/data-layer/helseid/token/tokens.ts
Due: yarn eslint --fix --max-warnings=0

fix: test verified, helseid tokens are present
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: add feature toggle and redirect to wonderwall for HelseID auth test
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

fix: ensure logging of toggle before SMART launching
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: format
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

fix: relative redirect path
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

fix: use url params
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

refactor: prepare for more variations of sykmelding form
  eslint.config.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.ts
  src/features/ny-sykmelding-form/NoActivePasientWarning.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormVariants.tsx
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingdagerSykmeldingForm.tsx
  src/features/ny-sykmelding-form/variants/form-props.ts
  src/features/ny-sykmelding-form/variants/normal/NormalSykmelding.tsx
  src/features/ny-sykmelding-form/variants/useHandleFormSubmit.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove unused feature toggle
  e2e/actions/toggle-overrides.ts
  e2e/fhir/fhir-feedback.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(standalone)/(logged-in)/feedback/route.ts
  src/components/feedback/FeedbackButton.tsx
  src/components/feedback/full-feedback/FullFeedbackForm.tsx
  src/components/feedback/useFeedback.ts
  src/core/services/feedback/feedback-service.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/ny-sykmelding-form/NySykmeldingFormVariants.tsx
Due: yarn eslint --fix --max-warnings=0

chore: introduce new toggle SYK_INN_SYKMELDING_BEHANDLINGSDAGER
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

feat: working 'split button' concept for start sykmelding, shortcutable
  src/components/shortcut/ShortcutButtons.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
  src/lib/hooks/shortcuts/useShortcut.ts
Due: yarn eslint --fix --max-warnings=0

chore: use fancy action menu behind new feature toggle
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

chore: yarn 4.15.0
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: move form state that was weirdly placed to where it belongs
  src/dev/tools/NySykmeldingFormDevTools.tsx
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.test.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/sections/aktivitet/ArsakerPicker.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
