Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: disable SLSA for demo app
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: manually upload SBOM
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: more playwright shards
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore(deps): minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: tweak dashboard loading state so refetches are less annoying
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/queries/dashboard.graphql
  src/core/data-layer/graphql/queries/konsultasjon.graphql
  src/features/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add devtool for deleting 'sykmelding access cookie'
  src/dev/tools/DevTools.tsx
  src/dev/tools/InternalDevTools.tsx
  src/dev/tools/InternalDevToolsAction.ts
Due: yarn eslint --fix --max-warnings=0

chore: move e2e to dedicated workspace
  .github/workflows/deploy.yml
  e2e/.gitignore
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump aksel deps
  README.md
  package.json
  yarn.lock
Due: yarn prettier --write

chore: test no yarn cache for e2e shards
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: all da deps
  package.json
  yarn.lock
Due: yarn prettier --write

feat: split current and previous into two cards
  e2e/fhir/fhir-dashboard-redacted.spec.ts
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-interactions.spec.ts
  e2e/fhir/fhir-form-persistence.spec.ts
  e2e/package.json
  e2e/tsconfig.json
  eslint.config.ts
  knip.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/dashboard.graphql
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/root.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/combo-table/ComboTable.tsx
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/dashboard/historical/HistoricalCard.tsx
  src/features/dashboard/historical/RequestSykmeldinger.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: show deployed version in app
  .env.development
  src/app/(fhir)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

style: remove padding that causes unecessary scroll
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
Due: yarn eslint --fix --max-warnings=0

chore: link to commit sha
  src/app/(fhir)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add build time to build info
  .env.development
  src/app/(fhir)/layout.tsx
  src/components/misc/BuildInfo.tsx
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: OTEL up texas token exchange
  src/core/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove unecessary timeouts in two e2e tests
  e2e/fhir/fhir-dashboard-redacted.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump yarn
  package.json
Due: yarn prettier --write

chore(deps): bump jose
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: only allow pilot users to call /graphql
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: enable syk-inn-api dry-run for non-pilot-users
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: enable global not found (probably doesn't work)
  next.config.ts
  src/app/global-not-found.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: set attributes on right OTEL spans for dry run
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: more interesting dry-run otel attributes
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add concept of 'Light'-sykmelding (older than 1 day)
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/core/data-layer/common/sykmelding-utils.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/possible-types.generated.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/sykmelding/common.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/data-layer/graphql/schema/sykmelding/light.graphqls
  src/core/data-layer/graphql/schema/sykmelding/redacted.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: sort sykmeldinger in table
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

fix: whops wrong sort order
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

perf: dedupe som FHIR requests
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): monday bumps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove unused @ts-expect-error directives
  eslint.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: add 'active patient' as an GQL extension
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  e2e/standalone/standalone-form-submit.spec.ts
  src/core/data-layer/common/pilot-user-utils.ts
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/multi-user/multi-user-apollo-link.ts
  src/core/data-layer/fhir/smart/active-patient.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/apollo/current-patient-link.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/yoga-server.ts
  src/core/data-layer/graphql/yoga-utils.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
