Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

feat: logic for showing 'utfyllende spørsmål' if sykefravaer is more than 7 weeks
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

chore: adjustments to questions, clean up code, add more tests
  src/core/data-layer/common/sykmelding-utils.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

feat: indicate non-required answer, temporary fix functional tests
  e2e/fhir-form-aareg.spec.ts
  e2e/fhir-form-submit.spec.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add tests, refactor and only return newest continious period in filterSykmeldingWithingDaysGap
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.test.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: updated fsh docs using an open splice instead of valueset
  docs/fsh-profiles/fsh-generated/data/fsh-index.json
  docs/fsh-profiles/fsh-generated/fsh-index.txt
  docs/fsh-profiles/fsh-generated/resources/StructureDefinition-no-basis-condition.json
  docs/fsh-profiles/fsh-generated/resources/ValueSet-no-basis-condition-codes.json
  docs/fsh-profiles/input/fsh/NoBasisConditionCodeVS.fsh
  docs/fsh-profiles/input/fsh/condition-basis.fsh
Due: yarn prettier --write

chore: move check on 'utdypende sporsmal' to daterange so it's possible to filter out previous continous sykmeldinger from current period
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.test.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: conditional rendring of each question
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

chore: see if there are any non-valid telecom values in dry-run
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: bump deeeeeps
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: implement soft and hard stops according to the latest decisions
  e2e/fhir-form-submit.spec.ts
  src/dev/tools/LocalAndDemoBonusActionMenu.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/explanations/HardStop.tsx
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
  src/features/ny-sykmelding-form/summary/rules/rule-texts.ts
  src/features/ny-sykmelding-form/summary/rules/useSubmitRuleState.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore: put texts where they belong (soft-/hard-stop)
  .prettierignore
  src/features/ny-sykmelding-form/summary/rules/rule-texts.ts
Due: yarn eslint --fix --max-warnings=0

feat: only ICD10 in pilot
  src/core/data-layer/common/diagnose-search.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/diagnose.graphql
  src/core/data-layer/graphql/schema/root.graphqls
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: e2e tests should all use ICPC2 diagnosis
  e2e/fhir-dashboard.spec.ts
  e2e/fhir-form-interactions.spec.ts
  e2e/fhir-form-persistence.spec.ts
  e2e/fhir-form-submit.spec.ts
  src/core/data-layer/common/diagnose-search.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump @navikt deps and next
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: allow launching mock with selectable practitioner and organization
  e2e/actions/fhir-actions.ts
  e2e/fhir-form-rule-validations.spec.ts
  e2e/fhir-multi-user.spec.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/data/organization.ts
  libs/fhir-mock/src/data/patient-session.ts
  libs/fhir-mock/src/data/patients.ts
  libs/fhir-mock/src/data/practitioner.ts
  libs/fhir-mock/src/data/static/practitioner-koman-magnar.ts
  libs/fhir-mock/src/resources/organization/router.ts
  libs/fhir-mock/src/server-launch-types.ts
  libs/fhir-mock/src/server-session.ts
  libs/fhir-mock/src/types.ts
  src/app/(dev)/page.tsx
  src/app/(fhir)/error.tsx
  src/app/(fhir)/fhir/(fhir-launched)/launched-errors.tsx
  src/components/errors/NoValidHPR.tsx
  src/components/user-warnings/LoggedOutWarning.tsx
  src/dev/tools/DevRelauncher.tsx
  src/dev/tools/ScenarioLinks.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add mock organization with too short orgnr
  e2e/fhir-form-rule-validations.spec.ts
  libs/fhir-mock/src/data/organization.ts
  libs/fhir-mock/src/server-session.ts
  src/dev/tools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix demo launch with organization
  src/dev/tools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add reset button to dev scenario picker
  src/dev/tools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use child logger for yoga
  src/core/data-layer/graphql/yoga-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: use logger-prefix next patched logs
  Dockerfile
  next-logger.config.cjs
  next-logger.config.js
Due: yarn prettier --write

test(e2e): UGYLDIG_ORGNR_LENGDE(broken), +PERIODER_MANGLER, +FRADATO_ETTER_TILDATO
  e2e/fhir-form-rule-validations.spec.ts
  src/features/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
Due: yarn eslint --fix --max-warnings=0

test(e2e): remaining periode-validations
  e2e/actions/user-actions.ts
  e2e/fhir-form-interactions.spec.ts
  e2e/fhir-form-rule-validations.spec.ts
  e2e/fhir-form-submit.spec.ts
Due: yarn eslint --fix --max-warnings=0

refactor: put 100% sykmelding payload values where they belong
  e2e/fhir-form-submit.spec.ts
  e2e/fhir-form-utvidedesporsmal.spec.ts
  knip.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test(e2e): more TODO/stubs for validations
  e2e/fhir-form-rule-validations.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: add quick debt.sh script
  .github/workflows/deploy.yml
  scripts/debt.sh
Due: yarn prettier --write

chore: why two deploys for dev :shrug:
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: @navikt/next-logger beta test
  package.json
  yarn.lock
Due: yarn prettier --write

test(e2e): fix hardcoded dates
  e2e/fhir-form-submit.spec.ts
Due: yarn eslint --fix --max-warnings=0

style: cooler dev launch
  src/dev/tools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

style: tweak 'Pasientopplysninger' design (dashboard)
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/components/animation/LoadableHeader.tsx
  src/components/layout/Page.tsx
  src/components/shortcut/ShortcutButtons.tsx
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/card/DashboardCard.tsx
Due: yarn eslint --fix --max-warnings=0

style: make draft dashboard links italic
  src/features/dashboard/combo-table/draft/DraftPeriodeLink.tsx
Due: yarn eslint --fix --max-warnings=0

style: tweak dashboard action buttons
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
Due: yarn eslint --fix --max-warnings=0

test(e2e): update tests to use new dashboard elements
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-dashboard.spec.ts
  e2e/fhir-form-interactions.spec.ts
  e2e/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: replace @navikt/oasis with @navikt/texas
  package.json
  src/core/services/api-fetcher.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @navikt/pino-logger that has trace_id/span_id
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write
