Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: also save commit hash when accepting bruksvilkår
  libs/syk-zara/src/bruksvilkar/client.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): we bumpin'
  e2e/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use correct key for bruksvilkår admin client
  libs/syk-zara/src/bruksvilkar/admin/client.ts
Due: yarn eslint --fix --max-warnings=0

chore: set dev bruksvilkår version to 0.9
  docs/bruksvilkar.mdx
Due: yarn prettier --write

chore: proper zod typing og Bruksvilkår valkey
  .env.development
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/bruksvilkar/index.ts
  libs/syk-zara/src/bruksvilkar/schema.ts
  libs/syk-zara/src/feedback/schema/common.ts
  libs/syk-zara/src/feedback/schema/meta-schema.ts
  libs/syk-zara/src/feedback/schema/schema.ts
  libs/syk-zara/src/lib/zod.ts
Due: yarn eslint --fix --max-warnings=0

feat: finish word → markdown bruksvilkår convert
  docs/bruksvilkar.mdx
  next.config.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/mdx-components.module.css
  src/mdx-components.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: useLocalValkey should default to false in local dev
  .env.development
Due: none

chore: set bruksvilkår version to 1.0
  docs/bruksvilkar.mdx
  src/mdx-components.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: track bruksvilkår in OTEL tracing
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
Due: yarn eslint --fix --max-warnings=0

fix: remove e2e tmp file on macos (#154)
  scripts/document-e2e.sh
Due: none

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: newer gotenberg
  gotenberg/Dockerfile
Due: none

feat: add fields and mapping for uke 17 and 39 questions
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
Due: yarn eslint --fix --max-warnings=0

chore: everything bumps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove SYK_INN_AUTO_BIDIAGNOSER toggle
  e2e/fhir/fhir-form-submit.spec.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/ny-sykmelding-form/diagnose/useDiagnoseSuggestions.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak espen's default diagnoser, move 3 diagnoser to kari
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/utils/submit-utils.ts
  libs/fhir-mock/src/data/condition.ts
  src/features/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add new questions for uke 17 and 39, fix logic to filter on gap before checking if previous questions have been answered
  e2e/actions/user-actions.ts
  src/core/data-layer/common/continuous-sykefravaer-utils.test.ts
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/core/data-layer/common/questions.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/pdf/html/content.tsx
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: add more spacing to questions
  src/core/data-layer/common/questions.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix typo on utdypendeSporsmal field
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix mappings and write new test cases for uke 17 and 39
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  src/core/data-layer/common/questions.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/scenarios/scenarios.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: verifying behandler seems to make graphql response correct???
  e2e/README.md
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make integration tests work with ktor version
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

docks: Remove 'her-id' identifier from practitioner.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

chore: small breaking API tweaks in preperation of ktor deploy
  e2e/multi-mode/form-submit.spec.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/data-layer/pdf/html/components/AktivitetItems.tsx
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

dev: deploy dev
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: revert
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): update yarn and some dev deps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove utfall from dashboard table, hide status heading text
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

temp: changes to questions
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/actions/user-verifications.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/fhir/dashboard/sykmelding.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/features/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/meldinger/MeldingTilArbeidsgiverField.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/features/ny-sykmelding-form/tilbakedatering/TilbakedateringDate.tsx
  src/features/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: arbeidsforhold -> arbeidsgiver in question texts
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/actions/user-verifications.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/fhir/dashboard/sykmelding.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove tree from data payloads and graphql
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/rules.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/dev/mock-engine/SykInnApiMock.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
