Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore/fix husky woof woof
  package.json
Due: yarn prettier --write

chore: test @navikt/next-logger@next migration
  package.json
  src/app/api/logger/route.ts
  src/app/api/mocks/fhir/auth/[[...path]]/route.ts
  src/app/api/mocks/helseid/[[...path]]/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add isomorphic secure logger
  .nais/nais-dev.yaml
  next.config.ts
  package.json
  src/app/api/secure-logger/route.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  package.json
  yarn.lock
Due: yarn prettier --write

feat: starting implementation of secure auth [skip ci]
  next.config.ts
  package.json
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/invalid-code/page.tsx
  src/app/(fhir)/fhir-secure/invalid-issuer/page.tsx
  src/app/(fhir)/fhir-secure/launch/route.ts
  src/app/(fhir)/fhir-secure/page.tsx
  src/app/(fhir)/fhir-secure/resources/context/Patient/route.tsx
  src/app/api/mocks/fhir/(resources)/[[...path]]/route.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/fhir/components/FhirSecureDataProvider.tsx
  src/fhir/fhir-data-secure/fhir-data-secure-server-service.ts
  src/fhir/fhir-data-secure/fhir-data-secure-service.ts
  src/fhir/sessions-secure/session-schema.ts
  src/fhir/sessions-secure/session-store-in-mem.ts
  src/fhir/sessions-secure/session-store-redis.ts
  src/fhir/sessions-secure/session-store.ts
  src/fhir/sessions/session-lifecycle.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: redirect to secure auth based on toggle (ft. hacky solution)
  next.config.ts
  src/app/(fhir)/fhir-secure/invalid-code/page.tsx
  src/app/(fhir)/fhir-secure/invalid-issuer/page.tsx
  src/app/(fhir)/fhir-secure/launch/page.tsx
  src/app/(fhir)/fhir-secure/launch/route.ts
  src/fhir/fhir-data-secure/fhir-data-secure-service.ts
  src/fhir/sessions-secure/session-schema.ts
  src/fhir/sessions-secure/session-store-in-mem.ts
  src/fhir/sessions-secure/session-store.ts
  src/fhir/sessions/session-lifecycle.ts
  src/middleware.ts
  src/toggles/toggles.ts
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: add state and state valdiation to secure auth flow
  .nais/nais-dev.yaml
  package.json
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
  src/app/(fhir)/fhir/launch/page.tsx
  src/fhir/sessions-secure/session-store.ts
  src/toggles/env.ts
  src/toggles/toggles.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

annotate pkce steps for debugging
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
Due: yarn eslint --fix --max-warnings=0

farming commits
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore/adding possibly missing slash in callback
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
Due: yarn eslint --fix --max-warnings=0

split step 1
  src/app/(fhir)/fhir-secure/launch/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore/fixed it
  src/app/(fhir)/fhir-secure/callback/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: added fix for webmed practitioner in token
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/fhir/fhir-data-secure/fhir-data-secure-server-service.ts
  src/fhir/fhir-data-secure/fhir-data-secure-service.ts
  src/fhir/sessions-secure/session-schema.ts
  src/fhir/sessions-secure/session-store.ts
Due: yarn eslint --fix --max-warnings=0

chore: revert custom crypto code, use openid-client's stuff
  package.json
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: dont try an add undefined values to redis
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/sessions-secure/session-schema.ts
  src/fhir/sessions/session-lifecycle.ts
Due: yarn eslint --fix --max-warnings=0

docs: initial detailed sequence diagram of secure smart launch [skip ci]
  docs/smart/smart-launch.md
Due: yarn prettier --write

chore: mermaid smart launch simplified draft
  docs/smart/smart-launch-simplified.md
Due: yarn prettier --write

docs: move smart app to seperate box [skip ci]
  docs/smart/smart-launch.md
Due: yarn prettier --write

chore: refactor syk-inn-api/pdl-cache api fetching to use same error handling
  src/app/(fhir)/fhir-secure/callback/route.ts
  src/app/(fhir)/fhir-secure/launch/page.tsx
  src/app/(fhir)/fhir-secure/page.tsx
  src/app/(fhir)/fhir-secure/resources/context/Patient/route.tsx
  src/app/(fhir)/fhir/person/route.ts
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/fhir-secure/fhir-data/fhir-data-server.ts
  src/fhir-secure/fhir-data/fhir-data-service.ts
  src/fhir-secure/fhir-data/fhir-data.ts
  src/fhir-secure/fhir-data/non-fhir-data.ts
  src/fhir-secure/sessions/session-schema.ts
  src/fhir-secure/sessions/session-store-in-mem.ts
  src/fhir-secure/sessions/session-store-redis.ts
  src/fhir-secure/sessions/session-store.ts
  src/fhir/components/FhirSecureDataProvider.tsx
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/api-fetcher.ts
  src/services/pdl/PdlApiService.ts
  src/services/syk-inn-api/SykInnApiService.ts
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: add smart pre-requisite [skip ci]
  docs/smart/smart-launch.md
Due: yarn prettier --write

docs: add smart references to step 6 and 7 [skip ci]
  docs/smart/smart-launch.md
Due: yarn prettier --write

docs: add detailed references to steps 9, 10, 23, 24, 31, 32, 38, 39 [skip ci]
  docs/smart/smart-launch.md
Due: yarn prettier --write

docs: fix simplifed smart launch sequence
  docs/smart/smart-launch-simplified.md
Due: yarn prettier --write

docs: add note to simplifed [skip ci]
  docs/smart/smart-launch-simplified.md
Due: yarn prettier --write

docs: fix broken links in README.md [skip ci]
  README.md
Due: yarn prettier --write

chore: simplify patient ident
  e2e/actions/user-actions.ts
  src/components/ny-sykmelding-form/aktivitet/form-summary/NySykmeldingFormSummary.tsx
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
  src/components/ny-sykmelding-form/pasient/pasient-utils.ts
  src/data-fetcher/data-service.ts
  src/fhir-secure/fhir-data/fhir-data.ts
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/fhir/fhir-data/schema/mappers/patient.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
