Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: better invalid patient error for :angeryer-erik:
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/components/help/SessionIdInfo.tsx
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: also show :angeryer-erik:-error for bad practitioner
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bumpibjørnane
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: basic annen lovfestet fraværsgrunn select (without B)
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/multi-mode/form-annen-fravarsgrunn.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/utils/submit-utils.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/common/annen-fravarsgrunn.ts
  src/core/data-layer/draft/draft-client.test.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/DraftBuilder.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.ts
  src/features/ny-sykmelding-form/andre-sporsmal/AndreSporsmalSection.tsx
  src/features/ny-sykmelding-form/andre-sporsmal/AnnenFravarsgrunnField.tsx
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt/next-logger
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add annen fravar type 'B' anyway :shrug:
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/multi-mode/form-annen-fravarsgrunn.spec.ts
  src/core/data-layer/common/annen-fravarsgrunn.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/features/ny-sykmelding-form/andre-sporsmal/AnnenFravarsgrunnField.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add new questions to schemas
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update graphql and other types to match what we will get from syk-inn-api
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/data-layer/graphql/schema/utdypende-sporsmal.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: re-add questions to frontend state
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-tekster.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: new mapping for 'utdypende sporsmal' to allow backend to store question texts used in form
  src/core/data-layer/common/questions.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: rename new utdypendeSporsmal field to match syk-inn-api fields
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: deploy gotenberg to tsm namespace
  .github/workflows/deploy-gotenberg.yml
  .nais/nais-dev-gotenberg.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod-gotenberg.yaml
  .nais/nais-prod.yaml
  gotenberg/Dockerfile
  gotenberg/fonts/SourceSans3-Italic-VariableFont_wght.ttf
  gotenberg/fonts/SourceSans3-VariableFont_wght.ttf
Due: yarn prettier --write

chore: tweak gotenberg
  .github/workflows/deploy-gotenberg.yml
  .nais/nais-dev-gotenberg.yaml
  .nais/nais-prod-gotenberg.yaml
Due: yarn prettier --write

chore: gotenberg for PDF generation
  docker-compose.yml
  package.json
  scripts/pre-dev.sh
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/common/sykmelding-utils.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/data-layer/pdf/gotenberg-config.ts
  src/core/data-layer/pdf/gotenberg-service.ts
  src/core/data-layer/pdf/html/components/AktivitetItems.tsx
  src/core/data-layer/pdf/html/components/ValueItem.tsx
  src/core/data-layer/pdf/html/content.tsx
  src/core/data-layer/pdf/html/fixed.tsx
  src/core/data-layer/pdf/html/render.ts
  src/core/data-layer/pdf/html/styles/content.css.ts
  src/core/data-layer/pdf/html/styles/header-footer.css.ts
  src/core/data-layer/pdf/html/styles/reset.css.ts
  src/core/services/pdl/pdl-api-utils.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump alotta minors
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: add new feedback toggle
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump minors, incl. react vulns
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: configure @navikt/syk-zara lib
  .github/workflows/syk-zara-release.yml
  libs/syk-zara/.gitignore
  libs/syk-zara/README.md
  libs/syk-zara/package.json
  libs/syk-zara/src/index.ts
  libs/syk-zara/tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add key function to syk-zara
  .github/workflows/deploy.yml
  libs/syk-zara/src/index.ts
  libs/syk-zara/src/keys.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: set null as default for new value of utdypende opplysninger
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: export key prefix
  libs/syk-zara/src/keys.ts
Due: yarn eslint --fix --max-warnings=0

fix: feedback valkey key
  libs/syk-zara/src/keys.ts
Due: yarn eslint --fix --max-warnings=0

fix: add harFlere to arbeidsforhold
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: first real implementation of @navikt/syk-zara
  libs/syk-zara/package.json
  libs/syk-zara/src/admin/client.ts
  libs/syk-zara/src/admin/index.ts
  libs/syk-zara/src/client.ts
  libs/syk-zara/src/index.ts
  libs/syk-zara/src/lib/keys.ts
  libs/syk-zara/src/lib/schema.ts
  libs/syk-zara/src/lib/utils.ts
  libs/syk-zara/src/pubsub/channels.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bumparino
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: syk-zara - expose subscriptions
  libs/syk-zara/src/admin/index.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
Due: yarn eslint --fix --max-warnings=0

chore: syk-zara - expose Feedback type
  libs/syk-zara/src/index.ts
Due: yarn eslint --fix --max-warnings=0

chore: syk-zara - createRaw in admin client for seeding
  libs/syk-zara/src/admin/client.ts
Due: yarn eslint --fix --max-warnings=0

chore: syk-zara - fix createRaw/insert typing
  libs/syk-zara/src/admin/client.ts
  libs/syk-zara/src/client.ts
Due: yarn eslint --fix --max-warnings=0

chore: syk-zara - add sentiment and category
  libs/syk-zara/src/admin/client.ts
  libs/syk-zara/src/client.ts
  libs/syk-zara/src/lib/schema.ts
Due: yarn eslint --fix --max-warnings=0
