Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: export config from fhir-mock
  libs/fhir-mock/src/router.ts
Due: yarn eslint --fix --max-warnings=0

chore(fhir-mock): fix type export
  libs/fhir-mock/src/router.ts
Due: yarn eslint --fix --max-warnings=0

chore(fhir-mock): check types before publishing
  .github/workflows/fhir-mock-release.yml
  libs/fhir-mock/tsconfig.json
Due: yarn prettier --write

chore: remove webmeb Practitioner hack
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/sessions/session-schema.ts
  src/fhir/sessions/session-store.ts
Due: yarn eslint --fix --max-warnings=0

chore: Revert "chore: remove webmeb Practitioner hack"
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/sessions/session-schema.ts
  src/fhir/sessions/session-store.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix standalone wonderwall login in dev
  .nais/nais-dev.yaml
Due: yarn prettier --write

feat: v0 of a conceptual server only smart client library
  libs/smart-on-fhir/.gitignore
  libs/smart-on-fhir/README.md
  libs/smart-on-fhir/package.json
  libs/smart-on-fhir/src/client/index.ts
  libs/smart-on-fhir/src/client/logger.ts
  libs/smart-on-fhir/src/client/schema/SmartConfiguration.ts
  libs/smart-on-fhir/src/client/schema/TokenResponse.ts
  libs/smart-on-fhir/src/client/smart/client.ts
  libs/smart-on-fhir/src/client/smart/fetcher.ts
  libs/smart-on-fhir/src/client/smart/launch/authorization.ts
  libs/smart-on-fhir/src/client/smart/launch/token.ts
  libs/smart-on-fhir/src/client/smart/smart-configuration.ts
  libs/smart-on-fhir/src/client/storage/index.ts
  libs/smart-on-fhir/src/client/storage/schema.ts
  libs/smart-on-fhir/src/client/utils.ts
  libs/smart-on-fhir/src/zod/bundle.ts
  libs/smart-on-fhir/src/zod/common.ts
  libs/smart-on-fhir/src/zod/condition.ts
  libs/smart-on-fhir/src/zod/documentReference.ts
  libs/smart-on-fhir/src/zod/encounter.ts
  libs/smart-on-fhir/src/zod/index.ts
  libs/smart-on-fhir/src/zod/patient.ts
  libs/smart-on-fhir/src/zod/practitioner.ts
  libs/smart-on-fhir/tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix(fhir-mock): have condition search return bundle
  libs/fhir-mock/src/data/condition.ts
Due: yarn eslint --fix --max-warnings=0

fix: diagnosis search is bundle
  package.json
  src/fhir/fhir-data/fhir-data.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: put zod types into a lib so both @navikt/fhir-mock and @navikt/smart-on-fhir can use them
  .github/workflows/fhir-zod-release.yml
  libs/fhir-mock/package.json
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/resources/document-reference/create-document-reference.ts
  libs/fhir-zod/README.md
  libs/fhir-zod/package.json
  libs/fhir-zod/src/bundle.ts
  libs/fhir-zod/src/common.ts
  libs/fhir-zod/src/condition.ts
  libs/fhir-zod/src/documentReference.ts
  libs/fhir-zod/src/encounter.ts
  libs/fhir-zod/src/index.ts
  libs/fhir-zod/src/patient.ts
  libs/fhir-zod/src/practitioner.ts
  libs/fhir-zod/tsconfig.json
  libs/smart-on-fhir/package.json
  libs/smart-on-fhir/src/client/smart/client.ts
  libs/smart-on-fhir/src/zod/condition.ts
  next.config.ts
  package.json
  src/data-fetcher/data-service.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/mappers/diagnosis.ts
  src/fhir/fhir-data/mappers/patient.ts
  src/fhir/fhir-data/mappers/practitioner.ts
  src/fhir/fhir-data/schema/common.ts
  src/fhir/fhir-data/schema/documentReference.ts
  src/fhir/fhir-data/schema/encounter.ts
  src/fhir/fhir-data/schema/patient.ts
  src/fhir/fhir-data/schema/practitioner.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: put zod types into a lib so both @navikt/fhir-mock and @navikt/smart-on-fhir can use them
  .github/workflows/fhir-zod-release.yml
  libs/fhir-mock/package.json
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/resources/document-reference/create-document-reference.ts
  libs/fhir-zod/.gitignore
  libs/fhir-zod/README.md
  libs/fhir-zod/package.json
  libs/fhir-zod/src/bundle.ts
  libs/fhir-zod/src/common.ts
  libs/fhir-zod/src/condition.ts
  libs/fhir-zod/src/documentReference.ts
  libs/fhir-zod/src/encounter.ts
  libs/fhir-zod/src/index.ts
  libs/fhir-zod/src/patient.ts
  libs/fhir-zod/src/practitioner.ts
  libs/fhir-zod/tsconfig.json
  libs/smart-on-fhir/package.json
  libs/smart-on-fhir/src/client/smart/client.ts
  libs/smart-on-fhir/src/zod/condition.ts
  next.config.ts
  package.json
  src/data-fetcher/data-service.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/mappers/diagnosis.ts
  src/fhir/fhir-data/mappers/patient.ts
  src/fhir/fhir-data/mappers/practitioner.ts
  src/fhir/fhir-data/schema/common.ts
  src/fhir/fhir-data/schema/documentReference.ts
  src/fhir/fhir-data/schema/encounter.ts
  src/fhir/fhir-data/schema/patient.ts
  src/fhir/fhir-data/schema/practitioner.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix(fhir-mock): fix dependent lib
  .github/workflows/fhir-mock-release.yml
Due: yarn prettier --write

chore: fix tsc in @navikt/smart-on-fhir [skip ci]
  libs/smart-on-fhir/.gitignore
  libs/smart-on-fhir/package.json
  libs/smart-on-fhir/tsconfig.json
  yarn.lock
Due: yarn prettier --write

chore: refactor SmartClients
  libs/smart-on-fhir/src/client/index.ts
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/smart/client-errors.ts
  libs/smart-on-fhir/src/client/smart/launch/authorization.ts
  libs/smart-on-fhir/src/client/smart/launch/token-schema.ts
  libs/smart-on-fhir/src/client/smart/launch/token.ts
  libs/smart-on-fhir/src/client/smart/resources/fetcher.ts
  libs/smart-on-fhir/src/client/smart/well-known/smart-configuration-schema.ts
  libs/smart-on-fhir/src/client/smart/well-known/smart-configuration.ts
  libs/smart-on-fhir/src/client/storage/schema.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump deps
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: implement webmed hack, seperate FHIR server and issuer in session
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/smart/launch/token-schema.ts
  libs/smart-on-fhir/src/client/smart/resources/fetcher.ts
  libs/smart-on-fhir/src/client/smart/well-known/smart-configuration.ts
  libs/smart-on-fhir/src/client/storage/index.ts
  libs/smart-on-fhir/src/client/storage/schema.ts
  libs/smart-on-fhir/src/client/utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: use @navikt/smart-on-fhir lib
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/resources/context/Conditions/route.ts
  src/app/(fhir)/fhir/resources/context/Encounter/route.ts
  src/app/(fhir)/fhir/resources/context/Patient/route.tsx
  src/app/(fhir)/fhir/resources/person/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/submit/route.ts
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/(fhir)/fhir/verify-token/route.ts
  src/fhir/auth/session.ts
  src/fhir/auth/verify.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/sessions/session-schema.ts
  src/fhir/sessions/session-store-in-mem.ts
  src/fhir/sessions/session-store-valkey.ts
  src/fhir/sessions/session-store.ts
  src/fhir/smart-client.ts
  src/services/valkey/client.ts
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: faro instrumentation?
  .env.development
  .nais/envs/.env.dev
  package.json
  src/components/ny-sykmelding-form-multi-step/useNySykmeldingMutation.ts
  src/faro/faro.ts
  src/instrumentation-client.ts
  src/providers/Providers.tsx
  src/utils/env.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use route groups so FhirDataProvider can be shared across all 'launched' routes
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Conditions/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Encounter/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Patient/route.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/person/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/write-to-ehr/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/verify-token/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add basic dashboard instead of multi step landing page
  e2e/actions/user-actions.ts
  e2e/fhir-multi-step.spec.ts
  e2e/fhir.spec.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/verify-token/route.ts
  src/app/(fhir)/layout.tsx
  src/components/dashboard/OpprettNySykmeldingCard.tsx
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/components/misc/AssableNextLink.tsx
  src/components/ny-sykmelding-form-multi-step/NySykmeldingFormMultiStep.tsx
  src/components/ny-sykmelding-form-multi-step/NySykmeldingFormSections.tsx
  src/components/ny-sykmelding-form-multi-step/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form-multi-step/pasient/AktivitetSection.tsx
  src/components/ny-sykmelding-form-multi-step/start/FormStart.tsx
  src/components/ny-sykmelding-form-multi-step/steps/StepsSummary.tsx
  src/components/ny-sykmelding-form-multi-step/steps/useFormStep.ts
  src/components/ny-sykmelding-form-multi-step/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/fhir/components/FhirHeader.tsx
  src/fhir/components/FhirHeaderUser.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat(fhir-mock) Add organization to mock
  docs/fhir/_oversikt.md
  docs/fhir/organization.md
  libs/fhir-mock/src/data/index.ts
  libs/fhir-mock/src/data/organization.ts
  libs/fhir-mock/src/resources/organization/router.ts
  libs/fhir-mock/src/router.ts
  libs/fhir-zod/src/index.ts
  libs/fhir-zod/src/organization.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update gitignore
  .gitignore
Due: none

chore: remove old non-multistep form implementation
  e2e/fhir-multi-step.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/components/form/diagnose-combobox/AkselifiedCombobox.module.css
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form-multi-step/diagnose/DiagnosePicker.tsx
  src/components/ny-sykmelding-form-multi-step/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormValues.ts
  src/components/ny-sykmelding-form/NySykmeldingOpprettProgressModal.module.css
  src/components/ny-sykmelding-form/NySykmeldingOpprettProgressModal.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.module.css
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/form-summary/NySykmeldingFormSummary.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverManuellInputSection.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverWithDataField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSmartPicker.tsx
  src/components/ny-sykmelding-form/errors/FormErrors.tsx
  src/components/ny-sykmelding-form/errors/errorUtils.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
  src/components/ny-sykmelding-form/pasient/PasientSection.tsx
  src/components/ny-sykmelding-form/practitioner/PractitionerSection.tsx
  src/components/tidligere-sykmeldinger/TidligereSykmeldingerTimeline.tsx
  src/devtools/ScenarioLinks.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/toggles/env.ts
  src/toggles/toggles.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: migrate old monolithic form tests to multistep
  e2e/actions/user-actions.ts
  e2e/fhir-multi-step.spec.ts
  e2e/fhir.spec.ts
  scripts/build-e2e.sh
  src/components/ny-sykmelding-form-multi-step/pasient/PeriodePicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump dev deps
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump runtime deps
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/data-fetcher/hooks/use-context-pasient.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: rename multi-step folder and components
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormSections.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnosePicker.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/pasient/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/pasient/AktivitetSection.tsx
  src/components/ny-sykmelding-form/pasient/PeriodePicker.module.css
  src/components/ny-sykmelding-form/pasient/PeriodePicker.tsx
  src/components/ny-sykmelding-form/steps/StepNavigation.tsx
  src/components/ny-sykmelding-form/steps/StepsSummary.tsx
  src/components/ny-sykmelding-form/steps/useFormStep.ts
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/summary/summary-text-utils.ts
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: align headers between dashboard and form
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/components/demo-warning.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove steps progress view in form
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/steps/StepsSummary.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove unused local devtools feature [skip ci]
  src/devtools/InternalDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: combine step 2 and 3 in ny sykmelding form
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  src/components/form/expandable-form-section/ExpandableFormSection.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormSections.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.module.css
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnosePicker.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/pasient/AktivitetSection.tsx
  src/components/ny-sykmelding-form/steps/StepNavigation.tsx
  src/components/ny-sykmelding-form/steps/useFormStep.ts
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: faro instrumentation?
  .env.development
  .nais/envs/.env.dev
  package.json
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/faro/faro.ts
  src/instrumentation-client.ts
  src/providers/Providers.tsx
  src/utils/env.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
