Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make submit payload assertable
  e2e/mocked-fhir.spec.ts
  e2e/request-utils.ts
Due: yarn eslint --fix --max-warnings=0

fix: use only date instead of datetime in form state
  e2e/mocked-fhir.spec.ts
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/utils/date.ts
Due: yarn eslint --fix --max-warnings=0

chore: use .nais
  .github/workflows/deploy-wonderwall.yml
  .github/workflows/deploy.yml
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/nais-demo.yaml
  .nais/nais-dev-wonderwall.yaml
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: main workflow
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: actions are not specific to fhir
  e2e/actions/fhir-actions.ts
  e2e/actions/user-actions.ts
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: standalone tests, organize utils and actions
  e2e/actions/standalone-actions.ts
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/standalone.spec.ts
  e2e/utils/request-utils.ts
Due: yarn eslint --fix --max-warnings=0

fix: e2e loopback
  src/helseid/helseid-resources.ts
  src/utils/url.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt stuff and next
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make e2e submit action even cooler because its snart jul
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/standalone.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): new years deps bump
  package.json
  yarn.lock
Due: yarn prettier --write

fix: use basepath for submit sykmelding
  src/components/ny-sykmelding-form/ny-sykmelding-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: add /api/whoami debug endpoint
  src/app/api/whoami/route.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bumparino
  package.json
  yarn.lock
Due: yarn prettier --write

chore: loopback stopped working? Lol
  Dockerfile
  src/utils/url.ts
Due: yarn eslint --fix --max-warnings=0

chore: use right node version in readme [skip ci]
  README.md
Due: yarn prettier --write

feat: add simple week picker to range input
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
Due: yarn eslint --fix --max-warnings=0

feat: try and infer fastlege from generalPractitioner FHIR data
  src/app/api/mocks/fhir/[[...path]]/data/patient-espen-eksempel.json
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/common.ts
  src/fhir/data-fetching/schema/mappers/oid.ts
  src/fhir/data-fetching/schema/mappers/patient.ts
  src/fhir/data-fetching/schema/patient.ts
  src/helseid/components/HelseIdDataServiceProvider.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

make general practitioner optional
  src/fhir/data-fetching/schema/patient.ts
Due: yarn eslint --fix --max-warnings=0

feat: diagonse encounter in mock fhir
  src/app/api/mocks/fhir/(resources)/Condition/[[...path]]/route.ts
  src/app/api/mocks/fhir/(resources)/[[...path]]/route.ts
  src/app/api/mocks/fhir/(resources)/data/diagnosis.ts
  src/app/api/mocks/fhir/(resources)/data/encounter-espen-komar.json
  src/app/api/mocks/fhir/(resources)/data/fhir-server/keys.ts
  src/app/api/mocks/fhir/(resources)/data/fhir-server/metadata.json
  src/app/api/mocks/fhir/(resources)/data/fhir-server/well-known.ts
  src/app/api/mocks/fhir/(resources)/data/index.ts
  src/app/api/mocks/fhir/(resources)/data/patient-espen-eksempel.json
  src/app/api/mocks/fhir/(resources)/data/practitioner-koman-magnar.json
  src/app/api/mocks/fhir/(resources)/data/smart-style.json
  src/app/api/mocks/fhir/(resources)/utils.ts
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSmartPicker.tsx
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/common.ts
  src/fhir/data-fetching/schema/condition.ts
  src/fhir/data-fetching/schema/encounter.ts
  src/fhir/data-fetching/schema/mappers/diagnosis.ts
  src/fhir/data-fetching/schema/mappers/patient.ts
  src/fhir/data-fetching/schema/mappers/practitioner.ts
  src/helseid/components/HelseIdDataServiceProvider.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump smoll deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: more token validation logging
  src/fhir/auth/verify.ts
Due: yarn eslint --fix --max-warnings=0

fix: normalize issuers without trailing slash
  src/fhir/issuers.ts
Due: yarn eslint --fix --max-warnings=0

fix: validate issuer correctly in token validation
  src/fhir/auth/verify.ts
Due: yarn eslint --fix --max-warnings=0

fix: save issuer in redis without trailing slash
  src/app/(fhir)/fhir/launch/page.tsx
  src/fhir/issuers.ts
Due: yarn eslint --fix --max-warnings=0

chore: make submit API specific to FHIR
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/app/api/verify-token/route.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/devtools/useAPIOverride.ts
  src/fhir/data-fetching/fhir-data-service.tsx
  src/helseid/components/HelseIdDataServiceProvider.tsx
  src/utils/wait.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix e2e tests
  e2e/actions/user-actions.ts
  e2e/standalone.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: move fhir token validation to fhir path
  src/app/(fhir)/fhir/verify-token/route.ts
  src/devtools/InternalDevTools.tsx
  src/fhir/components/FhirHeaderUser.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove /gib-token
  src/app/(standalone)/gib-token/route.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fetching and returning diagnose from encounter
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/encounter.ts
Due: yarn eslint --fix --max-warnings=0

feat: basic kvittering page with data fetching
  src/app/(fhir)/fhir/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/auth/api-utils.ts
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/sessions/session-lifecycle.ts
  src/helseid/components/HelseIdDataServiceProvider.tsx
  src/services/SykInnApiSchema.ts
  src/services/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: normalize naming around DataService and DataProvider
  README.md
  src/app/(fhir)/fhir/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/page.tsx
  src/app/(standalone)/layout.tsx
  src/app/api/mocks/fhir/(resources)/data/diagnosis.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/aktivitet/form-summary/NySykmeldingFormSummary.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverWithDataField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataProvider.tsx
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-behandler.ts
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSmartPicker.tsx
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
  src/components/ny-sykmelding-form/pasient/PasientSection.tsx
  src/components/ny-sykmelding-form/practitioner/PractitionerSection.tsx
  src/data-fetcher/data-provider.tsx
  src/data-fetcher/data-service.ts
  src/data-fetcher/hooks/use-context-pasient.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/components/FhirDataProvider.tsx
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/schema/common.ts
  src/fhir/fhir-data/schema/condition.ts
  src/fhir/fhir-data/schema/encounter.ts
  src/fhir/fhir-data/schema/mappers/diagnosis.ts
  src/fhir/fhir-data/schema/mappers/patient.ts
  src/fhir/fhir-data/schema/mappers/practitioner.ts
  src/fhir/fhir-data/schema/patient.ts
  src/fhir/fhir-data/schema/practitioner.ts
  src/helseid/components/HelseIdDataProvider.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: additional data provider configuration normalization
  src/fhir/fhir-data/fhir-data-service.tsx
  src/helseid/components/HelseIdDataProvider.tsx
  src/helseid/helseid-data/helseid-data-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix e2e tests with new kvittering page
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: added handling for sykmelding kvittering
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-fetcher/data-service.ts
  src/fhir/components/FhirDataProvider.tsx
  src/fhir/fhir-data/fhir-data-service.tsx
  src/services/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove debug component
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/fhir/components/FhirDataProvider.tsx
  src/fhir/components/Test.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
