Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: enable strict .launch() issuer verification
  e2e/README.md
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: fix external link
  e2e/README.md
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): next, nuqs
  e2e/README.md
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: resolve react dos vuln
  .yarnrc.yml
  e2e/README.md
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump other stuff
  e2e/README.md
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add info about L-takster on kvittering
  e2e/README.md
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: can we use deno for runtime?
  Dockerfile
  deno.jsonc
  e2e/README.md
  package.json
  scripts/post-build.sh
Due: yarn prettier --write

chore(deps): uh bump the jam
  .yarnrc.yml
  e2e/README.md
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: don't disable submit button for 'other outcomes'
  e2e/README.md
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test(e2e): submit using shortcuts
  e2e/README.md
  e2e/actions/user-form-verification.ts
  e2e/fhir/fhir-form-submit.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: warn about bad orgnummers for FHIR users
  e2e/README.md
  e2e/fhir/fhir-form-rule-validations.spec.ts
  src/features/ny-sykmelding-form/summary/behandler/BehandlerOrganisasjonsnummerAnswer.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make vitest tests actually fail in GHA
  e2e/README.md
  package.json
Due: yarn prettier --write

chore: fix integration tests hitting idempotency
  e2e/README.md
  src/core/services/api-fetcher.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: add basic helseid-on-fhir explanation
  docs/smart/helseid-on-fhir.png
  docs/smart/helseid-on-smart-on-fhir.md
  e2e/README.md
Due: yarn prettier --write

test: add API integration tests for idempotency
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: add vitest eslint plugin
  e2e/README.md
  eslint.config.ts
  package.json
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: don't build for prod and upload sbom when branch
  .github/workflows/deploy.yml
  e2e/README.md
Due: yarn prettier --write

chore: dockerize integration tests so syk-inn-api can run them
  .github/workflows/deploy.yml
  Dockerfile.integration-tests
  e2e/README.md
  src/lib/test/syk-inn-kafka.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make syk-inn-api image overrideable in integration tests
  .github/workflows/deploy.yml
  e2e/README.md
  src/lib/test/syk-inn-api.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: we don't need vitest dockerization anymore, just pull
  .github/workflows/deploy.yml
  Dockerfile.integration-tests
Due: yarn prettier --write

chore(deps): bump aksel + some dev deps
  .github/workflows/deploy.yml
  e2e/README.md
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: update tests since sending to kafka is handled by another process
  src/lib/test/syk-inn-api.ts
  src/lib/test/syk-inn-kafka.ts
Due: yarn eslint --fix --max-warnings=0

update text to adhere to our requirements
  docs/fhir/document-reference.md
Due: yarn prettier --write

fix: use correct type object
  docs/fhir/document-reference.md
Due: yarn prettier --write

chore: next 16.1
  .yarnrc.yml
  e2e/README.md
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): everything
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add custom diagnosekode-generator that supports ICPC2B
  e2e/README.md
  libs/dig-kod/README.md
  libs/dig-kod/package.json
  libs/dig-kod/scripts/fetch-kodeverk.ts
  libs/dig-kod/scripts/parse-kodeverk.ts
  libs/dig-kod/scripts/raw/.gitignore
  libs/dig-kod/src/data/icd10.json
  libs/dig-kod/src/data/icpc2.json
  libs/dig-kod/src/data/icpc2b.json
  libs/dig-kod/src/index.ts
  libs/dig-kod/tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: better diagnose søk
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/multi-mode/form-interactions.spec.ts
  libs/dig-kod/package.json
  package.json
  src/core/data-layer/common/diagnose-search.ts
  src/core/data-layer/common/diagnose.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/fhir/mappers/diagnosis.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/diagnose.graphql
  src/core/data-layer/graphql/schema/diagnose.graphqls
  src/core/data-layer/graphql/schema/root.graphqls
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove expired diagnosis
  e2e/README.md
  libs/dig-kod/package.json
  libs/dig-kod/scripts/parse-kodeverk.ts
  libs/dig-kod/src/data/icd10.json
  libs/dig-kod/src/data/icpc2b.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: proper release of @navikt/tsm-diagnoser
  e2e/README.md
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/core/data-layer/common/diagnose-search.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
