Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: less spammy unleash toggle logs, set span attributes instead
  src/core/toggles/definitions.ts
Due: yarn eslint --fix --max-warnings=0

chore: de-spam .ready errors (you only log once)
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump to yarn v4.10.0 and enable npmMinimalAgeGate
  .yarnrc.yml
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: yarn 4.10.1, fixes package publish
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: tweak otel, fail spans more on errors
  src/core/data-layer/fhir/fhir-service.ts
Due: yarn eslint --fix --max-warnings=0

refactor: make span failing code unnecessarily cool
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/core/data-layer/fhir/fhir-service.ts
  src/core/services/api-fetcher.ts
  src/core/toggles/definitions.ts
  src/lib/otel/server.ts
Due: yarn eslint --fix --max-warnings=0

chore: add /metrics endpoind with prom-client
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  package.json
  src/app/api/internal/metrics/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: don't dry-run syk-inn-api in prod (its not deployed yet)
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add basic metrics counting number of FHIR launches
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/lib/prometheus/metrics.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: no-basis-profiles in fsh
  docs/fsh-profiles/fsh-generated/data/fsh-index.json
  docs/fsh-profiles/fsh-generated/fsh-index.txt
  docs/fsh-profiles/fsh-generated/resources/StructureDefinition-dummy-patient.json
  docs/fsh-profiles/fsh-generated/resources/StructureDefinition-no-basis-condition.json
  docs/fsh-profiles/fsh-generated/resources/StructureDefinition-no-basis-encounter.json
  docs/fsh-profiles/fsh-generated/resources/ValueSet-no-basis-condition-codes.json
  docs/fsh-profiles/input/fsh/NoBasisConditionCodeVS.fsh
  docs/fsh-profiles/input/fsh/condition-basis.fsh
  docs/fsh-profiles/input/fsh/dummy-patient.fsh
  docs/fsh-profiles/input/fsh/encounter-basis.fsh
  docs/fsh-profiles/originals/NoBasisPatient.fsh
  docs/fsh-profiles/readme.md
  docs/fsh-profiles/sushi-config.yaml
Due: yarn prettier --write

chore: deploy "demo/" prefixed branches to their own demo instance
  .github/workflows/deploy.yml
  .nais/nais-demo.yaml
Due: yarn prettier --write

chore: add encounter, condition and organization to non-pilot dry-run
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make ShortcutButtons possible be deactivated when behind modals
  src/components/shortcut/ShortcutButtons.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add components for normalizing error messages
  src/components/help/GeneralErrors.tsx
  src/components/help/LegeOgBehandlerTelefonen.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make RuleOutcome.status be an actual enum
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/rules.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
Due: yarn eslint --fix --max-warnings=0

chore: use shared error message component for not found Practitioner
  src/components/help/GeneralErrors.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/summary/BehandlerSummary.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove background validation of rules on summary
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/root.graphqls
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore: add distinct (dev only) actions for submitting with rule failures
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/dev/mock-engine/SykInnApiMockRuleMarkers.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

test: simple rule outcome = invalid e2e test
  e2e/actions/user-actions.ts
  e2e/fhir-form-submit.spec.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: move send devtools, highlight when its active
  src/dev/tools/LocalAndDemoBonusActionMenu.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: revert aksel (it broke custom combobox)
  package.json
  yarn.lock
Due: yarn prettier --write

feat: allow sending sykmelding with rule outcome
  e2e/fhir-form-aareg.spec.ts
  e2e/fhir-form-submit.spec.ts
  src/components/help/LegeOgBehandlerTelefonen.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/possible-types.generated.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/root.graphqls
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
  src/features/ny-sykmelding-form/summary/rules/rule-texts.ts
  src/features/ny-sykmelding-form/summary/rules/useSubmitRuleState.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

feat: logic for showing 'utfyllende spørsmål' if sykefravaer is more than 7 weeks
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add questions for 'utdypende sporsmål' in form and state etc
  src/core/data-layer/draft/draft-client.test.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/DraftBuilder.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/common/sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/ny-sykmelding-form/draft/useSaveDraft.ts
  src/features/ny-sykmelding-form/form-default-values.test.ts
  src/features/ny-sykmelding-form/form-default-values.ts
  src/features/ny-sykmelding-form/form-mappers.ts
  src/features/ny-sykmelding-form/form.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

fix tests :(
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/ny-sykmelding-form/form-default-values.test.ts
Due: yarn eslint --fix --max-warnings=0

feat: indicate non-required answer, temporary fix functional tests
  e2e/fhir-form-aareg.spec.ts
  e2e/fhir-form-submit.spec.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

add 'utdypende spørsmål' to 'kvittering' and overview of previous sykmelding
  src/components/sykmelding/SykmeldingValues.tsx
Due: yarn eslint --fix --max-warnings=0

test(e2e): verify rule outcome confirmation dialog
  e2e/actions/user-actions.ts
  e2e/fhir-form-submit.spec.ts
  src/dev/mock-engine/SykInnApiMockRuleMarkers.ts
Due: yarn eslint --fix --max-warnings=0

feat: proper feedback when person does not exist on submit
  e2e/actions/user-actions.ts
  e2e/fhir-form-submit.spec.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/dev/mock-engine/SykInnApiMockRuleMarkers.ts
  src/dev/mock-engine/index.ts
  src/dev/tools/LocalAndDemoBonusActionMenu.tsx
Due: yarn eslint --fix --max-warnings=0

feat: broken commit, will fix after holiday
  e2e/actions/user-actions.ts
  e2e/fhir-form-utvidedesporsmal.spec.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel, also fix combobox CSS changes
  package.json
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump all minors and patches
  libs/fhir-mock/package.json
  package.json
  src/lib/prometheus/metrics.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
