Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove refresh token toggle, just enable it for everyone
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): upgrade aksel, zod, & more
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: stub helseid resolvers explicitly
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: poc helseid konsultasjon resolver
  src/app/(standalone)/layout.tsx
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-userinfo.ts
Due: yarn eslint --fix --max-warnings=0

chore: teamlog id_token from wonderwall
  src/core/data-layer/helseid/helseid-resources.ts
  src/core/data-layer/helseid/helseid-userinfo.ts
Due: yarn eslint --fix --max-warnings=0

chore: poc decode wonderwall helseid idtoken instead of /userinfo
  package.json
  src/app/(standalone)/layout.tsx
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-userinfo.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: don't crash users without HPR, show getouttahere page
  src/app/(standalone)/layout.tsx
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-service.ts
  src/core/data-layer/helseid/helseid-user.ts
  src/core/data-layer/helseid/helseid-userinfo.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove superfluous OTEL_LOGS_EXPORTER config [skip ci]
  .nais/nais-dev.yaml
Due: yarn prettier --write

fix: is claim simply not present when no HPR-number?
  src/components/errors/NoValidHPR.tsx
  src/core/data-layer/helseid/helseid-service.ts
  src/core/data-layer/helseid/helseid-user.ts
Due: yarn eslint --fix --max-warnings=0

fix: oops, actually render layout when no HPR number
  package.json
  src/app/(standalone)/layout.tsx
  src/core/data-layer/helseid/components/HelseIdHeader.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: split standalone layouts into two
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/(logged-in)/ny/[draftId]/page.tsx
  src/app/(standalone)/layout.tsx
  src/core/data-layer/helseid/helseid-service.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): hono, apollo, nuqs
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: poc on helseid token validation
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/core/data-layer/fhir/error/Errors.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-user.ts
  src/core/data-layer/helseid/token/jwk.ts
  src/core/data-layer/helseid/token/tokens.ts
  src/core/data-layer/helseid/token/validate.ts
  src/core/data-layer/helseid/token/well-known.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: otel span up helse id token validation
  src/core/data-layer/helseid/token/validate.ts
Due: yarn eslint --fix --max-warnings=0

chore: make pre-dev port 3000 check more generic [skip ci]
  scripts/pre-dev.sh
Due: none

refactor: extract sykmelding metadata fetching to its own fn
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-graphql-utils.ts
  src/core/data-layer/fhir/fhir-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: prepare valkey for deploy (don't deploy yet) [skip ci]
  .github/workflows/deploy-valkey.yml
  .nais/nais-prod-valkey.yaml
Due: yarn prettier --write

chore(deps): bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: rename RuleOutcome fragment and type
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/possible-types.generated.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/rules.graphqls
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add query for pre-validating sykmelding
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/possible-types.generated.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/root.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore: prepare EPJ configuration for production
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  src/core/data-layer/fhir/smart/issuers/envs/prod-gcp.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: deploy prod valkey :aaaa:
  .github/workflows/deploy-valkey.yml
  .nais/nais-prod-valkey.yaml
Due: yarn prettier --write

chore: deploy syk-inn in prod-gcp
  .github/workflows/deploy.yml
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: add prod webmed to outbound hosts
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: add debug endpoint for observing active toggles
  src/app/api/debug-toggles/route.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): upgrade lotsa deps
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/graphql/resolvers.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: sligtly less spammy logs
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/services/valkey/client.ts
  src/instrumentation-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: add configuration for using local valkey in development
  .env.development
  src/app/(dev)/page.tsx
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't check access rights on a non-existing draft
  src/core/data-layer/draft/draft-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix minor dev-only log lie
  src/core/toggles/dev/cookie-override.ts
Due: yarn eslint --fix --max-warnings=0

chore: add demo warning to global-error in local/demo
  src/app/global-not-found.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: loosen NySykmeldingForm coupling by moving default values responsibility
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormSkeleton.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove deprecated use of ConfirmationPanel
  src/features/dashboard/OpprettNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

fix: initial form values bidiagnoser not being used
  src/features/ny-sykmelding-form/form-default-values.test.ts
  src/features/ny-sykmelding-form/form-default-values.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't 'token refresh' during e2e [skip ci]
  src/core/data-layer/fhir/smart/smart-client.ts
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: let form owner provide form implementation
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/app/(standalone)/(logged-in)/ny/[draftId]/page.tsx
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
Due: yarn eslint --fix --max-warnings=0

fix: backing store demo logic
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
