Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: save and restore more values from the form in the draft
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/data-layer/draft/draft-schema.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

fix: reset form state when saving og forkasting draft
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/draft/DraftActions.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump zod, playwright
  package.json
  yarn.lock
Due: yarn prettier --write

feat: show date (if applicable) for drafts
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  src/components/dashboard/DraftSykmeldingerCard.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: support syk-inn-api pdf proxying when USE_SYK_INN_API=true
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/components/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/providers/Providers.tsx
Due: yarn eslint --fix --max-warnings=0

chore: new opprett sykmelding payload schema
  e2e/fhir.spec.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/common/diagnose.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/data-layer/fhir/mappers/diagnosis.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/root.graphqls
  src/data-layer/graphql/schema/sykmelding.graphqls
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/syk-inn-api/schema/opprett.ts
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
  src/utils/oid.ts
Due: yarn eslint --fix --max-warnings=0

fix: bearer token on PDF proxy
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak pdf preview text
  src/components/pdf-debug-view/PdfDebugView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: disable OTEL log exporter
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore(deps): bump @navikt/next-logger major for better logging
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: disable valkey ready check (app doesn't have right access)
  src/services/valkey/client.ts
Due: yarn eslint --fix --max-warnings=0

feat: warn non-pilot users that they can't use the app
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/user-warnings/LoggedOutWarning.tsx
  src/components/user-warnings/NonPilotUserWarning.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/data-layer/fhir/smart/smart-client.ts
  src/devtools/DevTools.tsx
  src/devtools/useFeatureToggleOverride.ts
  src/toggles/dev.ts
  src/toggles/toggles.ts
  src/toggles/unleash.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: don't try and fetch Practitioner before you're logged in lol
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/providers/Providers.tsx
  src/toggles/context.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump iovalkey
  package.json
  yarn.lock
Due: yarn prettier --write

chore: update to newest syk-inn-api payload schema
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak sykmelding GQL data types
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/sykmelding.graphqls
Due: yarn eslint --fix --max-warnings=0

feat: basic 'pågående sykmeldinge' table view
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/root.graphqls
  src/data-layer/graphql/schema/sykmelding.graphqls
  src/devtools/api-fail-toggle/ToggleAPIFailures.tsx
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn eslint --fix --max-warnings=0

feat: tidligere sykmeldinger card on dashboard
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/components/dashboard/TidligereSykmeldingerCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: better error state for dashboard cards
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/components/dashboard/TidligereSykmeldingerCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix draft e2e tests
  e2e/fhir-form-persistence.spec.ts
Due: yarn eslint --fix --max-warnings=0

style: consolidate dashboard card styling
  src/components/dashboard/DraftSykmeldingerCard.tsx
  src/components/dashboard/OpprettNySykmeldingCard.tsx
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/components/dashboard/TidligereSykmeldingerCard.tsx
  src/components/dashboard/card/DashboardCard.tsx
  src/components/dashboard/table/DashboardTable.tsx
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
Due: yarn eslint --fix --max-warnings=0

chore: add pingdot when active pågående sykmeldinger because why not
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
Due: yarn eslint --fix --max-warnings=0

fix: tidligere/pågående sykmelding logic
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/components/dashboard/TidligereSykmeldingerCard.tsx
  src/data-layer/common/sykmelding-utils.test.ts
  src/data-layer/common/sykmelding-utils.ts
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
Due: yarn eslint --fix --max-warnings=0

style: border between sections
  src/components/form/form-section/FormSection.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/meldinger/MeldingerSection.tsx
Due: yarn eslint --fix --max-warnings=0

feat: todays date as default fom date
  src/components/ny-sykmelding-form/form-default-values.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix zod tree-shaking issue
  .gitignore
  libs/fhir-zod/src/bundle.ts
  libs/fhir-zod/src/common.ts
  libs/fhir-zod/src/condition.ts
  libs/fhir-zod/src/documentReference.ts
  libs/fhir-zod/src/encounter.ts
  libs/fhir-zod/src/organization.ts
  libs/fhir-zod/src/patient.ts
  libs/fhir-zod/src/practitioner.ts
  libs/smart-on-fhir/src/client/smart/launch/token-schema.ts
  libs/smart-on-fhir/src/client/smart/well-known/smart-configuration-schema.ts
  libs/smart-on-fhir/src/client/storage/schema.ts
  next.config.ts
  package.json
  src/data-layer/common/diagnose.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/helseid/helseid-resources.ts
  src/data-layer/helseid/helseid-userinfo.ts
  src/services/api-fetcher.ts
  src/services/pdl/pdl-api-schema.ts
  src/services/syk-inn-api/schema/opprett.ts
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/utils/env.ts
  src/utils/zod.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add 'skjermet mot medisinske opplysninger' checkbox on summary page
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: add test for 'skal skjermes' payload
  e2e/fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

feat: show rule outcomes instead of erroring
  src/components/ny-sykmelding-form/steps/useFormStep.ts
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/possible-types.generated.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/services/api-fetcher.ts
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn eslint --fix --max-warnings=0

feat: also show which rule tree on validation outcome feedback
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/services/syk-inn-api/schema/sykmelding.ts
Due: yarn eslint --fix --max-warnings=0

style: tweak linear form style
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add more behandler meta to behandler query
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/practitioner.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/behandler.graphqls
Due: yarn eslint --fix --max-warnings=0

feat: add behandler info to summary page
  package.json
  src/components/ny-sykmelding-form/NySykmeldingFormSteps.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/summary/BehandlerSummary.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.module.css
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/konsultasjon.graphql
  src/devtools/api-fail-toggle/ToggleAPIFailures.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: poc multi pane form css
  src/components/form/form-section/FormSection.tsx
  src/components/form/form-section/FormSheet.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.module.css
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: set default periode to GRADERT 60%
  e2e/actions/user-actions.ts
  src/components/ny-sykmelding-form/form-default-values.ts
Due: yarn eslint --fix --max-warnings=0
