Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: a few knip fixes
  e2e/package.json
  knip.ts
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): minors/patches + major knip and logger
  libs/fhir-mock/package.json
  libs/fhir-mock/src/resources/document-reference/get-document-reference.ts
  libs/helseid-mock/package.json
  libs/syk-zara/src/feedback/schema/schema-types.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove gotenberg 'shadow'-pdf generation
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/fhir/write/pdf-service.ts
  src/core/data-layer/pdf/gotenberg-config.ts
  src/core/data-layer/pdf/gotenberg-service.ts
  src/core/data-layer/pdf/html/components/AktivitetItems.tsx
  src/core/data-layer/pdf/html/components/ValueItem.tsx
  src/core/data-layer/pdf/html/content.tsx
  src/core/data-layer/pdf/html/fixed.tsx
  src/core/data-layer/pdf/html/render.ts
  src/core/data-layer/pdf/html/styles/content.css.ts
  src/core/data-layer/pdf/html/styles/header-footer.css.ts
  src/core/data-layer/pdf/html/styles/reset.css.ts
Due: yarn eslint --fix --max-warnings=0

chore: stop deploying gotenberg
  .github/workflows/deploy-gotenberg.yml
  .nais/nais-dev-gotenberg.yaml
  .nais/nais-prod-gotenberg.yaml
Due: yarn prettier --write

chore: remove vite-tsconfig-paths
  e2e/package.json
  package.json
  vitest.config.mts
  yarn.lock
Due: yarn prettier --write

chore: remove remaining gotenberg leftovers
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  docker-compose.yml
  gotenberg/Dockerfile
  gotenberg/fonts/SourceSans3-Italic-VariableFont_wght.ttf
  gotenberg/fonts/SourceSans3-VariableFont_wght.ttf
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: proof-of-concept PDF generation using typst directly
  .mise.toml
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/core/pdf/typst-service.ts
  typst-pdf/fonts/SourceSans3-Bold.ttf
  typst-pdf/fonts/SourceSans3-Light.ttf
  typst-pdf/fonts/SourceSans3-Regular.ttf
  typst-pdf/sykmelding.pdf
  typst-pdf/sykmelding.typ
Due: yarn eslint --fix --max-warnings=0

chore: add AI slop template to have something to test with
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  typst-pdf/nav-logo.svg
  typst-pdf/sykmelding.typ
Due: yarn eslint --fix --max-warnings=0

chore: build typst binary into docker image
  .github/workflows/deploy.yml
  Dockerfile
  scripts/pre-build.sh
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/typst-service.ts
  typst-pdf/.gitignore
  typst-pdf/sykmelding.typ
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add a simple way to develop the .typ template using typst watch (yarn dev:pdf)
  package.json
  scripts/typst-dev.sh
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/typst-service.ts
  typst-pdf/.gitignore
  typst-pdf/images/nav-logo.svg
  typst-pdf/sykmelding.pdf
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: implement a reasonably realistic PDF
  .github/workflows/deploy.yml
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  src/core/pdf/typst.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  typst-pdf/fonts/SourceSans3-Italic.ttf
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: enable shadow-generation of typst PDFs to compare
  src/core/data-layer/fhir/write/pdf-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: add some simple tooling for initializing typst locally
  .github/workflows/deploy.yml
  package.json
  scripts/pre-build.sh
  scripts/typst-dev.sh
Due: yarn prettier --write

fix: copy the typst bin for demo and prod as well lol
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: more correct idle memory usage
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: add metadata to typst pdf, simple test setup
  .github/workflows/deploy.yml
  package.json
  src/core/pdf/pdf-service.integration.ts
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: test generating buncha PDFs at the same time
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/pdf-service.integration.ts
  src/core/pdf/pdf-service.ts
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add real link
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix uu-issue with ul inside of p
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add infotext about ny sykmelding to dashboard
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): typescript@v6 + minors/patches
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/core/data-layer/common/diagnose-search.test.ts
  src/core/data-layer/common/diagnose-search.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: ts6 root dir error
  libs/fhir-mock/tsconfig.json
  libs/syk-zara/tsconfig.json
Due: yarn prettier --write

chore: proper width and flex-wrap for smaller screeens
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

style: use grid for top card, tweak positioning of info card
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
Due: yarn eslint --fix --max-warnings=0

style: make card spacing tighter on mobile
  src/features/fhir/dashboard/card/DashboardCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix link text for welcome card
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
