Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: hardcode orgnr in dev
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

fix: use OID for diagnose-systems
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
  src/utils/oid.ts
Due: yarn eslint --fix --max-warnings=0

chore: move data loading out of form and hoist it
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/MainSectionWithData.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormSections.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/data-fetcher/data-service.ts
  src/data-fetcher/hooks/use-context-konsultasjon.ts
Due: yarn eslint --fix --max-warnings=0

chore: move data-fetcher folder [skip ci]
  README.md
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/write-to-ehr/route.ts
  src/app/(standalone)/layout.tsx
  src/components/dashboard/OpprettNySykmeldingCard.tsx
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/MainSectionWithData.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/data-layer/data-fetcher/data-provider.tsx
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/data-fetcher/hooks/use-context-konsultasjon.ts
  src/data-layer/data-fetcher/hooks/use-context-pasient.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/components/FhirDataProvider.tsx
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/fhir-data.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/helseid/components/HelseIdDataProvider.tsx
  src/helseid/helseid-data/helseid-data-service.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move smart-client.ts [skip ci]
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Conditions/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Encounter/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Patient/route.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/person/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/write-to-ehr/route.ts
  src/data-layer/fhir/smart-client.ts
  src/fhir/fhir-data/fhir-data-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify FHIR data fetching, move more to server side
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/konsultasjon/route.ts
  src/app/(standalone)/layout.tsx
  src/components/ny-sykmelding-form/MainSectionWithData.tsx
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/data-fetcher/hooks/use-context-konsultasjon.ts
  src/data-layer/data-fetcher/resources.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/fhir-data.ts
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move fhir patient fetching/mapping to backend
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Conditions/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Encounter/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/Patient/route.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/konsultasjon/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/pasient/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/write-to-ehr/route.ts
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/data-fetcher/hooks/use-context-konsultasjon.ts
  src/data-layer/data-fetcher/hooks/use-context-pasient.ts
  src/data-layer/fhir/auth/session.ts
  src/data-layer/fhir/components/FhirDataProvider.tsx
  src/data-layer/fhir/components/FhirError.tsx
  src/data-layer/fhir/fhir-data-server.ts
  src/data-layer/fhir/fhir-data-service.ts
  src/data-layer/fhir/fhir-data.ts
  src/data-layer/fhir/issuers.test.ts
  src/data-layer/fhir/issuers.ts
  src/data-layer/fhir/mappers/diagnosis.ts
  src/data-layer/fhir/mappers/patient.ts
  src/data-layer/fhir/mappers/practitioner.ts
  src/data-layer/fhir/non-fhir-data.ts
  src/data-layer/fhir/smart-client.ts
  src/data-layer/resources.ts
Due: yarn eslint --fix --max-warnings=0

chore: clean up unused debug routes
  src/app/(standalone)/layout.tsx
  src/app/(standalone)/whoami/route.tsx
  src/app/api/whoami/route.ts
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/helseid/components/HelseIdDataProvider.tsx
  src/data-layer/helseid/components/HelseIdHeader.tsx
  src/data-layer/helseid/helseid-data/helseid-data-service.ts
  src/data-layer/helseid/helseid-resources.ts
  src/data-layer/helseid/helseid-userinfo.ts
Due: yarn eslint --fix --max-warnings=0

docs: tweak docs/_oversikt.md
  docs/fhir/_oversikt.md
Due: yarn prettier --write

docs: update docs/fhir/patient.md with refs and better wording
  docs/fhir/patient.md
Due: yarn prettier --write

docs: update docs/fhir/practitioner.md remove name, update wording, add refs
  docs/fhir/patient.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

chore: move pdl patient fetching/mapping to backend
  src/app/(fhir)/fhir/(fhir-launched)/resources/person/route.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/data-fetcher/hooks/use-context-konsultasjon.ts
  src/data-layer/data-fetcher/hooks/use-context-pasient.ts
  src/data-layer/data-fetcher/hooks/use-person-query.ts
  src/data-layer/fhir/non-fhir-data.ts
  src/data-layer/resources.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/pdl/PdlApiUtils.ts
Due: yarn eslint --fix --max-warnings=0

docs: update docs/fhir/encounter.md with refs and correct added serviceProvider
  docs/fhir/encounter.md
Due: yarn prettier --write

docs: update docs/fhir/condition.md fix structure, add refs
  docs/fhir/condition.md
Due: yarn prettier --write

chore: remove unused resources from DataService
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/route.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/fhir/fhir-data-service.ts
  src/data-layer/fhir/non-fhir-data.ts
  src/data-layer/helseid/helseid-data/helseid-data-service.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
Due: yarn eslint --fix --max-warnings=0

chore: move sykmelding by id fetching/mapping to backend, use session for hpr
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/fhir/fhir-data-service.ts
  src/data-layer/fhir/non-fhir-data.ts
  src/data-layer/resources.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify submit sykmelding data flow, use session for HPR
  e2e/fhir.spec.ts
  e2e/standalone.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/fhir/fhir-data-service.ts
  src/data-layer/fhir/non-fhir-data.ts
  src/data-layer/resources.ts
Due: yarn eslint --fix --max-warnings=0

chore: use old syk-inn-api for testing
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

fix: DocumentReference write
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  libs/smart-on-fhir/src/client/smart/resources/fetcher.ts
  src/data-layer/fhir/fhir-data-server.ts
Due: yarn eslint --fix --max-warnings=0

feat: make 'write-to-ehr' concept more generic and retryable
  libs/fhir-zod/src/documentReference.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/synchronize/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/write-to-ehr/route.ts
  src/components/existing-sykmelding-kvittering/DocumentStatus.tsx
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/existing-sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/data-layer/api-routes/route-handlers.ts
  src/data-layer/data-fetcher/data-service.ts
  src/data-layer/data-fetcher/hooks/use-context-pasient.ts
  src/data-layer/fhir/components/FhirDataProvider.tsx
  src/data-layer/fhir/fhir-data-server.ts
  src/data-layer/fhir/fhir-data-service.ts
  src/data-layer/fhir/fhir-data.ts
  src/data-layer/fhir/fhir-engine.ts
  src/data-layer/fhir/mappers/document-reference.ts
  src/data-layer/fhir/non-fhir-data.ts
  src/data-layer/helseid/components/HelseIdDataProvider.tsx
  src/data-layer/helseid/helseid-data/helseid-data-service.ts
  src/data-layer/resources.ts
  src/devtools/useAPIOverride.ts
Due: yarn eslint --fix --max-warnings=0

chore: better error logs in SmartClient
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/synchronize/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-layer/api-routes/route-handlers.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't ignore params in otel fns
  src/otel/otel.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify fhir data fetching
  libs/smart-on-fhir/src/client/smart/resources/fetcher.ts
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/[sykmeldingId]/route.ts
  src/data-layer/fhir/fhir-data-server.ts
  src/data-layer/fhir/fhir-data-service.ts
  src/data-layer/fhir/fhir-data.ts
  src/data-layer/fhir/fhir-engine.ts
  src/data-layer/fhir/fhir-resources.ts
  src/data-layer/fhir/mappers/practitioner.ts
Due: yarn eslint --fix --max-warnings=0

chore: use new backend values and routes (this is a revertable commit)
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

docs: update docs/fhir/organization.md, remove RESH-id and email, add HER-id
  docs/fhir/organization.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

docs: update docs/fhir/document-reference.md, specify refs, add id
  docs/fhir/document-reference.md
Due: yarn prettier --write

chore: Revert "chore: use new backend values and routes (this is a revertable commit)"
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: ignore docs/ files for app deploy [skip ci]
  .github/workflows/deploy.yml
Due: yarn prettier --write

docs: Update usage description in practitioner.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

chore: Revert "chore: Revert "chore: use new backend values and routes (this is a revertable commit)""
  src/app/(fhir)/fhir/(fhir-launched)/resources/sykmelding/submit/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump deps
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove last remnants of fastlege stuff
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/resources/context/pasient/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/resources/person/route.ts
  src/data-layer/data-fetcher/data-provider.tsx
  src/data-layer/fhir/issuers/issuers.test.ts
  src/data-layer/fhir/issuers/issuers.ts
  src/data-layer/fhir/mappers/patient.ts
  src/data-layer/fhir/mappers/practitioner.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/api-fail-toggle/ToggleAPIFailures.tsx
  src/devtools/api-fail-toggle/useAPIOverride.ts
  src/services/pdl/PdlApiUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: run graphql-codegen together with next dev
  package.json
  yarn.lock
Due: yarn prettier --write

chore: strongly typed e2e gql request assertions
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/utils/assertions.ts
  package.json
  scripts/build-e2e.sh
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
