Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: show periods as single entries is summary
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/summary-text-utils.ts
  src/lib/date.ts
Due: yarn eslint --fix --max-warnings=0

test: fix e2e tests after form summary tweaks
  e2e/actions/user-verifications.ts
  e2e/fhir-dashboard.spec.ts
  e2e/fhir-form-submit.spec.ts
  e2e/utils/assertions.ts
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/sykmelding-kvittering/SykmeldingKvitteringSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: auto focus 'just launch' scenario
  src/dev/tools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

style: add weird little divider thingy between form sections
  src/features/ny-sykmelding-form/NySykmeldingForm.module.css
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: poc see other sykmelders reduced sykmelding
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/possible-types.generated.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): monday deps bump
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: replace @apollo/server with graphql-yoga
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/app/(standalone)/graphql/route.ts
  src/core/data-layer/graphql/apollo/apollo-server-utils.ts
  src/core/data-layer/graphql/yoga-server.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix graphql-yoga nextjs typing issue
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/app/(standalone)/graphql/route.ts
  src/core/data-layer/graphql/yoga-server.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't cancel previous search requests when typing
  src/core/data-layer/graphql/apollo/apollo-client.ts
Due: yarn eslint --fix --max-warnings=0

feat: add duplisering and forlengig to "tidligere sykmelding" page
  package.json
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
  src/features/tidligere-sykmelding/TidligereSykmeldingActions.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: try out graphql yoga otel plugin
  package.json
  src/core/data-layer/graphql/yoga-server.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: simplify dashboard sykmelding actions
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/SykmeldingDupliser.tsx
  src/features/dashboard/combo-table/sykmelding/forlengelse/SykmeldingForlengelse.tsx
Due: yarn eslint --fix --max-warnings=0

feat: clean up summary page
  e2e/actions/user-verifications.ts
  e2e/fhir-form-submit.spec.ts
  e2e/utils/assertions.ts
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

feat: show 'other' behandlere's sykmeldinger via a redacted format
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/possible-types.generated.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/redux/reducers/ny-sykmelding/mappers/duplisering.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/scenarios/scenarios.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/dashboard/combo-table/ComboTable.tsx
  src/features/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

chore: explicit null
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

fix: apollo cache redirect with sykmelding union
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: rename 'SykmeldingLight' to 'SykmledingRedacted'
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/possible-types.generated.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/redux/reducers/ny-sykmelding/mappers/duplisering.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/dashboard/combo-table/ComboTable.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

feat: in ComboTable, show redacted values as 'hatched'
  src/components/misc/Redaction.module.css
  src/components/misc/Redaction.tsx
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: put redacted sykmeldinger behind a feature toggle
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore: add e2e tests for redaction sykmeldinger, tweak a11y for redaction
  e2e/fhir-dashboard-redacted.spec.ts
  src/components/misc/Redaction.tsx
  src/core/toggles/dev/local.ts
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add flaky tests to playwright tests summary
  .github/workflows/deploy.yml
  scripts/playwright-reporter.sh
Due: yarn prettier --write

chore(deps): bump aksel and next
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: support inverse shorthands, i.e. '7d +2'
  src/features/ny-sykmelding-form/aktivitet/periode-shorthand.test.ts
  src/features/ny-sykmelding-form/aktivitet/periode-shorthand.ts
Due: yarn eslint --fix --max-warnings=0

feat: when using shorthand in tom field, respect existing fom date
  e2e/fhir-form-interactions.spec.ts
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/lib/date.ts
Due: yarn eslint --fix --max-warnings=0

chore: update labels and description for 'Melding til Nav', adds ReadMore with more information
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  src/features/ny-sykmelding-form/meldinger/MeldingTilNavField.tsx
Due: yarn eslint --fix --max-warnings=0

feat: show small hint when using shorthands
  e2e/fhir-form-interactions.spec.ts
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ShorthandHint.tsx
  src/features/ny-sykmelding-form/aktivitet/periode/periode-shorthand.test.ts
  src/features/ny-sykmelding-form/aktivitet/periode/periode-shorthand.ts
  src/features/ny-sykmelding-form/aktivitet/periode/periode-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: only hide label, not description
  src/features/ny-sykmelding-form/meldinger/MeldingTilNavField.tsx
Due: yarn eslint --fix --max-warnings=0

style: tweak the form, give each periode its own section
  src/components/form/form-section/FormSection.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/features/ny-sykmelding-form/meldinger/MeldingTilArbeidsgiverField.tsx
  src/features/ny-sykmelding-form/meldinger/MeldingTilNavField.tsx
  src/features/ny-sykmelding-form/meldinger/MeldingerSection.tsx
Due: yarn eslint --fix --max-warnings=0

test: e2e tests for reprocuding shorthand forlengelse/multiperiode bug
  e2e/actions/fhir-actions.ts
  e2e/fhir-form-interactions.spec.ts
  src/dev/mock-engine/scenarios/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

chore: use actual scopes we need
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix texts for wrong info in 'signerende behandler'
  src/features/ny-sykmelding-form/summary/BehandlerSummary.tsx
Due: yarn eslint --fix --max-warnings=0

fix: take forlengelse into account in shorthand-logic
  e2e/fhir-form-interactions.spec.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
  src/core/redux/reducers/ny-sykmelding/meta.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ShorthandHint.tsx
  src/features/ny-sykmelding-form/aktivitet/periode/periode-shorthand.test.ts
  src/features/ny-sykmelding-form/aktivitet/periode/periode-shorthand.ts
Due: yarn eslint --fix --max-warnings=0

chore: more easy to notice link back to patient dashboard
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
