Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: use route groups to seperate root layouts
  .env.development
  README.md
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  src/app/(fhir)/error.tsx
  src/app/(fhir)/fhir/launch/page.tsx
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(fhir)/not-found.tsx
  src/app/(standalone)/error.tsx
  src/app/(standalone)/layout.tsx
  src/app/(standalone)/not-found.tsx
  src/app/(standalone)/ny/page.tsx
  src/app/(standalone)/page.tsx
  src/app/api/internal/is_ready/route.ts
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/demo-warning.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataProvider.tsx
  src/devtools/InternalDevTools.tsx
  src/devtools/LazyDevTools.tsx
  src/devtools/useAPIOverride.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use route groups to seperate root layouts
  .env.development
  .github/workflows/deploy.yml
  README.md
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  src/app/(fhir)/error.tsx
  src/app/(fhir)/fhir/launch/page.tsx
  src/app/(fhir)/fhir/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(fhir)/not-found.tsx
  src/app/(standalone)/error.tsx
  src/app/(standalone)/layout.tsx
  src/app/(standalone)/not-found.tsx
  src/app/(standalone)/ny/page.tsx
  src/app/(standalone)/page.tsx
  src/app/api/internal/is_ready/route.ts
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/demo-warning.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataProvider.tsx
  src/devtools/InternalDevTools.tsx
  src/devtools/LazyDevTools.tsx
  src/devtools/useAPIOverride.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump minor/patches
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove unused devtools feature (context toggle)
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/devtools/DevTools.tsx
  src/devtools/InternalDevTools.tsx
  vitest.config.mts
  vitest.setup.mts
Due: yarn eslint --fix --max-warnings=0

chore: actual functional e2e example test
  .github/workflows/deploy.yml
  e2e/example.spec.ts
  e2e/mocked-fhir.spec.ts
  playwright.config.ts
  scripts/build-e2e.sh
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/components/ui/form.tsx
  src/fhir/sessions/session-store.ts
  src/utils/env.ts
  src/utils/string.test.ts
  src/utils/string.ts
  src/utils/url.ts
  src/utils/wait.ts
Due: yarn eslint --fix --max-warnings=0

chore: use v4 actions/upload-artifact
  .github/workflows/deploy.yml
Due: none

chore: enable auto instrumentation in dev
  nais/nais-dev.yaml
Due: none

chore: allow next to write to its own cache dir
  nais/nais-demo.yaml
  nais/nais-dev.yaml
Due: none

chore: fix blob upload for sharded playwright tests
  .github/workflows/deploy.yml
Due: none

chore: implement pre_stop hook
  src/app/api/internal/pre_stop/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix_playwright_sharding_v2_final_final_v3_last_final.tiff
  .github/workflows/deploy.yml
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: next@15 and react@19(RC)
  next.config.mjs
  package.json
  src/app/(fhir)/fhir/launch/page.tsx
  src/app/(fhir)/fhir/page.tsx
  src/app/(standalone)/page.tsx
  src/app/api/internal/is_ready/route.ts
  src/app/api/test/route.ts
  src/components/ny-sykmelding-form/errors/FormErrors.tsx
  src/components/ui/demo-arrow.webp
  src/fhir/sessions/session-lifecycle.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add token verification badge (for testing and stuff)
  src/app/api/fhir-mock/[[...path]]/data/fhir-server/keys.ts
  src/app/api/fhir-mock/jwt.ts
  src/app/api/test/route.ts
  src/app/api/verify-token/route.ts
  src/devtools/InternalDevTools.tsx
  src/fhir/auth/token-in-client.ts
  src/fhir/auth/verify.ts
  src/fhir/components/FhirHeaderUser.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add demo ingress to knownIssuers when demo
  src/app/api/fhir-mock/[[...path]]/route.ts
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/fhir/issuers.ts
Due: yarn eslint --fix --max-warnings=0

chore: rename verify-build.sh to pre-build.sh [skip ci]
  package.json
  scripts/pre-build.sh
Due: yarn prettier --write

chore(deps): smoll bump
  .lintstagedrc
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write

chore: (not-automated) update distroless with newest digest
  Dockerfile
Due: none

chore: next.config.ts [skip ci]
  next.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: improve local DX by automatically starting redis if needed
  package.json
  scripts/pre-build.sh
  scripts/pre-dev.sh
Due: yarn prettier --write

chore: wait 10s when launching app in dev for debugging
  .github/workflows/deploy.yml
  src/app/(fhir)/fhir/launch/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix playwright tests
  package.json
  src/app/api/fhir-mock/[[...path]]/route.ts
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add error handling when smart context launches but /token fails (no user)
  src/app/(fhir)/fhir/page.tsx
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/ScenarioLinks.tsx
  src/fhir/auth/session.ts
  src/fhir/auth/token-in-client.ts
  src/fhir/components/FhirForm.tsx
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/hooks/use-fhir-user.ts
Due: yarn eslint --fix --max-warnings=0

chore: node 22 (now LTS)
  .github/workflows/deploy.yml
  .mise.toml
  Dockerfile
Due: none

chore: node 22 works, use @main common workflow
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: enable strict engines (enforce node 22)
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: draft of how m2m with syk-inn-api will look
  nais/nais-dev.yaml
  package.json
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverField.tsx
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/services/SykInnApiService.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: zod payload in server action
  src/components/ny-sykmelding-form/diagnose/combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/utils/zod.ts
Due: yarn eslint --fix --max-warnings=0

chore: only have required sections in form (remove arbeidsgiver)
  src/app/(fhir)/fhir/page.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ui/form.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove dummy "Lagre"-button
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: sections, feedback, icons
  src/app/api/fhir-mock/[[...path]]/data/pasient-espen-eksempel.json
  src/app/api/fhir-mock/[[...path]]/data/smart-style.json
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormValues.ts
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/form-summary/NySykmeldingFormSummary.tsx
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-pasient.ts
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-user.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/fhir/components/FhirForm.tsx
  src/fhir/components/FhirHeaderUser.tsx
  src/utils/date.ts
  src/utils/ts.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: upload playwright reports to CDN for easy viewin'
  .github/workflows/deploy.yml
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove demo description+arrow thingy
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/components/ui/demo-arrow.webp
  src/components/ui/form.tsx
Due: yarn eslint --fix --max-warnings=0

chore: tweak graceful degredation of pasient søk
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump it all
  package.json
  yarn.lock
Due: yarn prettier --write

feat: wonderwallify syk-inn
  .github/workflows/deploy-wonderwall.yml
  nais/nais-dev-wonderwall.yaml
  nais/nais-dev.yaml
Due: none

fix: don't throw error in form summary when standalone
  src/app/providers.tsx
  src/components/ny-sykmelding-form/aktivitet/form-summary/NySykmeldingFormSummary.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-pasient.ts
Due: yarn eslint --fix --max-warnings=0

chore: 🤫
  src/app/(standalone)/gib-token/route.tsx
Due: yarn eslint --fix --max-warnings=0

chore: setup local helseid mock with /connect/userinfo
  .env.development
  README.md
  e2e/mocked-fhir.spec.ts
  nais/nais-dev.yaml
  next.config.ts
  src/app/(standalone)/gib-token/route.tsx
  src/app/(standalone)/page.tsx
  src/app/(standalone)/whoami/route.tsx
  src/app/api/mocks/fhir/[[...path]]/data/fhir-server/keys.ts
  src/app/api/mocks/fhir/[[...path]]/data/fhir-server/metadata.json
  src/app/api/mocks/fhir/[[...path]]/data/fhir-server/well-known.ts
  src/app/api/mocks/fhir/[[...path]]/data/index.ts
  src/app/api/mocks/fhir/[[...path]]/data/pasient-espen-eksempel.json
  src/app/api/mocks/fhir/[[...path]]/data/practitioner-koman-magnar.json
  src/app/api/mocks/fhir/[[...path]]/data/smart-style.json
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/app/api/mocks/fhir/auth/[[...path]]/route.ts
  src/app/api/mocks/fhir/jwt.ts
  src/app/api/mocks/helseid/[[...path]]/data/behandler-userinfo.json
  src/app/api/mocks/helseid/[[...path]]/data/index.ts
  src/app/api/mocks/helseid/[[...path]]/route.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/ScenarioLinks.tsx
  src/fhir/components/FhirClientProvider.tsx
  src/fhir/issuers.ts
  src/helseid/helse-id.ts
  src/helseid/user.ts
  src/utils/env.test.ts
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
