Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: team logging
  src/instrumentation.ts
Due: yarn eslint --fix --max-warnings=0

fix: grad error message causing input to jump around
  src/features/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/aktivitet/GradertGradPicker.tsx
Due: yarn eslint --fix --max-warnings=0

fix(e2e): make summary page assertions more explicit
  e2e/actions/user-verifications.ts
  e2e/fhir/actions/fhir-user-verifications.ts
  e2e/standalone/actions/standalone-user-verifications.ts
  e2e/utils/assertions.ts
  src/features/ny-sykmelding-form/summary/BehandlerSummary.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use non-deprecated edit link for SummarySection
  e2e/actions/user-verifications.ts
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

test(e2e): try and fix summary page flakyness
  e2e/actions/user-verifications.ts
Due: yarn eslint --fix --max-warnings=0

test(e2e): most def 100% completely fix summary section flakyness
  e2e/actions/user-verifications.ts
Due: yarn eslint --fix --max-warnings=0

feat: add manual inputs for orgnummer and tlf on summary page
  src/core/redux/reducers/ny-sykmelding/behandler.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/dev/tools/NySykmeldingFormDevTools.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerOrganisasjonsnummerAnswer.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerSummary.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerTelefonnummerAnswer.tsx
Due: yarn eslint --fix --max-warnings=0

feat: use manual orgnummer/tlf in standalone submit
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  e2e/standalone/actions/standalone-user-actions.ts
  e2e/standalone/standalone-form-submit.spec.ts
  src/dev/tools/NySykmeldingFormDevTools.tsx
  src/features/ny-sykmelding-form/diagnose/DiagnosePicker.tsx
  src/features/ny-sykmelding-form/diagnose/bidiagnose/BidiagnosePicker.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerOrganisasjonsnummerAnswer.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerTelefonnummerAnswer.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove unused deps, few knip tweaks
  e2e/standalone/actions/standalone-actions.ts
  knip.ts
  libs/helseid-mock/src/server-session.ts
  package.json
  src/core/data-layer/helseid/error/Errors.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: returning to form from summary on dupliser/forleng forgot values
  e2e/fhir/dashboard/drafts.spec.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

fix: elevate draft loading to a shared mutation, makes drafts more robust
  e2e/actions/user-verifications.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/features/ny-sykmelding-form/draft/internals/FormDraftSyncInternals.tsx
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

test(e2e): resolve flakyness caused by draftId in URL timing issue
  e2e/actions/user-actions.ts
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  e2e/standalone/standalone-form-submit.spec.ts
  src/features/ny-sykmelding-form/draft/useDraftId.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel + some dev deps
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: teamlog syk-inn-api response when malformed
  src/core/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

fix: legekontorOrgnr nullable
  src/components/sykmelding/BehandlerValues.tsx
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: refetch konsultasjon in form - add button for restoring diagnoser
  src/features/ny-sykmelding-form/diagnose/DiagnoseInfoAlert.tsx
  src/features/ny-sykmelding-form/diagnose/useDiagnoseSuggestions.ts
Due: yarn eslint --fix --max-warnings=0

fix: dont trigger loading state when refetching useDiagnoseSuggestions
  src/features/ny-sykmelding-form/diagnose/useDiagnoseSuggestions.ts
Due: yarn eslint --fix --max-warnings=0

fix: soft stop MINDRE_ENN_1_MAANED_MED_BEGRUNNELSE needs explanation text
  src/features/ny-sykmelding-form/summary/rules/rule-texts.ts
Due: yarn eslint --fix --max-warnings=0

feat: add request functionality to see history of previous sykmeldinger for legal reasons
  e2e/actions/user-actions.ts
  e2e/fhir/dashboard/drafts.spec.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/fhir/fhir-dashboard-redacted.spec.ts
  e2e/fhir/fhir-form-interactions.spec.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/dashboard.graphql
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/konsultasjon.graphqls
  src/core/data-layer/graphql/schema/root.graphqls
  src/core/session/cookies.ts
  src/core/session/session.ts
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/RequestSykmeldinger.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove toggle and pie chart for "continious sykefravær"
  package.json
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: loading skeleton for stats
  src/features/dashboard/dumb-stats/DumbStats.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: move continious-sykefravaer-utils out of '/dumb-stats'
  src/core/data-layer/common/continuous-sykefravaer-utils.test.ts
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: silence log errors in definitions.test.ts
  src/core/toggles/definitions.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: less flakyness while waiting for state to load in tests
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

fix: improve loading state, split Konsultation into field level resolvers and remove dead / commented code
  e2e/actions/user-actions.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/konsultasjon.graphqls
  src/core/session/session.ts
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/RequestSykmeldinger.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: initial patient loading for FHIR - inject in preloaded store
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/launched-errors.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/layout.tsx
  src/app/api/debug-toggles/route.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/providers/Providers.tsx
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/core/redux/store.ts
  src/core/redux/useStoreRef.tsx
Due: yarn eslint --fix --max-warnings=0

fix: fix tests that broke after renaming button
  e2e/actions/user-actions.ts
  e2e/fhir/dashboard/drafts.spec.ts
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
Due: yarn eslint --fix --max-warnings=0

chore: revert "chore: remove toggle and pie chart for "continious sykefravær""
  package.json
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/dashboard/dumb-stats/sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/sykefravaer-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
