Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: add human name to known FHIR-issuers
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
  src/core/data-layer/fhir/smart/issuers/envs/others.ts
  src/core/data-layer/fhir/smart/issuers/envs/prod-gcp.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add source name to SykmeldingMeta
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: fix flaky e2e multi launch test
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/debug.ts
  libs/fhir-mock/src/jwt/jwt.ts
  libs/fhir-mock/src/router.ts
  libs/fhir-mock/src/server-session.ts
Due: yarn eslint --fix --max-warnings=0

refactor: simplify graphql schema creation (don't rely on .graphqls loading)
  .gitattributes
  codegen.ts
  next.config.ts
  package.json
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/create-schema.ts
  src/core/data-layer/graphql/generated/possible-types.generated.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix fast-redact vuln
  yarn.lock
Due: none

chore(deps): bump minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: can we use deno for runtime?
  Dockerfile
  deno.jsonc
Due: none

chore(deps): bump all minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): esm enly logger libs
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): pino@10 major
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): pino@10 major
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/helseid/helseid-user.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use node 24 (new LTS)
  .github/workflows/deploy-unleash-token.yml
  .github/workflows/deploy-valkey.yml
  .github/workflows/deploy.yml
  .github/workflows/fhir-mock-release.yml
  .mise.toml
  Dockerfile
  package.json
  scripts/playwright-reporter.sh
Due: yarn prettier --write

chore: remove superfluous permissions in GHA job
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: use new next build action
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: use playwright actions
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: bump aksel and @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: log other systems when we don't find any telephone number
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: trivy and codeql
  .github/workflows/deploy.yml
Due: yarn prettier --write

feat: logic for showing 'utfyllende spørsmål' if sykefravaer is more than 7 weeks
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add questions for 'utdypende sporsmål' in form and state etc
  src/core/data-layer/draft/draft-client.test.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/DraftBuilder.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/common/sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/ny-sykmelding-form/draft/useSaveDraft.ts
  src/features/ny-sykmelding-form/form-default-values.test.ts
  src/features/ny-sykmelding-form/form-default-values.ts
  src/features/ny-sykmelding-form/form-mappers.ts
  src/features/ny-sykmelding-form/form.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

feat: indicate non-required answer, temporary fix functional tests
  e2e/fhir-form-aareg.spec.ts
  e2e/fhir-form-submit.spec.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

add 'utdypende spørsmål' to 'kvittering' and overview of previous sykmelding
  src/components/sykmelding/SykmeldingValues.tsx
Due: yarn eslint --fix --max-warnings=0

feat: broken commit, will fix after holiday
  e2e/actions/user-actions.ts
  e2e/fhir-form-utvidedesporsmal.spec.ts
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

fix tests :(
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/ny-sykmelding-form/form-default-values.test.ts
Due: yarn eslint --fix --max-warnings=0

feat: more WIP
  e2e/fhir-form-utvidedesporsmal.spec.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: adjustments to questions, clean up code, add more tests
  src/core/data-layer/common/sykmelding-utils.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtfyllendeSporsmalWithDataFetching.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make functional tests green
  e2e/actions/user-actions.ts
  e2e/fhir-form-submit.spec.ts
Due: yarn eslint --fix --max-warnings=0
