Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: also support USE_LOCAL_SYK_INN_API=true on dev landing page
  src/app/(standalone)/page.tsx
  src/devtools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

perf: deleting drafts update cache directly
  src/components/dashboard/combo-table/draft/DeleteDraftButton.tsx
  src/devtools/DevTools.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add new options for 'tilbakedatering begrunnelse' and update schema and types
  e2e/fhir.spec.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/sykmelding.graphqls
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/syk-inn-api/schema/opprett.ts
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: add dev launch for non-scenario, also fix devtools scenario picker
  src/devtools/InternalDevTools.tsx
  src/devtools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore: try to type manual cache-jokkeri a bit better
  src/components/dashboard/combo-table/draft/DeleteDraftButton.tsx
  src/data-layer/graphql/apollo/apollo-client-cache.ts
  src/data-layer/graphql/apollo/apollo-client-utils.ts
  src/data-layer/graphql/apollo/apollo-client.ts
Due: yarn eslint --fix --max-warnings=0

feat: add error and empty state to dashboard list
  src/components/dashboard/ComboTableCard.tsx
  src/components/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

feat: visningsside for tidligere innsendt sykmelding
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/sykmelding/TidligereSykmeldingView.tsx
Due: yarn eslint --fix --max-warnings=0

feat: mulighet for å lukke visningsside
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add knip, fix some knip errors
  .github/workflows/deploy.yml
  knip.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/jwt/jwt.ts
  package.json
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/steps/useFormStep.ts
  src/components/ny-sykmelding-form/summary/BehandlerSummary.tsx
  src/data-layer/fhir/components/FhirError.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: update draft deletion test to take advantage of state updates
  e2e/fhir-dashboard.spec.ts
Due: yarn eslint --fix --max-warnings=0

perf: use cache redirects instead of cache writes for drafts and sykmelding
  scripts/pre-dev.sh
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/graphql/apollo/apollo-client-cache.ts
Due: yarn eslint --fix --max-warnings=0

test: actually test apollo cache redirects (crazy town)
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/apollo/apollo-client.test.ts
  src/data-layer/graphql/common-resolvers.ts
  vitest.config.mts
Due: yarn eslint --fix --max-warnings=0

chore: report vitest test results to GHA
  .github/workflows/deploy.yml
  .gitignore
  knip.ts
  scripts/test-reporter.mjs
  vitest.config.mts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: heheheheh
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: make codeql happy with workflow permissions
  .github/workflows/fhir-mock-release.yml
Due: yarn prettier --write

chore(deps): zod v4 + some other snacks
  libs/fhir-mock/package.json
  package.json
  src/data-layer/common/diagnose.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/helseid/helseid-resources.ts
  src/data-layer/helseid/helseid-userinfo.ts
  src/services/api-fetcher.ts
  src/services/pdl/pdl-api-schema.ts
  src/services/syk-inn-api/schema/opprett.ts
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/utils/env.ts
  src/utils/zod.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: tweak bidiagnose section, semantics+style
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/diagnose/bidiagnose/BidiagnosePicker.tsx
  src/components/ny-sykmelding-form/diagnose/bidiagnose/BidiagnoseSection.tsx
  src/components/ny-sykmelding-form/form.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use goodly typed useFieldArray for perioder
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
Due: yarn eslint --fix --max-warnings=0

test: fill out bidiagnoser in persistence test
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/diagnose/bidiagnose/BidiagnosePicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: added bidiagnoser to draft
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/data-layer/draft/draft-client.test.ts
  src/data-layer/draft/draft-schema.ts
Due: yarn eslint --fix --max-warnings=0

chore: fixed form tests
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/data-layer/mock-engine/scenarios/DraftBuilder.ts
Due: yarn eslint --fix --max-warnings=0

test: add bidiagnoser to e2e payload verification
  e2e/fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

test: verify that bidiagnoses are restored properly in drafts and ← Back-ing from summary
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-persistence.spec.ts
Due: yarn eslint --fix --max-warnings=0

test: e2e test that tests bidiagnose adding, editing and deleting
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-interactions.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: added bidiagnoser to draft (#63)
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/data-layer/draft/draft-client.test.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/mock-engine/scenarios/DraftBuilder.ts
Due: yarn eslint --fix --max-warnings=0

test: organize playwright tests
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-interactions.spec.ts
  e2e/fhir-form-submit.spec.ts
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: two workers in e2e GHA work real good maybe?
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  scripts/pre-build.sh
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: two workers in e2e in GHA was not good
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: is caching playwright browsers nice?
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: maybe skip entire install step if cache is hit?
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: move dev slowdown to apolle server plugin
  src/data-layer/graphql/apollo/apollo-server-utils.ts
  src/utils/wait.ts
Due: yarn eslint --fix --max-warnings=0

chore: better emoji for dev only page
  next.config.ts
  src/devtools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump playwright and hono
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: squelch nais deployment summary
  .github/workflows/deploy.yml
Due: yarn prettier --write
