Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: just use useMode even in StartSykmelding.tsx
  src/features/fhir/common/useActivePatient.ts
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

test: expand multi-user tests to catch current error
  e2e/fhir/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

feat: multi launch 2: electric boogaloo
  e2e/fhir/fhir-multi-user.spec.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/draft/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/ny/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-user/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/graphql/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/sykmelding/[sykmeldingId]/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/(logged-in)/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(standalone)/(logged-in)/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/graphql/route.ts
  src/components/errors/NoValidHPR.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/multi-user/MultiUserQueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/fhir/multi-user/multi-user-apollo-link.ts
  src/core/data-layer/fhir/multi-user/multi-user-const.ts
  src/core/data-layer/fhir/multi-user/multi-user-yoga-plugin.ts
  src/core/data-layer/fhir/smart/active-patient.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/yoga-server.ts
  src/core/providers/ModePaths.tsx
  src/core/providers/Modes.tsx
  src/core/providers/Providers.tsx
  src/features/fhir/common/useActivePatient.ts
  src/features/fhir/dashboard/combo-table/draft/DraftActions.tsx
  src/features/fhir/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

ryddet opp i dokumentasjon
  docs/fhir/_oversikt.md
  docs/fhir/nav_requirements.md
Due: yarn prettier --write

fikse kodeverk i tabell
  docs/fhir/nav_requirements.md
Due: yarn prettier --write

test(e2e): playwright previous sykmelding page
  e2e/actions/user-actions.ts
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/dashboard/sykmelding.spec.ts
  e2e/playwright.config.ts
  e2e/utils/assertions.ts
  src/components/sykmelding/ValuesSection.tsx
  src/features/fhir/dashboard/ComboTableCard.tsx
  src/features/fhir/dashboard/card/DashboardCard.tsx
  src/features/fhir/dashboard/historical/HistoricalCard.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

test(e2e): re-opening a draft from dashboard
  e2e/fhir/actions/fhir-user-verifications.ts
  e2e/fhir/dashboard/drafts.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-multi-user.spec.ts
  e2e/multi-mode/dupliser.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  src/core/toggles/dev/cookie-override.ts
Due: yarn eslint --fix --max-warnings=0

test(e2e): sprinkle no horizontal scroll asserts
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/actions/fhir-user-verifications.ts
  e2e/fhir/dashboard/drafts.spec.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/multi-mode/actions/mode-user-actions.ts
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix demo warning link
  src/components/user-warnings/DemoWarning.tsx
Due: yarn eslint --fix --max-warnings=0

fix: 'bruk diagnose fra EPJ' bidiganoser bug
  e2e/fhir/fhir-form-submit.spec.ts
  src/features/ny-sykmelding-form/diagnose/DiagnoseInfoAlert.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel, jose, vitest
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump faro to v2 (should not break?)
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump @navikt/* deps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

test(e2e): add 'chaosmonkey'-test, trying to submit sykmelding 10 times
  e2e/multi-mode/chaosmonkey.spec.ts
  e2e/utils/actions.ts
Due: yarn eslint --fix --max-warnings=0

fix: basic double-click submit mitigation
  e2e/multi-mode/chaosmonkey.spec.ts
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make chaosmonkey-tests fhir-only
  e2e/fhir/fhir-chaosmonkey.spec.ts
  e2e/multi-mode/chaosmonkey.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: upgrade prod valkey to business-4 (HA)
  .nais/nais-prod-valkey.yaml
Due: yarn prettier --write

feat: use submitId and support idempotency in MockEngine
  e2e/fhir/fhir-chaosmonkey.spec.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/SykInnApiMock.ts
Due: yarn eslint --fix --max-warnings=0

chore: move token exchange under API parent span
  src/core/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

fix: ansettelsesforhold-text
  src/features/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
Due: yarn eslint --fix --max-warnings=0

fix: a couple of broken root links
  src/features/actions/common/SykmeldingFormErrors.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

test: add API integration tests for idempotency
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

fix: allow overlap between current and previous periods of 'utdypendeSporsmal'
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.test.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

docs: automatically generate a list of e2e test suite [skip ci]
  .husky/pre-commit
  e2e/README.md
  scripts/document-e2e.sh
Due: yarn prettier --write

chore: don't expose /api/mocks/(fhir|helseid) in dev/prod
  e2e/README.md
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/app/api/mocks/helseid/[[...path]]/route.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: less link prefetching
  e2e/README.md
  src/components/links/AkselNextLink.tsx
  src/components/links/SlowNextLinkButton.tsx
  src/features/fhir/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: basic feedback form that posts to slack
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  e2e/README.md
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/components/feedback/PilotFeedback.tsx
  src/core/providers/ModePaths.tsx
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/lib/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: make pilot feedback button less annoying
  e2e/README.md
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/components/feedback/PilotFeedback.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: add slack.com to outbound external hosts
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  e2e/README.md
Due: yarn prettier --write

chore: supress tracing for slack webhook fetch
  .husky/pre-commit
  e2e/README.md
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: use correct timezone for feedback timestring
  e2e/README.md
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: manually span the slack fetch
  e2e/README.md
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: span the feedback from the browser as well for nicer root traces
  e2e/README.md
  src/components/feedback/PilotFeedback.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add metric for successful sykmelding creation
  e2e/README.md
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/lib/prometheus/metrics.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir with bug fix
  e2e/README.md
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use correct counter postfix
  e2e/README.md
  src/lib/prometheus/metrics.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: temp endpoint for incing counter
  e2e/README.md
  src/app/api/internal/hack-counter/route.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove /hack-counter
  e2e/README.md
  src/app/api/internal/hack-counter/route.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
