Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: stack timeline periods, make periods interactive and hoverable
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/core/data-layer/draft/draft-schema.ts
  src/features/fhir/dashboard/combo-table/draft/draft-utils.ts
  src/features/fhir/dashboard/top-card/SykmeldingTimeline.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
  src/features/fhir/dashboard/top-card/sykmeldinger-timeline-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: hide timeline on mobile
  src/features/fhir/dashboard/top-card/DashboardTopSection.tsx
Due: yarn eslint --fix --max-warnings=0

feat: proof of concept of aksel Timeline on dashboard
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/core/data-layer/common/sykmelding-utils.ts
  src/features/fhir/dashboard/SykmeldingerSection.tsx
  src/features/fhir/dashboard/top-card/DashboardTopSection.tsx
  src/features/fhir/dashboard/top-card/SykmeldingTimeline.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix form devtools (d,d,d - d,d,t) when other types
  src/dev/tools/NySykmeldingFormDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

chore: bump fuse, oxfmt, oxlint
  package.json
  scripts/pre-dev.sh
  yarn.lock
Due: yarn prettier --write

fix: double steps provider in standalone
  src/app/(standalone)/(logged-in)/(actions)/draft/[draftId]/page.tsx
  src/app/(standalone)/(logged-in)/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(standalone)/(logged-in)/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(standalone)/(logged-in)/(actions)/ny/page.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
Due: yarn eslint --fix --max-warnings=0

chore: also set tilbakedatert dato when using d,d,t
  src/dev/tools/NySykmeldingFormDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remember previously used patients in dev-gcp standalone
  src/components/animation/LoadableHeader.tsx
  src/components/layout/Page.tsx
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/dev/dev-gcp-scenarios/DevGcpScenariosSection.tsx
  src/dev/dev-gcp-scenarios/PreviousPatientsList.tsx
  src/dev/dev-gcp-scenarios/lazy.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

feat: support other variants in standalone
  src/app/(standalone)/(logged-in)/(actions)/ny/page.tsx
  src/dev/dev-gcp-scenarios/PreviousPatientsList.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
Due: yarn eslint --fix --max-warnings=0

style: proper skeleton for new standalone patient search
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
Due: yarn eslint --fix --max-warnings=0

test: fix e2e test with new standalone buttons
  e2e/standalone/actions/standalone-user-actions.ts
Due: yarn eslint --fix --max-warnings=0

chore: rehydrate standalone patient better
  e2e/standalone/actions/standalone-user-actions.ts
  src/dev/dev-gcp-scenarios/PreviousPatientsList.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
  src/features/helseid/manual-patient-picker/ManualPatientSearch.tsx
Due: yarn eslint --fix --max-warnings=0

feat: scenario picker for sykepengesøknad in dev-gcp
  src/dev/dev-gcp-scenarios/DevGcpScenariosSection.tsx
  src/dev/dev-gcp-scenarios/PreviousPatientsList.tsx
  src/dev/dev-gcp-scenarios/SykepengesoknadScenarios.tsx
  src/dev/dev-gcp-scenarios/date.ts
  src/features/helseid/manual-patient-picker/ManualPatientDrafts.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
  src/features/helseid/manual-patient-picker/ManualPatientSearch.tsx
Due: yarn eslint --fix --max-warnings=0

fix: scenario picker - don't allow scenario with no patient
  src/dev/dev-gcp-scenarios/SykepengesoknadScenarios.tsx
Due: yarn eslint --fix --max-warnings=0

chore: support launching standalone with local syk-inn-api as well
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/app/dev/page.tsx
  src/dev/tools/scenarios/ScenarioLinksFhir.tsx
  src/dev/tools/scenarios/ScenarioLinksStandalone.tsx
  src/dev/tools/scenarios/scenario-url-utils.ts
  src/proxy.ts
Due: yarn eslint --fix --max-warnings=0

fix: redacted sykmelding parsing bug, make it more explicit, fix arbeidsgivernavn
  src/app/dev/debug-typst/route.tsx
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/generated/types.generated.ts
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mock-mappers.ts
  src/features/fhir/dashboard/combo-table/sykmelding/sykmelding-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bumparino
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): typescript 7 + other minors/patches
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  lint-staged.config.ts
  next.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add local config for nav epj
  src/core/data-layer/fhir/smart/issuers/envs/others.ts
Due: yarn eslint --fix --max-warnings=0

Add new host to nais-dev.yaml configuration
  .nais/nais-dev.yaml
Due: yarn prettier --write

docs: update helseid requirements
  docs/adr/ADR02 - HelseID.md
  docs/fhir/nav-requirements.md
Due: yarn prettier --write

docs: add encounter reference as a requirement to condition
  docs/fhir/condition.md
Due: yarn prettier --write

docs: warn about journalføringsplikten
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
Due: yarn prettier --write

chore: update document reference content and data types
  docs/fhir/document-reference.md
Due: yarn prettier --write

chore: add context.period to json
  docs/fhir/document-reference.md
Due: yarn prettier --write

chore: remove encounter.type as it is not required and better reflected in encounter.class
  docs/fhir/encounter.md
Due: yarn prettier --write

chore: add telecom and authorization to practitioner, though not required, they must be documented
  docs/fhir/practitioner.md
Due: yarn prettier --write

Update documentation (#253)
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/adr/ADR02 - HelseID.md
  docs/fhir/condition.md
  docs/fhir/document-reference.md
  docs/fhir/encounter.md
  docs/fhir/nav-requirements.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

chore(deps): next 16.3, + other dev deps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: exclude debug-typst path from dev/prod
  src/app/dev/debug-typst/route.tsx
Due: yarn eslint --fix --max-warnings=0

feat: create helseid prod config for wonderwall
  .nais/nais-prod.yaml
Due: yarn prettier --write

feat: enable standalone routes in production
  .nais/nais-prod.yaml
  src/app/(standalone)/layout.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: typo in HelseID wonderwall prod nais config
  .nais/nais-prod.yaml
Due: yarn prettier --write

feat: enable HelseID token validation in production
  src/core/data-layer/helseid/config/envs.ts
  src/core/data-layer/helseid/token/validate.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
