Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: valkey returns {} not null when no entry, handle it gracefully
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/storage/index.ts
Due: yarn eslint --fix --max-warnings=0

feat: add session expired modal
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/logged-out-warning/LoggedOutWarning.tsx
  src/data-layer/graphql/apollo/apollo-client.ts
  src/providers/Providers.tsx
  src/providers/redux/StoreProvider.tsx
  src/providers/redux/reducers/metadata.ts
  src/providers/redux/store.ts
  src/providers/redux/useStoreRef.tsx
Due: yarn eslint --fix --max-warnings=0

Update condition.md
  docs/fhir/condition.md
Due: yarn prettier --write

chore: add sonner
  package.json
  src/providers/Providers.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add scalar for JSON in GQL
  codegen.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/common.graphqls
Due: yarn eslint --fix --max-warnings=0

chore: add dev only button to logged out warning for relaunching
  src/components/logged-out-warning/LoggedOutWarning.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix typing for initial suggested diagnose
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add .gitattributes file with info about generated files
  .gitattributes
Due: none

chore: add .graphql and .graphqls files to lint-staged prettiering
  .lintstagedrc.mjs
Due: none

chore: add component to debug pdf
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/components/pdf-debug-view/PdfDebugView.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add drafts feature, with auto save, deleting and dashboard list
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/components/dashboard/DraftSykmeldingerCard.tsx
  src/components/dashboard/OpprettNySykmeldingCard.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/draft/DraftActions.tsx
  src/components/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/components/ny-sykmelding-form/draft/useDraftId.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/data-layer/draft/draft-client.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/apollo/apollo-client.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/draft.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/draft.graphqls
  src/data-layer/graphql/schema/root.graphqls
  src/devtools/api-fail-toggle/ToggleAPIFailures.tsx
Due: yarn eslint --fix --max-warnings=0

chore: new opprett sykmelding payload schema
  e2e/fhir.spec.ts
  libs/fhir-mock/src/data/encounter-espen-komar.ts
  libs/fhir-zod/src/encounter.ts
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/organization.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/root.graphqls
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't show error when diagnose search returns, but has no hits
  libs/fhir-zod/src/bundle.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: Revert "chore: new opprett sykmelding payload schema"
  e2e/fhir.spec.ts
  libs/fhir-mock/src/data/encounter-espen-komar.ts
  libs/fhir-zod/src/encounter.ts
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/organization.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/root.graphqls
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: fetch actual required resources from FHIR when sending sykmelding
  libs/fhir-mock/src/data/encounter-espen-komar.ts
  libs/fhir-zod/src/encounter.ts
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/organization.ts
Due: yarn eslint --fix --max-warnings=0

chore: new opprett sykmelding payload schema
  e2e/fhir.spec.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/root.graphqls
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: implement all features used by draft in InMem demo valkey
  src/services/valkey/client.ts
Due: yarn eslint --fix --max-warnings=0

feat: automatically delete draft when submitting sykmelding
  e2e/fhir.spec.ts
  e2e/utils/request-utils.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
Due: yarn eslint --fix --max-warnings=0

Create nav_requirements.md - Added requirements
  docs/fhir/nav_requirements.md
Due: yarn prettier --write

chore: refetch drafts on dashboard mount
  src/components/dashboard/DraftSykmeldingerCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix accidental any in generated gql types
  codegen.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/resolvers.generated.ts
Due: yarn eslint --fix --max-warnings=0

feat: show when draft was last changed in dashboard
  src/components/dashboard/DraftSykmeldingerCard.tsx
  src/data-layer/draft/draft-client.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/draft.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/common.graphqls
  src/data-layer/graphql/schema/draft.graphqls
Due: yarn eslint --fix --max-warnings=0

Update _oversikt.md simplified page by removing links to simplifier
  docs/fhir/_oversikt.md
Due: yarn prettier --write

docs: update document-referenc.md with details for each field
  docs/fhir/document-reference.md
  docs/fhir/encounter.md
Due: yarn prettier --write

fix: also expire ownership relation keys at midnight
  src/data-layer/draft/draft-client.ts
Due: yarn eslint --fix --max-warnings=0

fix: pdf debug view
  src/components/pdf-debug-view/PdfDebugView.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump patches/minors
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: auto update draft timestamp, newest on top in list
  src/components/dashboard/DraftSykmeldingerCard.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/utils/hooks/useInterval.ts
Due: yarn eslint --fix --max-warnings=0

chore: make assertions for summary page dynamic, add more assertions on summary
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: migrate to zod v4
  libs/fhir-zod/src/bundle.ts
  libs/fhir-zod/src/common.ts
  libs/fhir-zod/src/condition.ts
  libs/fhir-zod/src/documentReference.ts
  libs/fhir-zod/src/encounter.ts
  libs/fhir-zod/src/organization.ts
  libs/fhir-zod/src/patient.ts
  libs/fhir-zod/src/practitioner.ts
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  libs/smart-on-fhir/src/client/smart/launch/token-schema.ts
  libs/smart-on-fhir/src/client/smart/well-known/smart-configuration-schema.ts
  libs/smart-on-fhir/src/client/smart/well-known/smart-configuration.ts
  libs/smart-on-fhir/src/client/storage/schema.ts
  src/data-layer/helseid/helseid-resources.ts
  src/data-layer/helseid/helseid-userinfo.ts
  src/services/api-fetcher.ts
  src/services/pdl/pdl-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/utils/__snapshots__/env.test.ts.snap
  src/utils/env.ts
  src/utils/zod.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove PDL lookup on summary page
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: don't rawdog form-values in a draft, use an actual typed draft zod schema
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/draft/DraftActions.tsx
  src/components/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/data-layer/draft/draft-client.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: save and restore more values from the form in the draft
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/data-layer/draft/draft-schema.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

feat: show draft diagnose in dash
  src/components/dashboard/DraftSykmeldingerCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: happy path e2e test the draft feature
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  e2e/utils/actions.ts
Due: yarn eslint --fix --max-warnings=0
