Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: migrate from iovalkey to @valkey/valkey-glide
  .env.development
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/lib/valkey.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  next.config.ts
  package.json
  src/core/data-layer/draft/draft-client.integration.ts
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/core/services/feedback/feedback-client.ts
  src/core/services/feedback/feedback-service.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/valkey/client.test.ts
  src/core/services/valkey/client.ts
  src/core/services/valkey/utils.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/valkey/InMemValkey.ts
  src/lib/__snapshots__/env.test.ts.snap
  src/lib/env.test.ts
  src/lib/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: wrap all valkey clients in spans since the Glide Rust runtime does not auto instrument
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/lib/otel.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: add integration test for testing the feedback-client
  libs/syk-zara/src/feedback/admin/client.ts
  src/core/services/feedback/feedback-client.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: upgrade to typst 0.15.1
  .github/workflows/deploy.yml
  .mise.toml
  scripts/typst-dev.sh
  src/core/pdf/typst.ts
  typst-pdf/components.typ
  typst-pdf/sykmelding.typ
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): all minors/patches, dev and runtime
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use variable font (new feature in typst 15)
  src/core/pdf/pdf-service.integration.ts
  typst-pdf/fonts/SourceSans3-Bold.ttf
  typst-pdf/fonts/SourceSans3-Italic-VariableFont_wght.ttf
  typst-pdf/fonts/SourceSans3-Italic.ttf
  typst-pdf/fonts/SourceSans3-Light.ttf
  typst-pdf/fonts/SourceSans3-Regular.ttf
  typst-pdf/fonts/SourceSans3-VariableFont_wght.ttf
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: increase timeout for feedback client integration test
  src/core/services/feedback/feedback-client.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: add pdf bytes to OTEL PDF generation traces
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/core/pdf/pdf-service.ts
Due: yarn eslint --fix --max-warnings=0

fix: remove idempotency check for questionnaireResponse as it is not required per ADR01
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak unleash cache
  src/core/toggles/definitions.test.ts
  src/core/toggles/definitions.ts
Due: yarn eslint --fix --max-warnings=0

chore: split events and log
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: add test to lock in idempotency
  src/core/data-layer/fhir/write/fhir-write-service.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: update synchronizer
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

fix: change naming to make sense
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify mock to have only one practitioner
  e2e/multi-mode/actions/mode-user-verifications.ts
  e2e/multi-mode/bruksvilkar.spec.ts
  e2e/standalone/actions/standalone-actions.ts
  libs/fhir-mock/src/data/practitioner.ts
  libs/fhir-mock/src/server-session.ts
  libs/helseid-mock/src/data/behandlere.ts
  libs/helseid-mock/src/dev/router.ts
  libs/helseid-mock/src/server-session.ts
  src/app/(fakerwall)/oauth2/login/route.ts
  src/app/(standalone)/error.tsx
  src/app/dev/page.tsx
  src/dev/tools/scenarios/ScenarioLinksFhir.tsx
  src/dev/tools/scenarios/ScenarioLinksStandalone.tsx
  src/dev/tools/scenarios/scenario-url-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir with new refresh token span attribs
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump @navikt/smart-on-fhir with graceful handle of 501
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump some minors
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: test new friskmeldingTilArbeidsformidling to kafka in integration tests
  package.json
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-kafka-types.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add already exists check to QR write as well
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

feat: show new friskmelding til arbeidsformidling question in PDF
  src/core/pdf/pdf-service.test.ts
  src/core/pdf/pdf-service.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix broken fhir write test
  src/core/data-layer/fhir/write/fhir-write-service.test.ts
Due: yarn eslint --fix --max-warnings=0

fix: bring back ALREADY_EXISTS to duplicate check
  src/core/data-layer/fhir/write/fhir-write-service.test.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

fix: wording of friskmelding til arbeidsformidling checkbox
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/pdf/pdf-service.test.ts
  src/core/pdf/pdf-service.ts
  src/features/ny-sykmelding-form/sections/andre-sporsmal/FriskmeldingTilArbeidsformidling.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: make "send læll" knapp not red
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
Due: yarn eslint --fix --max-warnings=0

docs: fix broken links in README
  README.md
Due: yarn prettier --write

refactor: simplify and normalize FHIR mapping of name and idents
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-user/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/app/dev/mock/page.tsx
  src/app/dev/mock/session/page.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-graphql-utils.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/mappers/identifiers.test.ts
  src/core/data-layer/fhir/mappers/identifiers.ts
  src/core/data-layer/fhir/mappers/oids.ts
  src/core/data-layer/fhir/mappers/patient.ts
  src/core/data-layer/fhir/mappers/practitioner.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
