Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use new MockReadyClient to test fhir-resource-service.ts goodily
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/core/data-layer/fhir/resources/fhir-resources-service.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fhir-write-service.test.ts to use MockReadyClient instead of hard mocks
  src/core/data-layer/fhir/resources/write/fhir-write-service.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: add vitest coverage reporter
  package.json
  yarn.lock
Due: yarn prettier --write

chore: simple testable executeable graphql schema with MockReadyClient
  src/core/data-layer/fhir/fhir-graphql-resolvers.test.ts
  vitest.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: use git sha as buildId in GHA
  next.config.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel + others
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix two impure lint rule hits after oxlint bump
  src/features/fhir/dashboard/combo-table/draft/AutoUpdatingDistance.tsx
  src/features/ny-sykmelding-form/sections/tilbakedatering/DynamicTilbakedateringSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): we can bump faro again (perchance)
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): motion@14 should be a non-breaking change
  package.json
  yarn.lock
Due: yarn prettier --write

chore: actually verify DPoP token and proof during normal use
  src/core/auth/helseid/helseid.ts
Due: yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: create bucket in dev-gcp
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: WIP [skip ci]
  .env.development
  .nais/nais-demo.yaml
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/app/api/mocks/gcp/[[...path]]/route.ts
  src/app/dev/debug-typst/route.tsx
  src/core/data-layer/fhir/resources/write/fhir-write-service.ts
  src/core/pdf/bucket/bucket-client.ts
  src/core/pdf/generation/types.ts
  src/core/pdf/generation/typst-service.test.ts
  src/core/pdf/generation/typst-service.ts
  src/core/pdf/generation/typst.ts
  src/core/pdf/pdf-service.integration.ts
  src/core/pdf/pdf-service.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/dev/mocks/fhir-mock/data/pdfs/base64pdf.ts
  src/dev/mocks/fhir-mock/data/pdfs/index.ts
  src/dev/mocks/fhir-mock/next.ts
  src/dev/mocks/gcp/config.ts
  src/dev/mocks/gcp/logger.ts
  src/dev/mocks/gcp/next.ts
  src/dev/mocks/gcp/router.ts
  src/dev/mocks/gcp/storage/file-bucket.ts
  src/dev/mocks/gcp/storage/router.ts
  src/dev/mocks/helseid-mock/next.ts
  src/lib/otel/server.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add engram test env in dev-gcp
  .nais/nais-dev.yaml
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: that's not how outbound.external works
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: migrate to deploy with 'nais apply' and use environment mixins
  .github/workflows/deploy.yml
  .nais/app.demo.yaml
  .nais/app.dev-gcp.yaml
  .nais/app.prod-gcp.yaml
  .nais/app.yaml
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: fix naming of deploy.yaml deploy jobs [skip ci]
  .github/workflows/deploy.yml
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
