Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

test: add some tags to e2e tests
  e2e/fhir-dashboard-redacted.spec.ts
  e2e/fhir-form-aareg.spec.ts
  e2e/fhir-form-interactions.spec.ts
Due: yarn eslint --fix --max-warnings=0

fix: take forlengelse into account in shorthand-logic
  e2e/fhir-form-interactions.spec.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
  src/core/redux/reducers/ny-sykmelding/meta.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ShorthandHint.tsx
  src/features/ny-sykmelding-form/aktivitet/periode/periode-shorthand.test.ts
  src/features/ny-sykmelding-form/aktivitet/periode/periode-shorthand.ts
Due: yarn eslint --fix --max-warnings=0

test: e2e tests for reprocuding shorthand forlengelse/multiperiode bug
  e2e/actions/fhir-actions.ts
  e2e/fhir-form-interactions.spec.ts
  src/dev/mock-engine/scenarios/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

fix: shorthand correctly takes into account previous period
  e2e/fhir-form-interactions.spec.ts
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ShorthandHint.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: simplify ShorthandHint
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ShorthandHint.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): monday deps bump
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: logging error that new pino version actually caught
  src/core/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

style: move form action section below last form element
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

style: make forleng button more obvious
  src/features/dashboard/combo-table/ComboTable.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
Due: yarn eslint --fix --max-warnings=0

style: align draft actions with sykmelding actions
  src/features/dashboard/combo-table/draft/DraftActions.tsx
Due: yarn eslint --fix --max-warnings=0

chore: poc helseid backed SoF launch claims
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/jwt/jwt.ts
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: poc HelseID claim for local/demo
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/jwt/jwt.ts
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/smart/helseid.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up standalone
  src/app/(dev)/dumb/DumbDevHeader.tsx
  src/app/(dev)/layout.tsx
  src/app/(dev)/page.tsx
  src/app/(standalone)/ny/[draftId]/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/app/(standalone)/page.tsx
  src/core/data-layer/graphql/yoga-server.ts
  src/core/data-layer/helseid/components/HelseIdHeader.tsx
  src/dev/tools/ScenarioLinks.tsx
  src/dev/tools/StandaloneLinks.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add global 404 page because route groups cant 404?
  src/app/(fhir)/not-found.tsx
  src/app/(standalone)/not-found.tsx
  src/app/global-not-found.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make standalone layout toggle-enabled, only for pilot users
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/errors/NoValidHPR.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): newest @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: initial part of multi-launch poc
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/smart/QueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/yoga-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: use new SmartClient instantiation
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/smart/active-patient.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: are we multi launch yet?
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: are we multi launch yet?
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: put sykefravær-graph behind toggle
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/dashboard/dumb-stats/DumbStats.tsx
Due: yarn eslint --fix --max-warnings=0

chore: configure webmed as confidential-symmetric client instead of public
  .nais/nais-dev.yaml
  src/core/data-layer/fhir/smart/issuers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: lazy load known FHIR server configuration
  src/core/data-layer/fhir/smart/issuers.ts
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump to @navikt/smart-on-fhir version without WebMed-hack
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: update knip config
  knip.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): newest @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use actual scopes we need
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: otel is more @lib than @core
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/services/api-fetcher.ts
  src/core/toggles/definitions.ts
  src/features/dashboard/combo-table/draft/DeleteDraftButton.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/draft/useSaveDraft.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/instrumentation-client.ts
  src/lib/otel/browser.ts
  src/lib/otel/common.ts
  src/lib/otel/faro.ts
  src/lib/otel/server.ts
Due: yarn eslint --fix --max-warnings=0

chore: seperate FHIR server issuer config per env
  src/app/api/internal/is_ready/route.ts
  src/core/data-layer/fhir/smart/issuers.ts
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
  src/core/data-layer/fhir/smart/issuers/envs/prod-gcp.ts
  src/core/data-layer/fhir/smart/issuers/issuers.ts
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

refactor: make issuer per env config prettier
  src/core/data-layer/fhir/smart/issuers/envs/others.ts
  src/core/data-layer/fhir/smart/issuers/index.ts
  src/core/data-layer/fhir/smart/issuers/issuers.ts
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

feat: complete receipt page with all values from sykmelding form
  src/components/sykmelding/SykmeldingValues.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

feat: pre-fill bidiagnorer from FHIR (behind toggle)
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
  src/core/data-layer/fhir/smart/issuers/envs/prod-gcp.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/form-default-values.test.ts
  src/features/ny-sykmelding-form/form-default-values.ts
  src/features/ny-sykmelding-form/form.tsx
  src/features/ny-sykmelding-form/summary/useFormValuesSummaryDraft.ts
Due: yarn eslint --fix --max-warnings=0

test: disable SYK_INN_AUTO_BIDIAGNOSER by default in e2e
  e2e/actions/fhir-actions.ts
Due: yarn eslint --fix --max-warnings=0

test: add e2e test for SYK_INN_AUTO_BIDIAGNOSER toggle
  e2e/fhir-form-submit.spec.ts
Due: yarn eslint --fix --max-warnings=0

feat: validate overlapping periods and gaps between periods
  e2e/fhir-form-interactions.spec.ts
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write
