Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: setup local helseid mock with /connect/userinfo
  .env.development
  README.md
  e2e/mocked-fhir.spec.ts
  nais/nais-dev.yaml
  next.config.ts
  src/app/(standalone)/gib-token/route.tsx
  src/app/(standalone)/page.tsx
  src/app/(standalone)/whoami/route.tsx
  src/app/api/mocks/fhir/[[...path]]/data/fhir-server/keys.ts
  src/app/api/mocks/fhir/[[...path]]/data/fhir-server/metadata.json
  src/app/api/mocks/fhir/[[...path]]/data/fhir-server/well-known.ts
  src/app/api/mocks/fhir/[[...path]]/data/index.ts
  src/app/api/mocks/fhir/[[...path]]/data/pasient-espen-eksempel.json
  src/app/api/mocks/fhir/[[...path]]/data/practitioner-koman-magnar.json
  src/app/api/mocks/fhir/[[...path]]/data/smart-style.json
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/app/api/mocks/fhir/auth/[[...path]]/route.ts
  src/app/api/mocks/fhir/jwt.ts
  src/app/api/mocks/helseid/[[...path]]/data/behandler-userinfo.json
  src/app/api/mocks/helseid/[[...path]]/data/index.ts
  src/app/api/mocks/helseid/[[...path]]/route.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/ScenarioLinks.tsx
  src/fhir/components/FhirClientProvider.tsx
  src/fhir/issuers.ts
  src/helseid/helse-id.ts
  src/helseid/user.ts
  src/utils/env.test.ts
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix well known envs
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  scripts/pre-build.sh
  src/helseid/helse-id.ts
  src/helseid/user.ts
Due: yarn eslint --fix --max-warnings=0

chore: add cool-ass mermaid diagram showing how wonderwall works [skip ci]
  README.md
Due: yarn prettier --write

chore: make behandler a synchronous dependency in the data provider
  package.json
  src/app/(fhir)/fhir/page.tsx
  src/app/(standalone)/layout.tsx
  src/app/(standalone)/ny/page.tsx
  src/app/(standalone)/page.tsx
  src/app/(standalone)/whoami/route.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-user.ts
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/components/FhirClientProvider.tsx
  src/fhir/components/FhirError.tsx
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/components/FhirLaunchInitialization.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/mappers/oid.ts
  src/fhir/data-fetching/schema/mappers/patient.ts
  src/fhir/data-fetching/schema/practitioner.ts
  src/helseid/components/HelseIdDataServiceProvider.tsx
  src/helseid/helseid-resources.ts
  src/helseid/helseid-userinfo.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fetch /userinfo on mount in standalone
  src/app/(standalone)/layout.tsx
  src/helseid/helseid-userinfo.ts
Due: yarn eslint --fix --max-warnings=0

chore: use HPR when creating sykmelding
  src/app/(standalone)/layout.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
Due: yarn eslint --fix --max-warnings=0

chore: use right client credentials scope for syk-inn-api, and use right path
  .env.development
  nais/nais-dev.yaml
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/services/SykInnApiService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: handle submit errors
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove use of @navikt/nav-dekoratoren-moduler for now
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  package.json
  src/app/(standalone)/layout.tsx
  src/helseid/components/HelseIdHeader.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove 10 second wait in dev lol xD
  src/app/(fhir)/fhir/launch/page.tsx
Due: yarn eslint --fix --max-warnings=0

fix: demo not being able to fetch it's own mock
  src/helseid/helseid-resources.ts
  src/utils/env.ts
  src/utils/url.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't SSR FHIR header (it portals)
  src/fhir/components/FhirClientProvider.tsx
Due: yarn eslint --fix --max-warnings=0

chore: don't auto-login api routes
  nais/nais-dev-wonderwall.yaml
Due: yarn prettier --write

chore(deps): bump minors and patches
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make redis client more robust, add logging to client
  src/fhir/sessions/session-store-redis.ts
Due: yarn eslint --fix --max-warnings=0

fix: show fhir init error
  src/fhir/components/FhirClientProvider.tsx
Due: yarn eslint --fix --max-warnings=0

feat: disallow launches from unknown issuers
  src/app/(fhir)/fhir/launch/page.tsx
  src/fhir/issuers.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't compare for known iss with query params
  package.json
  src/app/(fhir)/fhir/launch/page.tsx
  src/fhir/issuers.test.ts
  src/fhir/issuers.ts
  vitest.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): more bumparoonies
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add simple display of practitioners qualifications from FHIR
  README.md
  src/app/(standalone)/layout.tsx
  src/app/api/mocks/fhir/[[...path]]/data/practitioner-koman-magnar.json
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-behandler.ts
  src/components/ny-sykmelding-form/practitioner/PractitionerSection.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/practitioner.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: also pass down autorisasjon to standalone providers
  src/app/(standalone)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

chore: try a different loopback host
  src/utils/url.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix loopback, it also needs to use base path in env
  src/helseid/helseid-resources.ts
  src/helseid/helseid-userinfo.ts
  src/utils/url.ts
Due: yarn eslint --fix --max-warnings=0

chore: add add webmed as known issuer
  src/fhir/issuers.ts
Due: yarn eslint --fix --max-warnings=0

chore: implemente WebMed fallback for Practitioner
  src/fhir/data-fetching/fhir-data-service.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make qualifactions optionol even though they arent lol
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/practitioner.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): next 15.1, react 19
  package.json
  yarn.lock
Due: yarn prettier --write

feat: use patient fnr on submit when context
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
Due: yarn eslint --fix --max-warnings=0

chore: clean up language, add 'lingo' section to README
  README.md
  src/app/api/mocks/fhir/[[...path]]/data/index.ts
  src/app/api/mocks/fhir/[[...path]]/data/patient-espen-eksempel.json
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/components/ny-sykmelding-form/aktivitet/form-summary/NySykmeldingFormSummary.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/data-provider/hooks/use-context-pasient.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/mappers/patient.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): @hookform/devtools with react 19 support
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): Revert "chore(deps): @hookform/devtools with react 19 support"
  package.json
  yarn.lock
Due: yarn prettier --write

fix: gradering submit schema
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
Due: yarn eslint --fix --max-warnings=0

test: e2e fhir test that submits gradert sykmelding
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

test: e2e fhir test for editing diagnose
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: reusable e2e user actions
  e2e/fhir-actions.ts
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: e2e diagnose action
  e2e/fhir-actions.ts
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: e2e extra cool periode action
  e2e/fhir-actions.ts
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: e2e edit diagnose action
  e2e/fhir-actions.ts
  e2e/mocked-fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't use nextjs server actions because actions+k8s not veri happi
  src/app/api/sykmelding/submit/route.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/components/ny-sykmelding-form/ny-sykmelding-api.ts
  src/utils/zod.ts
Due: yarn eslint --fix --max-warnings=0
