Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: sort sykmeldinger on dashboard
  src/features/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

feat: don't copy meldinger during dupliser/forleng
  e2e/actions/user-form-verification.ts
  e2e/fhir-dashboard.spec.ts
  src/core/redux/reducers/ny-sykmelding/mappers/common.ts
  src/core/redux/reducers/ny-sykmelding/mappers/duplisering.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
Due: yarn eslint --fix --max-warnings=0

feat: verify users existense on summary page
  .nais/nais-dev.yaml
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/pasient.graphql
  src/core/data-layer/graphql/resolvers.generated.ts
  src/core/data-layer/graphql/schema/pasient.graphqls
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: PUT DocumentReference so we control the ID
  libs/fhir-mock/package.json
  libs/fhir-mock/src/resources/document-reference/get-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  package.json
  src/core/data-layer/fhir/fhir-service.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: correct placement of buttons
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

chore: can we stop undici instrumentation from failing our trace?
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/lib/otel/server.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move 404 squelching into fhir lib
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/lib/otel/server.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: FhirGraphQLContext was not used
  src/app/(fhir)/fhir/(fhir-launched)/graphql/route.ts
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): next 15.5
  libs/fhir-mock/package.json
  package.json
  src/middleware.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use next 15.5 LayoutProps for layouts
  src/app/(dev)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

fix: next typegen before checking types in GHA
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: migrate away from 'next lint'
  eslint.config.ts
  package.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: can we turbo e2e for even faster GHAs?
  next.config.ts
  scripts/build-e2e.sh
Due: yarn eslint --fix --max-warnings=0

chore: simplify dev-only layout
  src/app/(dev)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

chore: load no data in browser for non-pilot users, add dry-run
  e2e/fhir-launch.spec.ts
  src/app/(dev)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(standalone)/error/non-pilot-user/page.tsx
  src/app/(standalone)/layout.tsx
  src/components/user-warnings/NonPilotUserWarning.tsx
  src/core/data-layer/fhir/smart/session.ts
  src/features/dashboard/ComboTableCard.tsx
  src/lib/otel/server.ts
Due: yarn eslint --fix --max-warnings=0

chore: third playwright shard
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: add syk-inn-api call to non-pilot-user dry-run
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/mappers/patient.ts
Due: yarn eslint --fix --max-warnings=0

fix: non-pilot-user endless redirect loop in standalone
  src/app/(standalone)/error/non-pilot-user/page.tsx
  src/app/(standalone)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

fix: standalone should use standalone gql API
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/providers/Providers.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): playwright 1.55
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: yarn 4.9.3 [skip ci]
  package.json
Due: yarn prettier --write

fix: proper access control when loading drafts
  src/core/data-layer/draft/draft-client.test.ts
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

fix: data fetching error union issue
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: road to prod - deploy unleash token in prod
  .github/workflows/deploy-unleash-token.yml
  .nais/nais-unleash-token.yaml
Due: yarn prettier --write

chore: road to prod - draft up valkey specification for prod (don't deploy)
  .github/workflows/deploy-valkey.yml
  .nais/nais-prod-valkey.yaml
Due: yarn prettier --write

chore: road to prod - draft up nais prod.yml (don't deploy), build for prod in GHA
  .github/workflows/deploy.yml
  .nais/envs/.env.prod
  .nais/nais-prod.yaml
  src/app/(standalone)/layout.tsx
  src/lib/url.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): migrate to apollo client v4
  e2e/actions/user-actions.ts
  e2e/utils/assertions.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/shortcut/ShortcutButtons.tsx
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/apollo/apollo-client-utils.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/error/Errors.ts
  src/dev/tools/DevTools.tsx
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/dev/tools/api-fail-toggle/apollo-dev-tools-link.tsx
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/combo-table/draft/DeleteDraftButton.tsx
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/features/ny-sykmelding-form/draft/useSaveDraft.ts
  src/features/ny-sykmelding-form/summary/BehandlerSummary.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/useFormValuesSummaryDraft.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump, fix missing peer dep
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: remove @apollo/client-integration-nextjs
  package.json
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/providers/Providers.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: refetch loading state on dashboard
  src/core/data-layer/graphql/queries.generated.ts
  src/core/data-layer/graphql/queries/dashboard.graphql
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/card/DashboardCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: refetch konsultasjon on dashboard focus for updated diagnosis
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: inform that there's no diagnosis EHR updates
  src/core/data-layer/common/diagnose.ts
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/diagnose/DiagnoseInfoAlert.tsx
  src/features/ny-sykmelding-form/diagnose/useDiagnoseSuggestions.ts
Due: yarn eslint --fix --max-warnings=0

chore: use unleash toggleClient for server toggles (try to send metrics)
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/layout.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify frontend toggles
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/core/toggles/context.tsx
  src/core/toggles/dev/cookie-override.ts
  src/core/toggles/toggles.ts
  src/core/toggles/unleash.ts
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdSection.tsx
  src/features/ny-sykmelding-form/diagnose/useDiagnoseSuggestions.ts
Due: yarn eslint --fix --max-warnings=0
