Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: validate HelseID token on initial load
  src/app/(standalone)/(logged-in)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

chore: mark span as failed when HelseID token validation fails
  src/core/data-layer/helseid/token/validate.ts
  src/core/data-layer/helseid/token/well-known.ts
Due: yarn eslint --fix --max-warnings=0

chore: debug HelseID token validation in prod
  src/core/data-layer/helseid/token/validate.ts
  src/core/data-layer/helseid/token/well-known.ts
Due: yarn eslint --fix --max-warnings=0

chore: enable server source maps for next server
  next.config.ts
Due: yarn eslint --fix --max-warnings=0

fix: I am an idiot
  src/core/data-layer/helseid/config/envs.ts
  src/core/data-layer/helseid/token/validate.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  next.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: gracefully handle nullable tilbakedatering from syk-inn-api
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/generated/types.generated.ts
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/features/actions/common/gql-sykmelding-mappers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

perf: cache HelseID openid-configuration in memory for 24h
  src/core/data-layer/helseid/token/well-known.test.ts
  src/core/data-layer/helseid/token/well-known.ts
Due: yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore(deps): bump faro + some others
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: add organization scope
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump pino-/next-logger + misc others
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make HelseID configuration configurable
  .env.development
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  scripts/build-e2e.sh
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/data-layer/helseid/config/envs.ts
  src/core/data-layer/helseid/token/well-known.test.ts
  src/core/data-layer/helseid/token/well-known.ts
  src/core/services/valkey/client.ts
  src/lib/__snapshots__/env.test.ts.snap
  src/lib/env.test.ts
  src/lib/env.ts
  vitest.integration.setup.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make valkey env config not rely on runtime env
  src/core/services/valkey/client.ts
  src/lib/__snapshots__/env.test.ts.snap
  src/lib/env.test.ts
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

feat: att navEpj to knownFhirServers
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
Due: yarn eslint --fix --max-warnings=0

chore: add nav-epj to outbound external
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: add nav-epj to outbound external (#260)
  .nais/nais-dev.yaml
Due: yarn prettier --write

fix: nav-epj ekstern ingress in knownDevFhirServers
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
Due: yarn eslint --fix --max-warnings=0

feat: add date range to timeline for demo
  src/features/fhir/dashboard/top-card/SykmeldingTimeline.tsx
Due: yarn eslint --fix --max-warnings=0

chore(desp): bumps
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: disable some new oxlint lint rules
  oxlint.config.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/validator/validator.tsx
  src/dev/mock-engine/SykInnApiMock.ts
  src/features/fhir/dashboard/top-card/sykmeldinger-timeline-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: autologin HelseID in dev-gcp, except for during launch
  .nais/nais-dev.yaml
Due: yarn prettier --write

refactor: simplify and normalise HelseID wonderwall auth, make it available outside of standalone
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/app/(standalone)/(logged-in)/feedback/route.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/bruksvilkar/accept/route.ts
  src/app/(standalone)/bruksvilkar/page.tsx
  src/core/auth/helseid/helseid.ts
  src/core/auth/helseid/schema.ts
  src/core/auth/helseid/token/jwk.ts
  src/core/auth/helseid/token/validate.ts
  src/core/auth/helseid/token/well-known.test.ts
  src/core/auth/helseid/token/well-known.ts
  src/core/auth/helseid/wonderwall-tokens.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-service.ts
  src/core/data-layer/helseid/helseid-user.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel + others
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump deps to try and rebuild without cache
  oxfmt.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add a dedicated externa demo scenario on /demo route
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/demo/route.ts
  src/core/toggles/dev/local.ts
  src/dev/mock-engine/scenarios/DraftBuilder.ts
  src/dev/mock-engine/scenarios/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

chore: add configmap to demo app
  .nais/nais-demo.yaml
  e2e/fhir/fhir-feedback.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: expand the demo warning header with a link to questionnaire
  .env.development
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/error.tsx
  src/app/dev/layout.tsx
  src/app/global-not-found.tsx
  src/components/user-warnings/DemoHeader.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/dev/demo-epj-frame/DemoFrame.tsx
  src/dev/mock-engine/scenarios/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

fix: make the demo questionnaire url a proper env
  src/app/global-not-found.tsx
  src/components/user-warnings/DemoHeader.tsx
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: use native apollo window fetch instead of raklete useRefetch
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/features/fhir/dashboard/SykmeldingerSection.tsx
  src/features/ny-sykmelding-form/sections/diagnose/useDiagnoseSuggestions.ts
  src/lib/hooks/useOnFocus.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove false comment
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump vitest, playwright
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: what is going on send help
  .github/workflows/deploy.yml
Due: yarn prettier --write
