Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: document support for confidential-asymmetric, mark it as preferred
  docs/smart/getting-started.md
Due: yarn prettier --write

chore: add Jovia Helse as known fhir servers in test
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
Due: yarn eslint --fix --max-warnings=0

chore: add script for generating RS256 key pairs as jwks [skip ci]
  scripts/generate-jwk.ts
Due: yarn eslint --fix --max-warnings=0

chore: add public jwk
  .nais/nais-dev.yaml
  scripts/build-e2e.sh
  src/app/jwk.json/route.ts
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
  src/lib/env.test.ts
  src/lib/env.ts
  vitest.integration.setup.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: more explicit handling of missing tokens in HelseID user info fetching
  src/app/jwk.json/route.ts
  src/core/auth/helseid/helseid.ts
Due: yarn eslint --fix --max-warnings=0

docs: add instructions for EHR developers for running syk-inn locally
  README.md
Due: yarn prettier --write

chore: add dummy jwks for demo so it can start
  .nais/envs/.env.demo
Due: none

fix: don't wonderwall auth jwk.json in production
  .nais/nais-prod.yaml
Due: yarn prettier --write

fix: configure outbound external host for javiahelse.no
  .nais/nais-dev.yaml
Due: yarn prettier --write

fix: demo route should demo in demo, not not demo
  src/app/demo/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: add a simple wonderwall /oauth2/login mock to init HelseID mocked local and in demo
  .env.development
  .nais/nais-prod.yaml
  libs/fhir-mock/src/next.ts
  src/app/(fakerwall)/oauth2/login/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/app/dev/debug-typst/route.tsx
  src/app/dev/mock/page.tsx
  src/app/dev/mock/session/page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: enable full HelseID-in-FHIR, remove toggle
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/app/(standalone)/(logged-in)/feedback/route.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/core/auth/helseid/helseid.ts
  src/core/auth/helseid/token/validate.ts
  src/core/auth/helseid/wonderwall-tokens.ts
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore: add Medro (test) to known FHIR servers in dev-gcp
  .nais/nais-dev.yaml
  src/core/data-layer/fhir/smart/issuers/envs/dev-gcp.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: migrate from iovalkey to @valkey/valkey-glide
  .env.development
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/lib/valkey.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  next.config.ts
  package.json
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/core/services/feedback/feedback-client.ts
  src/core/services/feedback/feedback-service.ts
  src/core/services/valkey/client.test.ts
  src/core/services/valkey/client.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/valkey/InMemValkey.ts
  src/lib/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: generated private key jwk pair should also have kid [skip ci]
  scripts/generate-jwk.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump some dev deps + remeda
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump @navikt/smart-on-fhir, supports new jwt verify algs
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: migrate from iovalkey to @valkey/valkey-glide
  .env.development
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/lib/valkey.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  next.config.ts
  package.json
  src/core/data-layer/draft/draft-client.integration.ts
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/core/services/feedback/feedback-client.ts
  src/core/services/feedback/feedback-service.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/valkey/client.test.ts
  src/core/services/valkey/client.ts
  src/core/services/valkey/utils.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/valkey/InMemValkey.ts
  src/lib/env.test.ts
  src/lib/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: reformat
  docs/ebxml-sykmelding/getting-started-1.md
  docs/ebxml-sykmelding/getting-started-2.md
  docs/ebxml-sykmelding/test/test-data.md
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

docs: reformat (#267)
  docs/ebxml-sykmelding/getting-started-1.md
  docs/ebxml-sykmelding/getting-started-2.md
  docs/ebxml-sykmelding/test/test-data.md
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

docs: fix ref
  docs/ebxml-sykmelding/getting-started-1.md
Due: yarn prettier --write

chore: update ebxml-sykmelding docs
  docs/ebxml-sykmelding/getting-started-1.md
  docs/ebxml-sykmelding/getting-started-2.md
  docs/ebxml-sykmelding/test/test-data.md
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

chore: updated test steps
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

chore: updated test steps once more
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

chore: added in correct cpp address
  docs/ebxml-sykmelding/getting-started-1.md
Due: yarn prettier --write

chore: made test steps even more simpler
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

feat: support utenlandsk in redacted
  src/app/dev/debug-typst/route.tsx
  src/components/sykmelding/BehandlerValues.tsx
  src/core/data-layer/graphql/common-type-resolvers.ts
  src/core/data-layer/graphql/generated/possible-types.generated.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/generated/types.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/sykmelding/common.graphqls
  src/core/pdf/pdf-service.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mock-mappers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: add integration test for testing the feedback-client
  libs/syk-zara/src/feedback/admin/client.ts
  src/core/services/feedback/feedback-client.integration.ts
Due: yarn eslint --fix --max-warnings=0

refactor: migrate from iovalkey to @valkey/valkey-glide
  .env.development
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/lib/valkey.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  next.config.ts
  package.json
  src/core/data-layer/draft/draft-client.integration.ts
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/core/services/feedback/feedback-client.ts
  src/core/services/feedback/feedback-service.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/valkey/client.test.ts
  src/core/services/valkey/client.ts
  src/core/services/valkey/utils.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/valkey/InMemValkey.ts
  src/lib/__snapshots__/env.test.ts.snap
  src/lib/env.test.ts
  src/lib/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make tests steps more simple and clear
  docs/ebxml-sykmelding/getting-started-1.md
  docs/ebxml-sykmelding/getting-started-2.md
  docs/ebxml-sykmelding/test/test-data.md
  docs/ebxml-sykmelding/test/test-steps.md
Due: yarn prettier --write

chore: wrap all valkey clients in spans since the Glide Rust runtime does not auto instrument
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/lib/otel.ts
  libs/syk-zara/src/pubsub/pub.ts
  libs/syk-zara/src/pubsub/sub.ts
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add scope to test nav-epj in dev
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: use correct language code according to FHIR spec
  src/core/data-layer/fhir/write/mappers/document-reference.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
