Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: update uke 7 texts to match BDR
  src/core/data-layer/common/questions.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use texts from shared file instead of hardcoding in tests
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

chore: update uke 7 texts to match BDR
  e2e/actions/user-actions.ts
  src/core/data-layer/common/questions.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add all sykmelding perioder to dashboard display
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/sykmelding-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: make perioder more visually correct
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
Due: yarn eslint --fix --max-warnings=0

fix: show proper error when Patient load fails on load
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
Due: yarn eslint --fix --max-warnings=0

chore: show all perioder in title
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/sykmelding-utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: show grad for last sykmelding period
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/sykmelding-utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: show sykmeldingsperioder and grad in helptext
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
Due: yarn eslint --fix --max-warnings=0

fix: remove e2e tmp file on macos
  scripts/document-e2e.sh
Due: none

chore(deps): bamp
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: tweak logging and error reporting for FHIR errors
  libs/fhir-mock/.gitignore
  libs/fhir-mock/package.json
  libs/helseid-mock/.gitignore
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add test
  e2e/fhir/dashboard/sykmelding.spec.ts
Due: yarn eslint --fix --max-warnings=0

fix: reformat
  e2e/fhir/dashboard/sykmelding.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove teamLogs to see if it fixes worker exit errors
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/api/team-logger/route.ts
  src/core/data-layer/common/pilot-user-utils.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/mappers/patient.ts
  src/core/data-layer/fhir/mappers/practitioner.ts
  src/core/data-layer/helseid/helseid-user.ts
  src/core/services/api-fetcher.ts
  src/features/ny-sykmelding-form/draft/internals/FormDraftSyncInternals.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

fix: add remeda to e2e
  e2e/package.json
Due: yarn prettier --write

fix: install remeda
  yarn.lock
Due: none

Legge til at sykmeldinger med flere perioder vises i dashboardet (#153)
  e2e/fhir/dashboard/sykmelding.spec.ts
  e2e/package.json
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: update lockfile
  yarn.lock
Due: none

feat: schema updates for remaining 'utdypende opplysninger' questions
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/data-layer/graphql/schema/utdypende-sporsmal.graphqls
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: allow users to re-approve bruksvilkår when they are updated
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/core/services/bruksvilkar/bruksvilkar-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/core/services/bruksvilkar/utils.test.ts
  src/core/services/bruksvilkar/utils.ts
  src/features/bruksvilkar/Bruksvilkar.tsx
  src/features/bruksvilkar/BruksvilkarInfo.tsx
Due: yarn eslint --fix --max-warnings=0

feat: simple bruksvilkår accepter (with lorem ipsum)
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/core/providers/ModePaths.tsx
  src/core/services/bruksvilkar/bruksvilkar-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/features/bruksvilkar/Bruksvilkar.tsx
  src/features/bruksvilkar/BruksvilkarInfo.tsx
  src/lib/date.ts
Due: yarn eslint --fix --max-warnings=0

chore: use inmem valkey in bruksvilkår locally/e2e
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/dev/mock-engine/MockEngine.ts
Due: yarn eslint --fix --max-warnings=0

chore: add bruksvilkår valkey client
  src/core/services/bruksvilkar/bruksvilkar-client.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: use a markdown as source for the actual bruksvilkår
  docs/bruksvilkar.mdx
  next.config.ts
  package.json
  src/features/bruksvilkar/BruksvilkarInfo.tsx
  src/features/bruksvilkar/bruksvilkar.mdx
  src/features/bruksvilkar/bruksvilkar.mdx.d.ts
  src/mdx-components.tsx
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: import bruksvilkår from docs folder
  docs/bruksvilkar.mdx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/features/bruksvilkar/Bruksvilkar.tsx
  src/features/bruksvilkar/BruksvilkarAccept.tsx
  src/features/bruksvilkar/BruksvilkarSection.tsx
  src/features/bruksvilkar/bruksvilkar.mdx
  src/features/bruksvilkar/bruksvilkar.mdx.d.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test(e2e): test bruksvilkår
  e2e/README.md
  e2e/fhir/fhir-bruksvilkar.spec.ts
  src/features/bruksvilkar/Bruksvilkar.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove old feedback (with toggle)
  e2e/README.md
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/components/feedback/PilotFeedback.tsx
  src/components/feedback/v2/FeedbackButton.tsx
  src/core/services/feedback/old-feedback.ts
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove v2 subfolder (no longer needed)
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/components/feedback/FeedbackButton.tsx
  src/components/feedback/fields/ContactField.tsx
  src/components/feedback/fields/FeedbackField.tsx
  src/components/feedback/fields/TypeField.tsx
  src/components/feedback/full-feedback/FullFeedbackForm.tsx
  src/components/feedback/full-feedback/form.ts
  src/components/feedback/in-situ/FeedbackInSitu.tsx
  src/components/feedback/in-situ/FeedbackInSituForm.tsx
  src/components/feedback/in-situ/form.ts
  src/components/feedback/sentiment/SentimentPicker.tsx
  src/components/feedback/useFeedback.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: syk-zara - move feedback to own sub-import
  e2e/README.md
  libs/syk-zara/package.json
  libs/syk-zara/src/admin/index.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/admin/index.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/feedback/index.ts
  libs/syk-zara/src/feedback/schema/common.ts
  libs/syk-zara/src/feedback/schema/meta-schema.ts
  libs/syk-zara/src/feedback/schema/schema-types.ts
  libs/syk-zara/src/feedback/schema/schema.ts
  src/core/services/feedback/feedback-client.ts
  src/features/bruksvilkar/BruksvilkarSection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: syk-zara - move feedback to own sub-import
  e2e/README.md
  libs/syk-zara/package.json
  libs/syk-zara/src/admin/index.ts
  libs/syk-zara/src/feedback/admin/client.ts
  libs/syk-zara/src/feedback/admin/index.ts
  libs/syk-zara/src/feedback/client.ts
  libs/syk-zara/src/feedback/index.ts
  libs/syk-zara/src/feedback/schema/common.ts
  libs/syk-zara/src/feedback/schema/meta-schema.ts
  libs/syk-zara/src/feedback/schema/schema-types.ts
  libs/syk-zara/src/feedback/schema/schema.ts
  src/core/services/feedback/feedback-client.ts
  src/features/bruksvilkar/BruksvilkarSection.tsx
  src/lib/zod.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move bruksvilkår valkey client to syk-zara
  e2e/README.md
  libs/syk-zara/package.json
  libs/syk-zara/src/bruksvilkar/admin/client.ts
  libs/syk-zara/src/bruksvilkar/admin/index.ts
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/bruksvilkar/index.ts
  src/core/services/bruksvilkar/bruksvilkar-service.ts
  src/dev/mock-engine/MockEngine.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
