Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: poc some token validation stuff (for the mock)
  package.json
  src/app/api/fhir-mock/[[...path]]/data/fhir-server/keys.ts
  src/app/api/fhir-mock/[[...path]]/data/fhir-server/well-known.ts
  src/app/api/fhir-mock/[[...path]]/data/index.ts
  src/app/api/fhir-mock/[[...path]]/route.ts
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/app/api/fhir-mock/jwt.ts
  src/app/api/test/route.ts
  src/devtools/InternalDevTools.tsx
  src/fhir/auth/verify.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: session management to verify token
  src/app/api/test/route.ts
  src/app/fhir/fhir-client.tsx
  src/app/fhir/launch/fhir-initialization.tsx
  src/app/fhir/launch/page.tsx
  src/app/fhir/page.tsx
  src/app/fhir/schema/mappers/patient.ts
  src/app/providers.tsx
  src/fhir/auth/verify.ts
  src/fhir/issuers.ts
  src/fhir/session-lifecycle.ts
  src/fhir/session-store.ts
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

chore: session management to verify token (#1)
  src/app/api/test/route.ts
  src/app/fhir/fhir-client.tsx
  src/app/fhir/launch/fhir-initialization.tsx
  src/app/fhir/launch/page.tsx
  src/app/fhir/page.tsx
  src/app/fhir/schema/mappers/patient.ts
  src/app/providers.tsx
  src/fhir/auth/verify.ts
  src/fhir/issuers.ts
  src/fhir/session-lifecycle.ts
  src/fhir/session-store.ts
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

chore: use redis for session storage
  .env.development
  .yarnrc.yml
  README.md
  package.json
  src/app/fhir/launch/page.tsx
  src/app/fhir/page.tsx
  src/fhir/auth/verify.ts
  src/fhir/session-lifecycle.ts
  src/fhir/session-store.ts
  src/fhir/sessions/session-lifecycle.ts
  src/fhir/sessions/session-store-in-mem.ts
  src/fhir/sessions/session-store-redis.ts
  src/fhir/sessions/session-store.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: prefix redis hashes
  src/fhir/sessions/session-store-redis.ts
  src/fhir/sessions/session-store.ts
Due: yarn eslint --fix --max-warnings=0

chore: add demo environment warning
  src/app/demo-warning.tsx
  src/app/layout.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add metadata about user in FHIR-mode
  src/app/fhir/fhir-client.tsx
  src/app/fhir/fhir-context.tsx
  src/app/fhir/fhir-user-info.tsx
  src/app/ny/page.tsx
  src/components/ny-sykmelding/data-provider/NySykmeldingFormDataService.ts
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/components/FhirHeader.tsx
  src/fhir/components/NavLogo.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add /Practitioner to mock-fhir API
  src/app/api/fhir-mock/[[...path]]/data/index.ts
  src/app/api/fhir-mock/[[...path]]/data/practitioner-koman-magnar.json
  src/app/api/fhir-mock/[[...path]]/route.ts
  src/app/fhir/fhir-context.tsx
  src/app/fhir/schema/common.ts
  src/app/fhir/schema/mappers/patient.ts
  src/app/fhir/schema/patient.ts
  src/app/fhir/schema/practitioner.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(docs): document data providers pattern
  src/components/ny-sykmelding/data-provider/NySykmeldingFormDataProvider.tsx
  src/components/ny-sykmelding/data-provider/NySykmeldingFormDataService.ts
Due: yarn eslint --fix --max-warnings=0

chore: refactor FHIR components out of app-dir, document how they work
  src/app/fhir/launch/page.tsx
  src/app/fhir/page.tsx
  src/fhir/components/FhirClientProvider.tsx
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/components/FhirLaurchInitialization.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/common.ts
  src/fhir/data-fetching/schema/mappers/patient.ts
  src/fhir/data-fetching/schema/patient.ts
  src/fhir/data-fetching/schema/practitioner.ts
Due: yarn eslint --fix --max-warnings=0

chore: document /fhir and /fhir/launch pages
  src/app/fhir/launch/page.tsx
  src/app/fhir/page.tsx
  src/components/ui/NavLogo.tsx
  src/fhir/components/FhirHeader.tsx
Due: yarn eslint --fix --max-warnings=0

chore: set up basic skeleton for running playwright tests
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy.yml
  .gitignore
  e2e/.eslintrc
  e2e/example.spec.ts
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  src/app/fhir/launch/page.tsx
  src/fhir/components/FhirLaunchInitialization.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make FhirClientProvider an actual provider, + some documentation
  .github/workflows/deploy.yml
  src/app/fhir/launch/page.tsx
  src/app/fhir/page.tsx
  src/app/ny/page.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormValues.ts
  src/components/ny-sykmelding-form/NySykmeldingOpprettProgressModal.module.css
  src/components/ny-sykmelding-form/NySykmeldingOpprettProgressModal.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.module.css
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverManuellInputSection.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidsgiverWithDataField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidssituasjonField.tsx
  src/components/ny-sykmelding-form/arbeidssituasjon/ArbeidssituasjonSection.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataProvider.tsx
  src/components/ny-sykmelding-form/data-provider/NySykmeldingFormDataService.ts
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSmartPicker.tsx
  src/components/ny-sykmelding-form/diagnose/combobox/AkselifiedCombobox.module.css
  src/components/ny-sykmelding-form/diagnose/combobox/AkselifiedCombobox.tsx
  src/components/ny-sykmelding-form/diagnose/combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/errors/FormErrors.tsx
  src/components/ny-sykmelding-form/errors/errorUtils.ts
  src/components/ny-sykmelding-form/ny-sykmelding-actions.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
  src/components/ny-sykmelding-form/pasient/PasientSection.tsx
  src/devtools/InternalDevTools.tsx
  src/devtools/useAPIOverride.ts
  src/fhir/components/FhirClientProvider.tsx
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/components/Test.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/issuers.ts
  src/fhir/sessions/session-lifecycle.ts
  src/instrumentation.ts
  src/utils/env.ts
  src/utils/ts.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update README [skip ci]
  README.md
Due: yarn prettier --write

chore: add e2e instructions to README [skip ci]
  README.md
Due: yarn prettier --write

chore: fetch patient and practitioner by context ids
  src/app/api/fhir-mock/[[...path]]/route.ts
  src/devtools/ScenarioLinks.tsx
  src/fhir/components/FhirLaunchInitialization.tsx
  src/fhir/components/Test.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/patient.ts
Due: yarn eslint --fix --max-warnings=0

chore: put app devtools on right side, add reload queries button
  src/devtools/DevTools.tsx
  src/devtools/InternalDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

chore: visualize retries
  src/components/misc/SubtleRetryIndicator.tsx
  src/components/ny-sykmelding-form/diagnose/combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/fhir/components/FhirLaunchInitialization.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix local Practitioner mock
  src/app/api/fhir-mock/[[...path]]/route.ts
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/app/api/fhir-mock/jwt.ts
  src/fhir/components/FhirLaunchInitialization.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/utils/wait.ts
Due: yarn eslint --fix --max-warnings=0

chore: wip diagnosekode from FHIR
  src/components/ny-sykmelding-form/diagnose/DiagnoseSmartPicker.tsx
  src/fhir/data-fetching/fhir-data-service.tsx
  src/fhir/data-fetching/schema/condition.ts
Due: yarn eslint --fix --max-warnings=0

remove scopes not supported
  src/app/api/fhir-mock/[[...path]]/data/fhir-server/well-known.ts
Due: yarn eslint --fix --max-warnings=0

edit client-id and set basic minimum scopes
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/fhir/components/FhirLaunchInitialization.tsx
Due: yarn eslint --fix --max-warnings=0

Chore/scope edit (#2)
  src/app/api/fhir-mock/[[...path]]/data/fhir-server/well-known.ts
  src/app/api/fhir-mock/auth/[[...path]]/route.ts
  src/fhir/components/FhirLaunchInitialization.tsx
Due: yarn eslint --fix --max-warnings=0

add viable external hosts
  nais/nais-demo.yaml
Due: none

remove unused host
  nais/nais-demo.yaml
Due: none

add viable external hosts (#3)
  nais/nais-demo.yaml
Due: none

chore: dev deploy configuration
  .github/workflows/deploy.yml
  nais/envs/.env.dev
  nais/nais-dev.yaml
  src/utils/url.ts
Due: yarn eslint --fix --max-warnings=0

add redis
  nais/nais-dev.yaml
Due: none

add redis env variables
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/sessions/session-store-redis.ts
Due: yarn eslint --fix --max-warnings=0

chore: make redis env super annoyingly over engineered
  .env.development
  package.json
  src/app/api/internal/is_ready/route.ts
  src/fhir/sessions/session-store-redis.ts
  src/utils/env.ts
  src/utils/ts.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add vitest, test env.ts, fix env.ts
  package.json
  src/fhir/sessions/session-store-redis.ts
  src/utils/__snapshots__/env.test.ts.snap
  src/utils/env.test.ts
  src/utils/env.ts
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: run tests and lint on GHA
  .github/workflows/deploy.yml
  next.config.mjs
Due: none

chore: verify local build env requirements as to not confuse Leo
  package.json
  scripts/verify-build.sh
Due: yarn prettier --write

chore: make verify-build.sh even cooler
  scripts/verify-build.sh
Due: none
