Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: add some space to launch erors so they don't look as dumb
  src/app/(fhir)/fhir/(fhir-launch)/launch-errors.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add new test for 'tilbakedatering' to assert 'annen årsak' being correctly sent to backend
  e2e/actions/user-actions.ts
  e2e/fhir-form-submit.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): use newest @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fhir mock requires confidential symmetric client
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/token.ts
  package.json
  src/data-layer/fhir/smart/issuers.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: mock requires pre-configured clients
  libs/fhir-mock/buntry-point.ts
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/config.ts
  src/app/api/mocks/fhir/[[...path]]/route.ts
Due: yarn eslint --fix --max-warnings=0

chore: mock uses configured clients secret and id
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/config.ts
Due: yarn eslint --fix --max-warnings=0

chore: better logging when client assertion fails in mock
  libs/fhir-mock/src/auth/token.ts
Due: yarn eslint --fix --max-warnings=0

fix: configure demo to be confidential-symmetric
  src/data-layer/fhir/smart/issuers.ts
Due: yarn eslint --fix --max-warnings=0

docs: remove some lies and broken links in README
  .github/workflows/deploy.yml
  README.md
Due: yarn prettier --write

chore(deps): apollo-server@5! rip express
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): apollo server integrations v4
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump all minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix broken dockerbuild after refactor
  Dockerfile
Due: none

refactor: move dashboard to features folder
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/card/DashboardCard.tsx
  src/features/dashboard/combo-table/ComboTable.tsx
  src/features/dashboard/combo-table/draft/AutoUpdatingDistance.tsx
  src/features/dashboard/combo-table/draft/DeleteDraftButton.tsx
  src/features/dashboard/combo-table/draft/DraftActions.tsx
  src/features/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/dashboard/combo-table/draft/draft-utils.ts
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/SykmeldingDupliser.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/duplisering-mapper.ts
  src/features/dashboard/combo-table/sykmelding/forlengelse/SykmeldingForlengelse.tsx
  src/features/dashboard/combo-table/sykmelding/forlengelse/forlengelse-mappers.ts
  src/features/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/features/dashboard/table/DashboardTable.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix e2e build after refactor
  scripts/build-e2e.sh
Due: none

refactor: clean up imports in dashboard feature
  src/features/dashboard/ComboTableCard.tsx
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/combo-table/ComboTable.tsx
  src/features/dashboard/combo-table/draft/DraftActions.tsx
  src/features/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/dashboard/dumb-stats/DumbStats.tsx
  src/features/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove some dead code, unused exports
  knip.ts
  libs/fhir-mock/src/auth/token.ts
  src/core/data-layer/common/diagnose.ts
  src/core/data-layer/draft/draft-client.ts
  src/core/data-layer/graphql/apollo/apollo-client-cache.ts
  src/dev/mock-engine/scenarios/scenarios.ts
  src/dev/tools/ScenarioLinks.tsx
  src/lib/ts.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump react, zod, hono
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: redesign of 'kvitteringsside'
  e2e/fhir-dashboard.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/components/existing-sykmelding-kvittering/DocumentStatus.tsx
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/misc/SlowNextLinkButton.tsx
  src/components/pdf-debug-view/PdfDebugView.tsx
  src/components/ui/form.tsx
  src/features/existing-sykmelding-kvittering/DocumentStatus.tsx
  src/features/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/features/existing-sykmelding-kvittering/SykmeldingSynchronization.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: rename ny sykmelding slice
  src/core/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/core/redux/reducers/metadata.ts
  src/core/redux/reducers/ny-sykmelding/index.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/core/redux/store.ts
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/SykmeldingDupliser.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/duplisering-mapper.ts
  src/features/dashboard/combo-table/sykmelding/forlengelse/SykmeldingForlengelse.tsx
  src/features/dashboard/combo-table/sykmelding/forlengelse/forlengelse-mappers.ts
  src/features/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingWithContextPasient.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/form-default-values.test.ts
  src/features/ny-sykmelding-form/form-default-values.ts
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/summary-text-utils.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/instrumentation-client.ts
Due: yarn eslint --fix --max-warnings=0

refactor: more explicit type names and structure in redux
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/core/data-layer/common/diagnose-search.ts
  src/core/data-layer/common/diagnose.ts
  src/core/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/core/data-layer/common/tilbakedatering.ts
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/redux/reducers/ny-sykmelding/index.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/core/redux/reducers/ny-sykmelding/patient.ts
  src/core/redux/reducers/ny-sykmelding/summary.ts
  src/features/dashboard/combo-table/sykmelding/duplisering/SykmeldingDupliser.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/duplisering-mapper.ts
  src/features/dashboard/combo-table/sykmelding/forlengelse/SykmeldingForlengelse.tsx
  src/features/dashboard/combo-table/sykmelding/forlengelse/forlengelse-mappers.ts
  src/features/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingWithContextPasient.tsx
  src/features/ny-sykmelding-form/form-default-values.test.ts
  src/features/ny-sykmelding-form/form-default-values.ts
  src/features/ny-sykmelding-form/form.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/summary-text-utils.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

refactor: move forlengelse/duplisering to redux reducer
  src/core/redux/reducers/ny-sykmelding/mappers/duplisering.ts
  src/core/redux/reducers/ny-sykmelding/mappers/forlengelse.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/features/dashboard/combo-table/sykmelding/duplisering/SykmeldingDupliser.tsx
  src/features/dashboard/combo-table/sykmelding/forlengelse/SykmeldingForlengelse.tsx
  src/features/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: deduplicate TilbakedateringGrunn enums
  src/core/data-layer/draft/draft-schema.ts
  src/features/ny-sykmelding-form/form.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: remove tidligere sykmelding component to /features
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/features/sykmelding-kvittering/DocumentStatus.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/sykmelding-kvittering/SykmeldingKvitteringSection.tsx
  src/features/sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: tidy up /components folder
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/links/AssableNextLink.tsx
  src/components/links/SlowNextLinkButton.tsx
  src/components/misc/NavLogo.tsx
  src/components/shortcut/ShortcutButtons.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/core/data-layer/helseid/components/HelseIdHeader.tsx
  src/features/dashboard/OpprettNySykmeldingCard.tsx
  src/features/dashboard/combo-table/draft/DraftActions.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/dashboard/combo-table/sykmelding/duplisering/SykmeldingDupliser.tsx
  src/features/dashboard/combo-table/sykmelding/forlengelse/SykmeldingForlengelse.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix gql codegen
  codegen.ts
Due: yarn eslint --fix --max-warnings=0

chore: have nextjs copy graphql files
  Dockerfile
  next.config.ts
  scripts/build-e2e.sh
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump next, zod, apollo-client
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

style: normalize page layouts
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/components/layout/Page.tsx
  src/features/ny-sykmelding-form/NySykmeldingWithContextPasient.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

fix: loading state for tidligere sykmelding
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add very cool animation to page headers on initial load
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/animation/LoadableHeader.tsx
  src/components/layout/Page.tsx
Due: yarn eslint --fix --max-warnings=0

style: more inter-page style normalization
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/ny/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/components/form/form-section/FormSheet.tsx
  src/components/layout/Page.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

style: more accurate loading skeleton for kvittering page
  src/components/links/AssableNextLink.tsx
  src/components/links/SlowNextLinkButton.tsx
  src/features/dashboard/card/DashboardCard.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/sykmelding-kvittering/SykmeldingSynchronization.tsx
Due: yarn eslint --fix --max-warnings=0

feat: make previous sykmelding page more like design
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/sykmelding/BehandlerValues.tsx
  src/components/sykmelding/SykmeldingValues.tsx
  src/components/sykmelding/ValuesSection.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

feat: try and make a cool hacky halfway expanded ExpansionCard for kvittering
  src/components/sykmelding/ValuesSection.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

style: make peek portion of kvittering bigger
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

feat: on kvittering, hide values that are default/not answered
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

feat: support reloading on summary page (load from draft)
  src/components/links/AkselNextLink.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/features/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/features/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/features/ny-sykmelding-form/form-default-values.ts
  src/features/ny-sykmelding-form/form-mappers.ts
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: move summary page draft loader into custom hook
  src/components/links/AkselNextLink.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/features/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/useFormValuesSummaryDraft.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
