Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: remove superfluous text
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0

style: make top section of dashboard mobile friendly
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/features/fhir/dashboard/OpprettNySykmeldingCard.tsx
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/sykefravaer-utils.test.ts
  src/features/fhir/dashboard/top-card/dumb-stats/sykefravaer-utils.ts
Due: yarn eslint --fix --max-warnings=0

style: make the rest of dashboard mobile friendly
  src/features/fhir/dashboard/ComboTableCard.tsx
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/fhir/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/fhir/dashboard/historical/HistoricalCard.tsx
Due: yarn eslint --fix --max-warnings=0

style: make actual form mobile friendly
  src/components/animation/LoadableHeader.tsx
  src/components/form/form-section/FormSheet.tsx
  src/components/layout/Page.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.module.css
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormSkeleton.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: make form summary step more mobile friendly
  src/components/layout/TwoPaneGrid.module.css
  src/components/layout/TwoPaneGrid.tsx
  src/dev/tools/LocalAndDemoBonusActionMenu.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/NySykmeldingFormSkeleton.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.module.css
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: make kvittering page more mobile friendly
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

style: make periodepicker and grad mobile friendly
  src/components/shortcut/ShortcutButtons.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.module.css
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: DiagnosePicker - fitViewport on smaller screens
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
Due: yarn eslint --fix --max-warnings=0

style: make manual patient picker (standalone) more mobile friendly
  src/app/(standalone)/(logged-in)/page.tsx
  src/components/layout/TwoPaneGrid.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: playwright a phone
  .github/workflows/deploy.yml
  e2e/playwright.config.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: normalize all errors
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/help/GeneralErrors.tsx
  src/components/help/SessionIdInfo.tsx
  src/features/actions/common/SykmeldingFormErrors.tsx
  src/features/fhir/dashboard/ComboTableCard.tsx
  src/features/fhir/dashboard/historical/HistoricalCard.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerSummary.tsx
  src/features/ny-sykmelding-form/summary/explanations/HardStop.tsx
  src/features/ny-sykmelding-form/summary/explanations/OtherOutcomesErrors.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
  src/lib/otel/faro.ts
Due: yarn eslint --fix --max-warnings=0

style: use two pane grid for specific sykmelding page
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/layout/TwoPaneGrid.module.css
  src/features/ny-sykmelding-form/diagnose/DiagnoseInfoAlert.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: use same logic for 'current'-offset everywhere
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/common/sykmelding-utils.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump all the things (pls no work)
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: react-hook-form type changes
  src/features/ny-sykmelding-form/aktivitet/GradertGradPicker.tsx
  src/features/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/features/ny-sykmelding-form/aktivitet/periode/periode-utils.ts
  src/features/ny-sykmelding-form/andre-sporsmal/AndreSporsmalField.tsx
  src/features/ny-sykmelding-form/diagnose/DiagnosePicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix playwright install on cache miss
  package.json
Due: yarn prettier --write

chore: remove AllSykmeldinger query, use Dashboard-query instead
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
  src/features/fhir/dashboard/historical/RequestSykmeldinger.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore: add demo warning to FHIR launch errors
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

fix: don't flash loading/error state when deleting a draft
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
Due: yarn eslint --fix --max-warnings=0

chore: enable apollo devtools in demo
  src/core/data-layer/graphql/apollo/apollo-client.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't abort KonsultasjonQuery when useDiagnoseSuggestions unmounts
  src/features/ny-sykmelding-form/diagnose/useDiagnoseSuggestions.ts
Due: yarn eslint --fix --max-warnings=0

fix: make shorcuts work on mac
  src/components/shortcut/ShortcutButtons.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
  src/lib/hooks/shortcuts/useShortcut.ts
Due: yarn eslint --fix --max-warnings=0

feat: add shortcut to 'tilbake til pasientoversikt'
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/lib/hooks/shortcuts/useShortcut.ts
Due: yarn eslint --fix --max-warnings=0

chore: use Popover for shortcut hints
  src/components/links/SlowNextLinkButton.tsx
  src/components/shortcut/ShortcutButtons.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add metric for number of diagnoses returned from FHIR encounters
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/lib/prometheus/metrics.ts
Due: yarn eslint --fix --max-warnings=0

fix: add one more bucket for better measurements
  src/lib/prometheus/metrics.ts
Due: yarn eslint --fix --max-warnings=0

chore: resolve react RSC vuln
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: will disable install scripts break anything?
  .yarnrc.yml
Due: yarn prettier --write

chore: bump all da deps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: make form steps .replace, so browser back doesn't cause bad navigations
  src/features/ny-sykmelding-form/steps/useFormStep.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

test: assert utdypende spørsmål on kafka
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

test: expand multi-user tests to catch current error
  e2e/fhir/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

feat: multi launch 2: electric boogaloo
  e2e/fhir/fhir-multi-user.spec.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/draft/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/(actions)/ny/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-user/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/graphql/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/sykmelding/[sykmeldingId]/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/(logged-in)/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(standalone)/(logged-in)/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/graphql/route.ts
  src/components/errors/NoValidHPR.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/multi-user/MultiUserQueryStateToSessionStorageOnInit.tsx
  src/core/data-layer/fhir/multi-user/multi-user-apollo-link.ts
  src/core/data-layer/fhir/multi-user/multi-user-const.ts
  src/core/data-layer/fhir/multi-user/multi-user-yoga-plugin.ts
  src/core/data-layer/fhir/smart/active-patient.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/graphql/apollo/apollo-client.ts
  src/core/data-layer/graphql/yoga-server.ts
  src/core/providers/ModePaths.tsx
  src/core/providers/Modes.tsx
  src/core/providers/Providers.tsx
  src/features/fhir/common/useActivePatient.ts
  src/features/fhir/dashboard/combo-table/draft/DraftActions.tsx
  src/features/fhir/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/features/fhir/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: just use useMode even in StartSykmelding.tsx
  src/features/fhir/common/useActivePatient.ts
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0
