Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @navikt/pino-logger that has trace_id/span_id
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump all minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: next 16
  eslint.config.ts
  libs/fhir-mock/package.json
  next.config.ts
  package.json
  src/components/user-warnings/DemoWarning.tsx
  src/lib/hooks/useWindowFocus.ts
  src/proxy.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add HelseID GQL context with HPR
  src/app/(standalone)/graphql/route.ts
  src/app/global-not-found.tsx
  src/core/data-layer/helseid/error/Errors.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

refactor: extract page headers to composable component
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/draft/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/ny/page.tsx
  src/app/(standalone)/(logged-in)/ny/page.tsx
  src/features/actions/dupliser-sykmelding/DupliserSykmelding.tsx
  src/features/actions/forleng-sykmelding/ForlengSykmelding.tsx
  src/features/actions/ny-sykmelding-from-draft/NySykmeldingFromDraft.tsx
  src/features/actions/ny-sykmelding/NySykmelding.tsx
  src/features/common/NySykmeldingContextPatientHeader.tsx
Due: yarn eslint --fix --max-warnings=0

chore: basic @navikt/helseid-mock-server package
  libs/helseid-mock/README.md
  libs/helseid-mock/buntry-point.ts
  libs/helseid-mock/package.json
  libs/helseid-mock/src/config.ts
  libs/helseid-mock/src/meta/data/helseid-server.ts
  libs/helseid-mock/src/meta/data/well-known.ts
  libs/helseid-mock/src/meta/router.ts
  libs/helseid-mock/src/router.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @navikt/helseid-mock-server in next app
  libs/helseid-mock/package.json
  libs/helseid-mock/src/auth/verify-authed.ts
  libs/helseid-mock/src/meta/router.ts
  libs/helseid-mock/src/next.ts
  libs/helseid-mock/src/router.ts
  libs/helseid-mock/src/user/data/behandler-userinfo.json
  libs/helseid-mock/src/user/data/index.ts
  libs/helseid-mock/src/user/router.ts
  package.json
  src/app/api/mocks/helseid/[[...path]]/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move dev route, set helseid cookie on 'launch'
  libs/fhir-mock/src/config.ts
  libs/helseid-mock/buntry-point.ts
  libs/helseid-mock/src/config.ts
  libs/helseid-mock/src/cookie.ts
  libs/helseid-mock/src/dev/router.ts
  libs/helseid-mock/src/next.ts
  libs/helseid-mock/src/router.ts
  libs/helseid-mock/src/server-session.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/(logged-in)/page.tsx
  src/app/api/mocks/helseid/[[...path]]/mock-storage.ts
  src/app/api/mocks/helseid/[[...path]]/route.ts
  src/app/dev/dumb/DumbDevHeader.tsx
  src/app/dev/layout.tsx
  src/app/dev/page.tsx
  src/components/links/AkselNextLink.tsx
  src/components/user-warnings/DemoWarning.tsx
  src/dev/tools/ScenarioLinksFhir.tsx
  src/dev/tools/ScenarioLinksStandalone.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add ability to debug HelseID mock state
  libs/helseid-mock/src/config.ts
  libs/helseid-mock/src/debug.ts
  libs/helseid-mock/src/router.ts
  libs/helseid-mock/src/server-session.ts
Due: yarn eslint --fix --max-warnings=0

chore: generate acces and id token for launched helseid user
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/auth/verify-authed.ts
  libs/fhir-mock/src/logger.ts
  libs/fhir-mock/src/resources/document-reference/get-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  libs/fhir-mock/src/server-session.ts
  libs/helseid-mock/logger.ts
  libs/helseid-mock/package.json
  libs/helseid-mock/src/auth/verify-authed.ts
  libs/helseid-mock/src/config.ts
  libs/helseid-mock/src/data/behandlere.ts
  libs/helseid-mock/src/dev/router.ts
  libs/helseid-mock/src/fakewall.ts
  libs/helseid-mock/src/jwt/jwt.ts
  libs/helseid-mock/src/jwt/test-only-keys.ts
  libs/helseid-mock/src/next.ts
  libs/helseid-mock/src/server-session.ts
  libs/helseid-mock/src/types.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/error.tsx
  src/core/data-layer/helseid/helseid-service.ts
  src/core/data-layer/helseid/token/tokens.ts
  src/dev/tools/ScenarioLinksStandalone.tsx
  src/proxy.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: returnTo with basepath in demo env
  src/dev/tools/ScenarioLinksStandalone.tsx
Due: yarn eslint --fix --max-warnings=0

chore: validate token using helseid-mock
  .env.development
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  libs/helseid-mock/src/meta/data/helseid-server.ts
  libs/helseid-mock/src/meta/data/keys.ts
  libs/helseid-mock/src/meta/data/well-known.ts
  libs/helseid-mock/src/meta/router.ts
  src/core/data-layer/helseid/config/envs.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/data-layer/helseid/token/well-known.ts
  src/lib/env.test.ts
  src/lib/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: use single export for @navikt/helseid-mock-server
  libs/helseid-mock/buntry-point.ts
  libs/helseid-mock/package.json
  libs/helseid-mock/src/auth/verify-authed.ts
  libs/helseid-mock/src/dev/router.ts
  libs/helseid-mock/src/index.ts
  libs/helseid-mock/src/logger.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/api/mocks/helseid/[[...path]]/mock-storage.ts
  src/app/api/mocks/helseid/[[...path]]/route.ts
  src/dev/tools/ScenarioLinksStandalone.tsx
  src/proxy.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: gracefully handle inactive standalone sessions
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/(logged-in)/start-errors.tsx
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: otel span up proxy.ts
  .github/workflows/deploy.yml
  .nais/nais-demo.yaml
  package.json
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/proxy.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: weird bug where proxy.ts doesn't run on / in production builds
  package.json
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/proxy.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: simple pasinet search for standalone
  src/app/(standalone)/(logged-in)/page.tsx
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/redux/reducers/ny-sykmelding/ny-sykmelding-slice.ts
  src/core/redux/reducers/ny-sykmelding/patient.ts
  src/core/services/pdl/pdl-api-service.ts
  src/features/manual-patient-picker/ManualPatientPicker.tsx
  src/features/manual-patient-picker/ManualPatientSearch.tsx
Due: yarn eslint --fix --max-warnings=0

feat: implement submitting of sykmeldinger in standalone
  e2e/fhir-form-aareg.spec.ts
  e2e/fhir-form-submit.spec.ts
  e2e/fhir-form-utvidedesporsmal.spec.ts
  src/app/(standalone)/(logged-in)/kvittering/[sykmeldingId]/page.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/root.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/features/manual-patient-picker/ManualPatientSearch.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: move all FHIR e2e tests and actions to own folder
  e2e/actions/user-actions.ts
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/actions/fhir-user-actions.ts
  e2e/fhir/fhir-dashboard-redacted.spec.ts
  e2e/fhir/fhir-dashboard.spec.ts
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-interactions.spec.ts
  e2e/fhir/fhir-form-persistence.spec.ts
  e2e/fhir/fhir-form-rule-validations.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  e2e/fhir/fhir-launch.spec.ts
  e2e/fhir/fhir-multi-user.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: configure standalone to be e2e launchable, add single test
  e2e/actions/toggle-overrides.ts
  e2e/actions/user-actions.ts
  e2e/actions/user-verifications.ts
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/actions/fhir-user-verifications.ts
  e2e/fhir/fhir-dashboard.spec.ts
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-persistence.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/standalone/actions/standalone-actions.ts
  e2e/standalone/actions/standalone-user-actions.ts
  e2e/standalone/actions/standalone-user-verifications.ts
  e2e/standalone/standalone-form-submit.spec.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/dev/set-scenario/[scenario]/page.tsx
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/services/pdl/pdl-api-mock-data.ts
  src/core/services/pdl/pdl-api-service.ts
  src/core/session/cookies.ts
  src/core/session/session.ts
  src/dev/mock-engine/index.ts
  src/dev/tools/InternalDevTools.tsx
  src/dev/tools/ScenarioLinksFhir.tsx
  src/proxy.ts
Due: yarn eslint --fix --max-warnings=0

feat: implement sykmelding by ID in standalone, + better error handling on kvittering
  libs/helseid-mock/package.json
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: prepare submitSykmelding resolver for manual org values
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  e2e/standalone/standalone-form-submit.spec.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/root.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: also initalize scenario in standalone local/demo
  src/dev/tools/ScenarioLinksStandalone.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make behandler.orgnummer/tlf nullable
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/behandler.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): minors/patches
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: try and fix module tracing
  next.config.ts
  src/instrumentation.ts
Due: yarn eslint --fix --max-warnings=0

fix: modal background hiding content on soft stop
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/draft/[draftId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/dupliser/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/forleng/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/(actions)/ny/page.tsx
  src/features/common/NySykmeldingPagesWithContextPatientHeader.tsx
  src/features/ny-sykmelding-form/NySykmeldingPageSteps.tsx
Due: yarn eslint --fix --max-warnings=0

fix: reduce motion in e2e tests
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
