Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: strongly typed e2e gql request assertions
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  e2e/utils/assertions.ts
  package.json
  scripts/build-e2e.sh
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: run graphql-codegen together with next dev
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump zod/rhf
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make it possible to develop together with syk-inn-api
  .env.development
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/services/api-fetcher.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

feat: simplify periode-picker (remove all cool stuff)
  e2e/actions/user-actions.ts
  e2e/fhir.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
Due: yarn eslint --fix --max-warnings=0

fix: use correct OIDs for ICPC2 and ICD10
  src/utils/oid.ts
Due: yarn eslint --fix --max-warnings=0

feat: make aktivitets-picker Select instead of radios
  src/components/animation/Reveal.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
Due: yarn eslint --fix --max-warnings=0

fix: update e2e tests to use new select aktivitetspicker
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

fix: update all e2e tests to use new select aktivitetspicker
  e2e/fhir-form-persistence.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: better logging when syk-inn-api returns invalid response
  src/services/api-fetcher.ts
Due: yarn eslint --fix --max-warnings=0

feat: combine summary to one section
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove ExpansionCard from form
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/form/expandable-form-section/ExpandableFormSection.tsx
  src/components/form/form-section/FormSection.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnosePicker.tsx
  src/components/ny-sykmelding-form/diagnose/DiagnoseSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
  src/components/ui/form.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add secret feature, write 7d, 2u, etc in fom field to set range
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/PeriodePicker.tsx
  src/components/ny-sykmelding-form/aktivitet/periode-shorthand.test.ts
  src/components/ny-sykmelding-form/aktivitet/periode-shorthand.ts
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.test.ts
Due: yarn eslint --fix --max-warnings=0

feat: add secret combo shortcuts, ddd and ddt for periods (only dev)
  src/components/ny-sykmelding-form/MainSection.tsx
  src/devtools/NySykmeldingFormDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

fix: some date logic with periode and tilbakedatering
  src/components/ny-sykmelding-form/aktivitet/periode-shorthand.test.ts
  src/components/ny-sykmelding-form/aktivitet/periode-shorthand.ts
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringSection.test.ts
Due: yarn eslint --fix --max-warnings=0

fix: demo fhir launch
  src/app/api/mocks/fhir/[[...path]]/route.ts
Due: yarn eslint --fix --max-warnings=0

style: make gray gray more grayily
  src/app/(fhir)/fhir/(fhir-launched)/kvittering/[sykmeldingId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/components/dashboard/OpprettNySykmeldingCard.tsx
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

chore: added new fields to ExistingSykmeldingSchema
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/resolvers.generated.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: wrapped hoveddiagnose and aktivitet in sykmelding object
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

chore: commented out text in hoveddiagnose as its not used it in the api
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/resolvers.generated.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

chore: commenting out text in other places, but leaving original in comment for future use
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/MainSectionWithData.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/data-layer/common/diagnose-search.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/resolvers.generated.ts
Due: yarn eslint --fix --max-warnings=0

feat: support new Sykmelidng-type from syk-inn-api
  codegen.ts
  src/data-layer/common/diagnose-search.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/data-layer/graphql/possible-types.generated.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/aktivitet.graphqls
  src/data-layer/graphql/schema/common.graphqls
  src/data-layer/graphql/schema/sykmelding.graphqls
  src/services/syk-inn-api/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

feat: Hide textareas for messages behind switch to clean up view for doctors
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/meldinger/MeldingTilArbeidsgiverField.tsx
  src/components/ny-sykmelding-form/meldinger/MeldingTilNavField.tsx
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: Add asserts for title and button on summary page
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

feat: proxy PDF document with auth
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/services/api-fetcher.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: stop polling when session is expired
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-layer/graphql/apollo/apollo-server-utils.ts
  src/data-layer/graphql/error/Errors.ts
Due: yarn eslint --fix --max-warnings=0

fix: document link
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add some otel spans to synchronization
  src/components/existing-sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/components/ny-sykmelding-form/useNySykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/smart/smart-client.ts
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up naming on form components
  README.md
  src/app/(fhir)/fhir/(fhir-launched)/ny/page.tsx
  src/app/(standalone)/ny/page.tsx
  src/components/ny-sykmelding-form/MainSection.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormSteps.tsx
  src/components/ny-sykmelding-form/NySykmeldingFormWithData.tsx
  src/components/ny-sykmelding-form/NySykmeldingWithContextPasient.tsx
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: simplify ReadyClient instantiation in resolvers
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/data-layer/fhir/smart/smart-client.ts
  src/data-layer/graphql/apollo/apollo-server-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify diagnosis resolver
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/diagnosis.ts
Due: yarn eslint --fix --max-warnings=0

Update organization.md: description of usage for each required field in JSON
  docs/fhir/organization.md
Due: yarn prettier --write

chore: move API mocking out of resolvers
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/services/pdl/pdl-api-mock-data.ts
  src/services/pdl/pdl-api-schema.ts
  src/services/pdl/pdl-api-service.ts
  src/services/pdl/pdl-api-utils.ts
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn eslint --fix --max-warnings=0

Minor updates to practitioner.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

Update patient.md description
  docs/fhir/patient.md
Due: yarn prettier --write

Update encounter.md, added Kontakttype (typ/coding)
  docs/fhir/encounter.md
Due: yarn prettier --write

chore: update test to verify name and id on summary page
  e2e/actions/user-actions.ts
  e2e/utils/assertions.ts
  src/components/ny-sykmelding-form/summary/SummarySection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: new opprett sykmelding payload schema
  e2e/fhir.spec.ts
  libs/fhir-mock/src/data/encounter-espen-komar.ts
  libs/fhir-zod/src/encounter.ts
  libs/smart-on-fhir/src/client/smart/ReadyClient.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/organization.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/root.graphqls
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
  src/services/syk-inn-api/syk-inn-api-schema.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0
