Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix self-url in questionnaire response definition
  src/core/data-layer/fhir/write/resources/questionnaire/sykmelding-questionnaire.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
Due: yarn eslint --fix --max-warnings=0

fix: show that sykmelding is reisetilskudd on dashboard when gradert
  package.json
  src/features/fhir/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  src/features/fhir/dashboard/historical/HistoricalCard.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: forlengelse of reisetilskudd
  e2e/README.md
  e2e/actions/user-form-verification.ts
  e2e/fhir/dashboard/forleng.spec.ts
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: does next work with type=module now so we can squelch some errors?
  lint-staged.config.ts
  package.json
  postcss.config.ts
  vitest.config.ts
  vitest.integration.setup.ts
  vitest.setup.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: can we type=module now so we can squelch some config errors?
  lint-staged.config.ts
  package.json
  postcss.config.ts
  vitest.config.ts
  vitest.integration.setup.ts
  vitest.setup.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir
  README.md
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/adr/ADR02 - HelseID.md
  docs/bruksvilkar.mdx
  docs/fhir-resources-write-back-EHR.md
  docs/fhir/_oversikt.md
  docs/fhir/bundle.md
  docs/fhir/condition.md
  docs/fhir/document-reference.md
  docs/fhir/encounter.md
  docs/fhir/nav-requirements.md
  docs/fhir/organization.md
  docs/fhir/questionnaire-response.md
  docs/smart/getting-started.md
  docs/smart/helseid-on-smart-on-fhir.md
  docs/smart/smart-launch-simplified.md
  docs/smart/smart-launch.md
  e2e/README.md
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add support for signing bruksvilkår in HelseID(standalone) mode
  e2e/README.md
  libs/syk-zara/src/bruksvilkar/client.ts
  libs/syk-zara/src/bruksvilkar/schema.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/(standalone)/bruksvilkar/accept/route.ts
  src/app/(standalone)/bruksvilkar/page.tsx
  src/core/providers/ModePaths.tsx
  src/features/bruksvilkar/Bruksvilkar.tsx
  src/features/bruksvilkar/BruksvilkarAccept.tsx
  src/proxy.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make bruksvilkår e2e tests multi-mode
  e2e/README.md
  e2e/fhir/fhir-bruksvilkar.spec.ts
  e2e/multi-mode/bruksvilkar.spec.ts
  e2e/multi-mode/kvittering-dupliser.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: check in ox{lint,fmt} config files for idea [skip ci]
  .gitignore
  .idea/OxcSettings.xml
  .idea/OxfmtSettings.xml
Due: none

chore: bump some dev deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: update attest-sign with new image_ref
  .github/workflows/deploy.yml
Due: yarn prettier --write

docs: remove her-id identifier from organization.md
  docs/fhir/organization.md
Due: yarn prettier --write

chore: remove unused output in deploy.yml [skip ci]
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore(deps): bump misc, upgrade @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  libs/fhir-mock/src/resources/condition/router.ts
  libs/fhir-mock/src/resources/organization/router.ts
  package.json
  src/core/data-layer/fhir/write/mappers/document-reference.test.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: implement simple report for showing @navikt/smart-on-fhir report
  libs/fhir-mock/src/auth/token.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/validator/filter.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/validator/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/validator/validator.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): finally bump gql codegen
  codegen.ts
  package.json
  src/core/data-layer/graphql/generated/graphql.generated.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/types.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: use team oxlint config (@navikt/tsm-oxlint)
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  next.config.ts
  oxlint.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: checkout@v7
  .github/workflows/deploy-unleash-token.yml
  .github/workflows/deploy-valkey.yml
  .github/workflows/deploy.yml
  .github/workflows/fhir-mock-release.yml
  .github/workflows/syk-zara-release.yml
Due: yarn prettier --write

chore: dedupe some generated gql types
  codegen.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: try to simplify data loading in dashboard + request historiske
  src/app/(fhir)/error.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/launched-errors.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/app/(standalone)/bruksvilkar/page.tsx
  src/components/feedback/FeedbackButton.tsx
  src/components/feedback/full-feedback/FullFeedbackForm.tsx
  src/components/help/GeneralErrors.tsx
  src/components/help/LegeOgBehandlerTelefonen.tsx
  src/components/help/SessionIdInfo.tsx
  src/components/user-warnings/NonPilotUserWarning.tsx
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/common-type-resolvers.ts
  src/core/data-layer/graphql/generated/possible-types.generated.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/generated/types.generated.ts
  src/core/data-layer/graphql/queries/dashboard.graphql
  src/core/data-layer/graphql/queries/konsultasjon.graphql
  src/core/data-layer/graphql/schema/konsultasjon.graphqls
  src/core/data-layer/graphql/schema/sykmelding/common.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/features/fhir/dashboard/SykmeldingerCard.tsx
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/fhir/dashboard/combo-table/ComboTableRows.tsx
  src/features/fhir/dashboard/combo-table/HistoriskeSykmeldinger.tsx
  src/features/fhir/dashboard/combo-table/SykmeldingTableRows.tsx
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: move 'pasient er kjent' checkbox to the top of the card
  e2e/actions/user-form-verification.ts
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

style: fix mobile wrapping for new top card top section
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/welcome-modal/InfoNySykmeldingButton.tsx
Due: yarn eslint --fix --max-warnings=0

style: move 'stats' down to a dedicated row
  knip.ts
  package.json
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: proper skeleton loading for new stats section
  src/features/fhir/dashboard/top-card/dumb-stats/PatientStats.tsx
Due: yarn eslint --fix --max-warnings=0

fix: empty state for historiske sykmeldinger
  src/features/fhir/dashboard/SykmeldingerCard.tsx
  src/features/fhir/dashboard/combo-table/HistoriskeSykmeldinger.tsx
Due: yarn eslint --fix --max-warnings=0

style: move start sykmelding buttons out of action menu to dedicated buttons
  e2e/fhir/actions/fhir-user-actions.ts
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/lib/hooks/shortcuts/useShortcut.ts
Due: yarn eslint --fix --max-warnings=0

fix: demo dev page redirect
  src/proxy.ts
Due: yarn eslint --fix --max-warnings=0

fix: multi user e2e tests with new buttons
  e2e/README.md
  e2e/fhir/fhir-multi-user.spec.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: join 'cards' together visually
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/components/user-warnings/NonPilotUserWarning.tsx
  src/features/fhir/dashboard/SykmeldingerSection.tsx
  src/features/fhir/dashboard/card/DashboardSection.tsx
  src/features/fhir/dashboard/top-card/DashboardTopSection.tsx
Due: yarn eslint --fix --max-warnings=0

feat: proof of concept of aksel Timeline on dashboard
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  src/core/data-layer/common/sykmelding-utils.ts
  src/features/fhir/dashboard/SykmeldingerSection.tsx
  src/features/fhir/dashboard/top-card/DashboardTopSection.tsx
  src/features/fhir/dashboard/top-card/SykmeldingTimeline.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
