Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

refactor: simplify and normalize FHIR mapping of name and idents
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-user/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/app/dev/mock/page.tsx
  src/app/dev/mock/session/page.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-graphql-utils.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/mappers/identifiers.test.ts
  src/core/data-layer/fhir/mappers/identifiers.ts
  src/core/data-layer/fhir/mappers/oids.ts
  src/core/data-layer/fhir/mappers/patient.ts
  src/core/data-layer/fhir/mappers/practitioner.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove 'HelseID on SMART on FHIR' experiment (it dead)
  docs/smart/helseid-on-fhir.png
  docs/smart/helseid-on-smart-on-fhir.md
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/token.ts
  src/core/data-layer/fhir/mappers/identifiers.ts
  src/core/data-layer/fhir/mappers/oids.ts
  src/core/data-layer/fhir/smart/helseid.ts
  src/core/data-layer/fhir/smart/ready-client.ts
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up some dead code and please the knip
  knip.ts
  libs/fhir-mock/src/data/condition.ts
  libs/syk-zara/src/lib/keys.ts
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/core/data-layer/common/sykmelding-utils.ts
  src/core/redux/hooks.ts
  src/core/services/api-fetcher.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/dev/demo-epj-frame/cookies.ts
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/fhir/dashboard/welcome-modal/state.ts
  src/features/ny-sykmelding-form/sections/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
  src/features/ny-sykmelding-form/variants/behandlingsdager/BehandlingsdagerPeriode.tsx
  src/lib/date.ts
  src/lib/hooks/useWindowFocus.ts
  src/lib/url.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump oxlint and oxfmt
  package.json
  yarn.lock
Due: yarn prettier --write

fix: improve not supported writes
  src/core/data-layer/fhir/write/fhir-write-service.test.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

fix: improve not supported writes (#279)
  src/core/data-layer/fhir/write/fhir-write-service.test.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: pin faro version because nais observability is broken
  package.json
  yarn.lock
Due: yarn prettier --write

fix: don't animate diagnose info alert on mount (relevant for drafts)
  src/features/ny-sykmelding-form/sections/diagnose/DiagnoseInfoAlert.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add debug route for testing Bundle(batch)
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-fhir/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-fhir/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: ubuntu-latest is deprecated, use new runner name
  .github/workflows/deploy-unleash-token.yml
  .github/workflows/deploy-valkey.yml
  .github/workflows/deploy.yml
  .github/workflows/fhir-mock-release.yml
  .github/workflows/syk-zara-release.yml
Due: yarn prettier --write

chore: valkey is created via GUI now, stop deploying
  .github/workflows/deploy-valkey.yml
  .nais/nais-dev-valkey.yaml
  .nais/nais-prod-valkey.yaml
Due: yarn prettier --write

chore: does ubuntu-26.04 not let us run tsc in libs??
  .github/workflows/fhir-mock-release.yml
  .github/workflows/syk-zara-release.yml
Due: yarn prettier --write

chore: debug HelseID DPoP stuff
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/auth/helseid/helseid.ts
  src/core/auth/helseid/wonderwall-tokens.ts
Due: yarn eslint --fix --max-warnings=0

fix: properly validate DPoP when enabled
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/auth/helseid/helseid.ts
Due: yarn eslint --fix --max-warnings=0

chore: update base image in Dockerfile
  Dockerfile
Due: none

chore: update base image in Dockerfile (#281)
  Dockerfile
Due: none

chore: basic validation of a few DPoP things
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/auth/helseid/helseid.ts
  src/core/auth/helseid/token/validate.ts
  src/core/auth/helseid/wonderwall-tokens.ts
Due: yarn eslint --fix --max-warnings=0

chore: also validate IAT < 10s
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/auth/helseid/token/dpop.ts
  src/core/auth/helseid/token/validate.ts
Due: yarn eslint --fix --max-warnings=0

refactor: normalize and simplify FHIR data fetching, simplify gql resolvers
  README.md
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/debug-user/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/app/(fhir)/fhir/(fhir-resources)/R4/Questionnaire/V1/route.ts
  src/app/(standalone)/(logged-in)/layout.tsx
  src/app/dev/mock/page.tsx
  src/app/dev/mock/session/page.tsx
  src/core/data-layer/fhir/error/Errors.ts
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-graphql-utils.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/resources/fhir-resource-types.ts
  src/core/data-layer/fhir/resources/fhir-resources-service.ts
  src/core/data-layer/fhir/resources/mappers/diagnosis.test.ts
  src/core/data-layer/fhir/resources/mappers/diagnosis.ts
  src/core/data-layer/fhir/resources/mappers/identifiers.test.ts
  src/core/data-layer/fhir/resources/mappers/identifiers.ts
  src/core/data-layer/fhir/resources/mappers/oids.ts
  src/core/data-layer/fhir/resources/mappers/organization.ts
  src/core/data-layer/fhir/resources/write/fhir-write-service.test.ts
  src/core/data-layer/fhir/resources/write/fhir-write-service.ts
  src/core/data-layer/fhir/resources/write/mappers/document-reference.test.ts
  src/core/data-layer/fhir/resources/write/mappers/document-reference.ts
  src/core/data-layer/fhir/resources/write/mappers/questionnaire-response.test.ts
  src/core/data-layer/fhir/resources/write/mappers/questionnaire-response.ts
  src/core/data-layer/fhir/resources/write/resources/questionnaire/sykmelding-questionnaire.ts
  src/core/data-layer/graphql/common-context.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/features/helseid/HelseIdHeader.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: syk-inn-api-service is more client than service, try and encapsulate better and simplify
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/error/non-pilot-user/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/resources/fhir-resources-service.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/generated/types.generated.ts
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/data-layer/graphql/schema/sykmelding/light.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/services/pdl/pdl-api-client.ts
  src/core/services/syk-inn-api/syk-inn-api-client.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-client.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: submit/verify sykmelding simplification → syk-inn-api-service
  src/core/data-layer/common/diagnose-counting.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/services/syk-inn-api/metrics/diagnose-metrics.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

refactor: explicit error states for fhir-resource-service data fetching
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/resources/fhir-resources-service.ts
Due: yarn eslint --fix --max-warnings=0

refactor: wrap all fhir resource fns in a 'service' export
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/feedback/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/accept/route.ts
  src/app/(fhir)/fhir/(fhir-launched)/bruksvilkar/page.tsx
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/resources/fhir-resources-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove require bruksvilkår toggle (its always on)
  e2e/README.md
  e2e/fhir/actions/fhir-actions.ts
  e2e/multi-mode/bruksvilkar.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/layout.tsx
  src/app/(standalone)/(logged-in)/layout.tsx
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
  src/dev/mock-engine/MockEngine.ts
  src/dev/mock-engine/scenarios/scenarios.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove remaining remnants of multi-practitioner mock launch
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/fhir-form-rule-validations.spec.ts
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/server-launch-types.ts
  libs/fhir-mock/src/server-session.ts
  src/app/demo/route.ts
  src/app/dev/page.tsx
  src/dev/tools/scenarios/ScenarioLinksFhir.tsx
  src/dev/tools/scenarios/scenario-url-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump yarn and minors/patches
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write
