Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

avoiding sending pdf back and forth to client and adding defensive checks
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/fhir/fhir-data/fhir-data-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: fixing url and preparing mock server endpoints
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/data-fetcher/data-service.ts
  src/devtools/useAPIOverride.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: setting up mock data for DocumentReference
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/fhir/fhir-data/fhir-data-server.ts
Due: yarn eslint --fix --max-warnings=0

chore: requiring hpr header
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  package.json
  yarn.lock
Due: yarn prettier --write

chore: tailwind v4
  package.json
  postcss.config.mjs
  src/app/(standalone)/page.tsx
  src/app/globals.css
  src/components/ny-sykmelding-form/diagnose/combobox/AkselifiedCombobox.module.css
  src/components/ui/form.tsx
  src/devtools/InternalDevToolItem.tsx
  src/devtools/ScenarioLinks.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: wip updating types for fetch api response
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/route.ts
  src/app/api/mocks/fhir/(resources)/[[...path]]/route.ts
  src/app/api/mocks/fhir/(resources)/data/base64pdf.ts
  src/data-fetcher/data-service.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/api-fetcher.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: clean up demo/dev landing page
  src/app/(standalone)/page.tsx
  src/devtools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

feat: poc fhirclient next-adapter [skip ci]
  libs/fhirclient-next/package.json
  libs/fhirclient-next/src/adapters/NextAdapter.ts
  libs/fhirclient-next/src/next.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/fhir/auth/session.ts
  src/fhir/fhirclient-session/index.ts
  src/fhir/fhirclient-session/inmem.ts
  src/fhir/fhirclient-session/redis.ts
  src/fhir/sessions/session-store-redis.ts
  src/valkey/redis-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: improved error handling
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/route.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-fetcher/data-service.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/fhir/fhir-data/schema/documentReference.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: use gar as Image Registry for wonderdall, ghcr.io is deprecated
  .nais/nais-dev-wonderwall.yaml
Due: yarn prettier --write

chore: use gar as Image Registry for wonderdall, ghcr.io is deprecated (#29)
  .nais/nais-dev-wonderwall.yaml
Due: yarn prettier --write

chore: updating accepted content type for pdf call
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: updating accepted content type for pdf call
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/app/api/mocks/fhir/(resources)/[[...path]]/route.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

feat: write DocumentReference to FHIR server
  src/app/(fhir)/fhir/resources/sykmelding/write-to-ehr/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/[id]/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/route.ts
  src/app/api/mocks/fhir/(resources)/data/base64pdf.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/data-fetcher/data-service.ts
  src/devtools/useAPIOverride.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/fhir-data-service.ts
  src/fhir/fhir-data/non-fhir-data.ts
  src/fhir/fhir-data/schema/documentReference.ts
  src/helseid/helseid-data/helseid-data-service.ts
  src/services/api-fetcher.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: upgraded yarn to 4.7.0
  package.json
Due: yarn prettier --write

chore: using Valkey instead of Redis
  .env.development
  .nais/nais-dev-wonderwall.yaml
  .nais/nais-dev.yaml
  README.md
  package.json
  scripts/pre-dev.sh
  src/fhir/sessions/session-store-valkey.ts
  src/fhir/sessions/session-store.ts
  src/utils/__snapshots__/env.test.ts.snap
  src/utils/env.test.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: smoll fix in pre-build.sh [skip ci]
  scripts/pre-build.sh
Due: none

chore: fixing valkey configuration
  .env.development
  .github/workflows/deploy-valkey.yml
  .nais/nais-dev-valkey.yaml
  .nais/nais-dev.yaml
  package.json
  src/fhir/sessions/session-store-in-mem.ts
  src/fhir/sessions/session-store-valkey.ts
  src/fhir/sessions/session-store.ts
  src/utils/env.test.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: sidecar wonderwall instead of dedicated container
  .github/workflows/deploy-wonderwall.yml
  .nais/nais-dev-wonderwall.yaml
  .nais/nais-dev.yaml
Due: yarn prettier --write

fix: valkey config ☑
  .nais/nais-dev.yaml
  src/utils/env.test.ts
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: webmed has new auth/issuer
  src/fhir/issuers.ts
Due: yarn eslint --fix --max-warnings=0

chore: restructure docs to prepare for external linkage
  docs/fhir-resources-pre-completion-EHR.md
  docs/fhir-resources-write-back-EHR.md
  docs/fhir/_oversikt.md
  docs/fhir/condition.md
  docs/fhir/document-reference.md
  docs/fhir/encounter.md
  docs/fhir/pasient.md
  docs/fhir/practitioner.md
Due: yarn prettier --write

chore: migrate fhir mock to a dedicated module
  libs/fhir-mock/.gitignore
  libs/fhir-mock/README.md
  libs/fhir-mock/buntry-point.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/router.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/auth/verify-authed.ts
  libs/fhir-mock/src/config.ts
  libs/fhir-mock/src/data/base64pdf.ts
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/data/encounter-espen-komar.ts
  libs/fhir-mock/src/data/index.ts
  libs/fhir-mock/src/data/patient-espen-eksempel.json
  libs/fhir-mock/src/data/practitioner-koman-magnar.json
  libs/fhir-mock/src/index.ts
  libs/fhir-mock/src/jwt/jwt.ts
  libs/fhir-mock/src/meta/data/fhir-server.ts
  libs/fhir-mock/src/meta/data/keys.ts
  libs/fhir-mock/src/meta/data/metadata.json
  libs/fhir-mock/src/meta/data/well-known.ts
  libs/fhir-mock/src/meta/router.ts
  libs/fhir-mock/src/resources/condition/router.ts
  libs/fhir-mock/src/resources/document-reference/create-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/get-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  libs/fhir-mock/src/resources/simple-resources/router.ts
  libs/fhir-mock/src/router.ts
  libs/fhir-mock/tsconfig.json
  next.config.ts
  package.json
  src/app/api/mocks/fhir/(resources)/Condition/[[...path]]/route.ts
  src/app/api/mocks/fhir/(resources)/DocumentReference/route.ts
  src/app/api/mocks/fhir/(resources)/[[...path]]/route.ts
  src/app/api/mocks/fhir/(resources)/data/smart-style.json
  src/app/api/mocks/fhir/(resources)/utils.ts
  src/app/api/mocks/fhir/[[...path]]/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use hono instead of itty-router as itty-router didn't play too nicely with next
  libs/fhir-mock/buntry-point.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/router.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/auth/verify-authed.ts
  libs/fhir-mock/src/data/base64pdf.ts
  libs/fhir-mock/src/data/pdfs/base64pdf.ts
  libs/fhir-mock/src/data/pdfs/index.ts
  libs/fhir-mock/src/meta/data/fhir-server.ts
  libs/fhir-mock/src/meta/router.ts
  libs/fhir-mock/src/next.ts
  libs/fhir-mock/src/resources/condition/router.ts
  libs/fhir-mock/src/resources/document-reference/get-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  libs/fhir-mock/src/resources/simple-resources/router.ts
  libs/fhir-mock/src/router.ts
  libs/fhir-mock/tsconfig.json
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix port in buntry-point.ts for fhir-mock [skip ci]
  libs/fhir-mock/buntry-point.ts
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

chore: add cors to fhir-mock [skip ci]
  libs/fhir-mock/src/router.ts
Due: yarn eslint --fix --max-warnings=0

fix: get Conditions based on encounterId, not patientId
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/data/index.ts
  libs/fhir-mock/src/resources/condition/router.ts
  libs/fhir-mock/src/resources/document-reference/create-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  libs/fhir-mock/src/router.ts
  package.json
  src/app/(fhir)/fhir/resources/context/Conditions/route.ts
  src/fhir/fhir-data/fhir-data-server.ts
  src/fhir/fhir-data/schema/documentReference.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(fhir-mock): release it as a lib
  .github/workflows/fhir-mock-release.yml
  libs/fhir-mock/package.json
  libs/fhir-mock/src/config.ts
  next.config.ts
  package.json
  scripts/libs/create-release.sh
  scripts/libs/set-version.sh
  src/app/api/mocks/fhir/[[...path]]/route.ts
  src/services/syk-inn-api/SykInnApiService.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(fhir-mock): release with correct readme
  .github/workflows/fhir-mock-release.yml
Due: yarn prettier --write

chore(fhir-mock): fix the tag release version bumping
  .github/workflows/fhir-mock-release.yml
Due: yarn prettier --write

chore(fhir-mock): fix major/minor bumping
  .github/workflows/fhir-mock-release.yml
  scripts/libs/create-release.sh
Due: yarn prettier --write

chore(fhir-mock): actually fix major/minor bumping
  scripts/libs/create-release.sh
Due: none

chore: use newest @navikt/next-logger and @navikt/pino-logger
  libs/fhir-mock/buntry-point.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/auth/verify-authed.ts
  libs/fhir-mock/src/data/condition.ts
  libs/fhir-mock/src/resources/document-reference/get-document-reference.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  package.json
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump everything
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write
