Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: allow sykmelder in test to calculate 'utdypende spørsmål' fields based on redacted sykmelding so it won't fail on mock data
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
Due: yarn eslint --fix --max-warnings=0

fix: more accurate tests, fixes issue with overrides not overriding correctly in tests
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/dev/mock-engine/scenarios/scenarios.ts
Due: yarn eslint --fix --max-warnings=0

chore(e2e): run form e2e in multi-mode testing both FHIR and HelseID-mode
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/fhir/fhir-launch.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/launch.spec.ts
  e2e/multi-mode/modes.ts
  e2e/standalone/actions/standalone-actions.ts
  e2e/standalone/standalone-form-submit.spec.ts
  e2e/standalone/standalone-launch.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove bad (lying!!) comment
  e2e/fhir/fhir-form-rule-validations.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: add /debug-user for standalone
  src/app/(fhir)/fhir/debug-user/route.ts
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/data-layer/helseid/helseid-user.ts
Due: yarn eslint --fix --max-warnings=0

feat: add link for logging out it standalone header
  src/core/data-layer/helseid/components/HelseIdHeader.tsx
Due: yarn eslint --fix --max-warnings=0

chore: also fetch userinfo in /debug-user
  src/app/(standalone)/(logged-in)/debug-user/route.ts
  src/core/data-layer/helseid/helseid-user.ts
Due: yarn eslint --fix --max-warnings=0

chore(e2e): make dupliser from kvittering test multi-mode
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/multi-mode/dupliser.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/standalone/standalone-dupliser.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore(e2e): merge form persistence tests into multi-mode tests
  e2e/fhir/fhir-form-persistence.spec.ts
  e2e/multi-mode/dupliser.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/modes.ts
  e2e/standalone/standalone-form-persistence.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: try and logout with absolute redirect URL
  src/core/data-layer/helseid/components/HelseIdHeader.tsx
Due: yarn eslint --fix --max-warnings=0

feat: support aareg toggle in standalone as well, multi-mode e2e it
  e2e/fhir/dashboard/redacted.spec.ts
  e2e/fhir/fhir-form-aareg.spec.ts
  e2e/multi-mode/dupliser.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/mode-actions.ts
  e2e/multi-mode/mode-verifications.ts
  e2e/multi-mode/modes.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/queries/pasient.graphql
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/dev/tools/api-fail-toggle/ToggleAPIFailures.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make standalone drafts less jumpy
  src/features/helseid/manual-patient-picker/ManualPatientDrafts.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
Due: yarn eslint --fix --max-warnings=0

feat: support utypende spørsmål in standalone
  e2e/fhir/fhir-form-utvidedesporsmal.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/multi-mode/mode-verifications.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore(e2e): make rule-validation tests multi-mode
  e2e/fhir/fhir-form-rule-validations.spec.ts
  e2e/multi-mode/actions/mode-user-actions.ts
  e2e/multi-mode/actions/mode-user-verifications.ts
  e2e/multi-mode/dupliser.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/multi-mode/form-rule-validations.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore(e2e): make most form-interactions tests multi-mode
  e2e/fhir/fhir-form-interactions.spec.ts
  e2e/multi-mode/form-interactions.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore(e2e): make standalone metadata tests less flaky
  e2e/multi-mode/actions/mode-user-verifications.ts
Due: yarn eslint --fix --max-warnings=0

fix: make sure standalone drafts are not loaded without context patient
  .github/workflows/deploy.yml
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: debug flaky test, always be tracin'
  e2e/playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

refactor: consolidate patient object resolvers
  src/core/data-layer/fhir/fhir-graphql-context.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/common-context.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/common-type-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-context.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): friday bumps
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): monday dev deps bump
  e2e/playwright.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: upgrade aksel and use cool new component for DemoWarning
  package.json
  src/components/links/AkselNextLink.tsx
  src/components/user-warnings/DemoWarning.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move app launch metric before PILOT_USER toggle check
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(standalone)/(logged-in)/layout.tsx
Due: yarn eslint --fix --max-warnings=0

chore: tweak and adjust all alerts
  src/app/dev/page.tsx
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/help/GeneralErrors.tsx
  src/components/sykmelding/SykmeldingValues.tsx
  src/components/sykmelding/Utfall.tsx
  src/features/actions/common/SykmeldingFormErrors.tsx
  src/features/fhir/dashboard/ComboTableCard.tsx
  src/features/fhir/dashboard/OpprettNySykmeldingCard.tsx
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/fhir/dashboard/historical/HistoricalCard.tsx
  src/features/fhir/dashboard/table/DashboardTable.tsx
  src/features/helseid/manual-patient-picker/ManualPatientPicker.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/diagnose/DiagnoseInfoAlert.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/summary/behandler/BehandlerSummary.tsx
  src/features/ny-sykmelding-form/summary/explanations/HardStop.tsx
  src/features/ny-sykmelding-form/summary/explanations/OtherOutcomesErrors.tsx
  src/features/sykmelding-kvittering/DocumentStatus.tsx
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
  src/features/sykmelding-kvittering/SykmeldingSynchronization.tsx
  src/features/tidligere-sykmelding/TidligereSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

feat: make 4 day old sykmeldinge available as 'current'
  src/core/data-layer/common/sykmelding-utils.test.ts
  src/core/data-layer/common/sykmelding-utils.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/dev/mock-engine/scenarios/scenarios.ts
  src/features/fhir/dashboard/combo-table/ComboTable.tsx
  src/features/tidligere-sykmelding/TidligereSykmeldingActions.tsx
Due: yarn eslint --fix --max-warnings=0

style: make dev/demo page mobile friendly
  src/app/dev/dumb/DumbDevHeader.tsx
  src/app/dev/page.tsx
  src/dev/tools/ScenarioLinksFhir.tsx
  src/dev/tools/ScenarioLinksStandalone.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make demo warning smoller
  src/components/user-warnings/DemoWarning.tsx
Due: yarn eslint --fix --max-warnings=0

fix: typo in variable leading to mismatch in data from backend
  e2e/actions/user-actions.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: make loadable header more mobile friendly
  src/components/animation/LoadableHeader.tsx
Due: yarn eslint --fix --max-warnings=0

chore: configure testcontainers to initialize syk-inn-api with postgres and kafka
  package.json
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
  src/lib/test/testcontainers-utils.ts
  vitest.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: run integration tests in GHA
  .github/workflows/deploy.yml
  scripts/test-reporter.mjs
Due: yarn prettier --write

chore: add basic API tests for verify and submit
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/fhir/fhir-form-interactions.spec.ts
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/multi-mode/form-interactions.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  package.json
  src/core/services/api-fetcher.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/env.ts
  src/lib/test/date-utils.ts
  src/lib/test/valkey.ts
  vitest.config.mts
  vitest.integration.setup.mts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: test all syk-inn-api endpoints properly
  package.json
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: integration tests with kafkajs
  package.json
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
  src/lib/test/syk-inn-kafka.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
