Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: @navikt/dig-kod is no longer needed
  e2e/README.md
  libs/dig-kod/README.md
  libs/dig-kod/package.json
  libs/dig-kod/scripts/fetch-kodeverk.ts
  libs/dig-kod/scripts/parse-kodeverk.ts
  libs/dig-kod/scripts/raw/.gitignore
  libs/dig-kod/src/data/icd10.json
  libs/dig-kod/src/data/icpc2.json
  libs/dig-kod/src/data/icpc2b.json
  libs/dig-kod/src/index.ts
  libs/dig-kod/tsconfig.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump aksel
  e2e/README.md
  package.json
  yarn.lock
Due: yarn prettier --write

fix: old hardcoded base64 document reference title
  e2e/README.md
  src/core/data-layer/fhir/mappers/document-reference.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: document support for ICPC2B in FHIR Condition resource
  docs/fhir/condition.md
  e2e/README.md
Due: yarn prettier --write

fix: more correct text in arbeidsforholdpicker
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/actions/user-verifications.ts
  e2e/fhir/dashboard/dupliser.spec.ts
  e2e/fhir/dashboard/forleng.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/features/ny-sykmelding-form/NySykmeldingForm.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdPicker.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: move 'Legg til periode'-button inside periode-section
  e2e/README.md
  src/features/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: remove date-'verification' from tilbakedateringdato-field
  e2e/README.md
  scripts/document-e2e.sh
  src/features/ny-sykmelding-form/tilbakedatering/TilbakedateringDate.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(test): verify that ICPC2B comes through kafka
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: update tsm-diagnose-lib
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): monday bumps
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: working 'split button' concept for start sykmelding, shortcutable
  src/components/shortcut/ShortcutButtons.tsx
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
  src/features/ny-sykmelding-form/draft/DraftActions.tsx
  src/features/ny-sykmelding-form/summary/SummarySection.tsx
  src/features/ny-sykmelding-form/summary/rules/RuleHitSendAnywayModal.tsx
  src/lib/hooks/shortcuts/useShortcut.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't suggest diagnose-reset when no FHIR diagnosis
  e2e/README.md
  e2e/fhir/fhir-form-submit.spec.ts
  src/features/ny-sykmelding-form/diagnose/DiagnoseInfoAlert.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: count diagnoser
  src/core/data-layer/common/diagnose-counting.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/lib/prometheus/metrics.ts
Due: yarn eslint --fix --max-warnings=0

feat: count diagnoser (#133)
  src/core/data-layer/common/diagnose-counting.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/lib/prometheus/metrics.ts
Due: yarn eslint --fix --max-warnings=0

chore: analyze differences between FHIR diagnose texts and ours
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/mappers/diagnosis.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Change secruelog to teamlogs
  .nais/nais-dev.yaml
Due: yarn prettier --write

Revert "Change secruelog to teamlogs"
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: don't use optionals in client side GQL types
  codegen.ts
  src/core/data-layer/graphql/apollo/apollo-client.test.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/sykmelding/common.graphqls
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove log-shipping to elastic
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: yarn prettier --write

docs: update README.md with new field docs
  README.md
Due: yarn prettier --write

docs: update README.md data flow mermaid
  README.md
Due: yarn prettier --write

docs: update README.md with missing data steps
  README.md
Due: yarn prettier --write

refactor: forleng mappers should use shared default value fns
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
Due: yarn eslint --fix --max-warnings=0

refactor: dupliser mappers should use shared default value fns
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bamp
  e2e/README.md
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

test: form-persistence should assert arbeidsgiver as well
  README.md
  e2e/multi-mode/form-persistence.spec.ts
  e2e/playwright.config.ts
  src/features/ny-sykmelding-form/andre-sporsmal/AndreSporsmalField.tsx
  src/features/ny-sykmelding-form/andre-sporsmal/AndreSporsmalSection.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

docs: update README.md with missing sub-step
  README.md
Due: yarn prettier --write

chore: have mise enable corepack automatically
  .mise.toml
  README.md
Due: yarn prettier --write

chore: updates 'uke7' questions to text in updated BDR
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

fix: update tests with new text as well
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

test(e2e): can we simplify assertions for payload e2e tests?
  e2e/README.md
  e2e/multi-mode/form-submit.spec.ts
  e2e/utils/submit-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test(e2e): simplify all payload assertions in form-submit.spec.ts
  e2e/README.md
  e2e/multi-mode/form-submit.spec.ts
  e2e/utils/submit-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

test(e2e): simplify remaining payload assertions
  e2e/README.md
  e2e/fhir/fhir-form-submit.spec.ts
  e2e/multi-mode/form-aareg.spec.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: basic annen lovfestet fraværsgrunn select (without B)
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/multi-mode/form-annen-fravarsgrunn.spec.ts
  e2e/multi-mode/form-persistence.spec.ts
  e2e/utils/submit-utils.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/common/annen-fravarsgrunn.ts
  src/core/data-layer/draft/draft-client.test.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/DraftBuilder.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.ts
  src/features/ny-sykmelding-form/andre-sporsmal/AndreSporsmalSection.tsx
  src/features/ny-sykmelding-form/andre-sporsmal/AnnenFravarsgrunnField.tsx
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: start implementing logic for showing questions for week 17 and 39
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: update diagnoseanalyse to lookup ICPC2B on diff
  src/core/data-layer/common/diagnose-search.ts
  src/core/data-layer/fhir/mappers/diagnosis.test.ts
  src/core/data-layer/fhir/mappers/diagnosis.ts
Due: yarn eslint --fix --max-warnings=0

feat: add new questions to schemas
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  e2e/utils/submit-utils.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
