Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: reformat and follow convention
  docs/fhir/nav-requirements.md
Due: yarn prettier --write

chore: bump minors/patches
  libs/fhir-mock/package.json
  libs/fhir-mock/src/resources/document-reference/create-document-reference.ts
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: try and explicitly set skipNetworkIdleEvent to true
  src/core/data-layer/pdf/gotenberg-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: make fhir mock document reference creation stateful
  libs/fhir-mock/src/auth/authorize.ts
  libs/fhir-mock/src/auth/token.ts
  libs/fhir-mock/src/config.ts
  libs/fhir-mock/src/data/patient-session.ts
  libs/fhir-mock/src/debug.ts
  libs/fhir-mock/src/resources/condition/router.ts
  libs/fhir-mock/src/resources/document-reference/router.ts
  libs/fhir-mock/src/resources/encounter/router.ts
  libs/fhir-mock/src/resources/organization/router.ts
  libs/fhir-mock/src/resources/patient/router.ts
  libs/fhir-mock/src/resources/practitioner/router.ts
  libs/fhir-mock/src/server-session.ts
Due: yarn eslint --fix --max-warnings=0

chore: add localhost:8080 as known FHIR server for local dev
  src/core/data-layer/fhir/smart/issuers/envs/others.ts
Due: yarn eslint --fix --max-warnings=0

docs: add DocumentReference with QuestionnaireResponse ADR for review and questionnaire.json as Nav defined FHIR example
  docs/adr/document-reference-questionnaire-response.md
  docs/fhir/questionnaire.json
Due: yarn prettier --write

chore: support stateful 'create' of QuestionnaireResponse in fhir-mock
  libs/fhir-mock/package.json
  libs/fhir-mock/src/data/patient-session.ts
  libs/fhir-mock/src/server-session.ts
  package.json
  src/core/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: skeleton for mapping and writing QuestionnaireResponse
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/mappers/questionnaire-response.ts
Due: yarn eslint --fix --max-warnings=0

chore: change text on aktivitet, add help text
  e2e/actions/user-actions.ts
  src/features/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add new FHIR write toggles
  src/core/toggles/dev/local.ts
  src/core/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

refactor: start refactor to enable multiple feature toggled FHIR write operations
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/fhir-write-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: add infotext about ny sykmelding to dashboard
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add infotext about previous sykmeldinger
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix uu-issue with ul inside of p
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: simplify DocumentReference payload creation
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/fhir-service.ts
  src/core/data-layer/fhir/fhir-write-service.ts
  src/core/data-layer/fhir/mappers/document-reference.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/data-layer/fhir/write/mappers/document-reference.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
  src/core/data-layer/fhir/write/pdf-service.ts
  src/core/toggles/unleash.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add support for writing QuestionnaireResponse to fhir-mock
  libs/fhir-mock/src/resources/questionnaire-response/router.ts
  libs/fhir-mock/src/router.ts
  src/core/data-layer/fhir/mappers/diagnosis.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
  src/core/toggles/dev/local.ts
Due: yarn eslint --fix --max-warnings=0

chore: add local/demo page for debugging FHIR state
  libs/fhir-mock/src/server-session.ts
  src/app/dev/mock/page.tsx
  src/app/dev/mock/session/page.tsx
  src/dev/tools/InternalDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

fix: oof
  src/core/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

fix: fix non-unique key
  src/features/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add HelpText instead of description since utdypende spørsmål takes a lot of real estate on screen
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add HelpText to arbeidsgiver question
  src/features/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdPicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fhir-mock should fail if we mess with scopes
  libs/fhir-mock/package.json
  libs/fhir-mock/src/auth/authorize.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: is this a good way to statically host our FHIR definitions?
  src/app/(fhir)/fhir/(fhir-resources)/R4/Questionnaire/V1/route.ts
  src/core/data-layer/fhir/write/resources/questionnaire/sykmelding-questionnaire.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): minors/patches
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: QuestionnaireResponse canonical reference to Questionnaire
  libs/fhir-mock/package.json
  package.json
  src/core/data-layer/fhir/write/mappers/questionnaire-response.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update FHIR requirements with links to overview
  docs/fhir/nav_requirements.md
Due: yarn prettier --write

chore: rename week numbers to the proper weeks
  e2e/actions/user-actions.ts
  e2e/multi-mode/form-utdypende-sporsmal.spec.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: more descriptive heading, fix character with on readmore
  src/features/fhir/dashboard/ComboTableCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add 'vises for arbeidsgiver' text to questions
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/features/ny-sykmelding-form/meldinger/MeldingTilArbeidsgiverField.tsx
Due: yarn eslint --fix --max-warnings=0

adr: create DR-QR adr
  docs/adr/ADR09 - FHIR resources for write-back.md
  docs/adr/document-reference-questionnaire-response.md
  docs/fhir/questionnaire.json
Due: yarn prettier --write

docs: update adr to use bundle
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/adr/ADR09 - FHIR resources for write-back.md
Due: yarn prettier --write

docs: spelling and grammar fix
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
Due: yarn prettier --write

ADR for strukturert tilbakeskriving som skal på høring (#174)
  docs/adr/ADR01 - FHIR resources for writing data back to EHR.md
  docs/fhir/nav-requirements.md
Due: yarn prettier --write

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: update helptext for 'Flere arbeidsgivere' question
  src/features/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdPicker.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add helptext to yrkesskade, rename question for dato
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/actions/user-verifications.ts
  e2e/multi-mode/form-persistence.spec.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/pdf/html/content.tsx
  src/features/ny-sykmelding-form/andre-sporsmal/AndreSporsmalField.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
Due: yarn eslint --fix --max-warnings=0
