Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: migrate secure logs to team logs
  .nais/nais-dev.yaml
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  next.config.ts
  package.json
  src/app/api/secure-logger/route.ts
  src/app/api/team-logger/route.ts
  src/instrumentation-client.ts
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up logging, use team logs for sensitive stuff
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  next.config.ts
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/mappers/practitioner.ts
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix teamlogs log statement
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump all minors/patches
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: add debug logging for wedmed launch
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/smart/launch/token.ts
Due: yarn eslint --fix --max-warnings=0

chore: save refresh_token in valkey session
  libs/smart-on-fhir/src/__tests__/mocks/auth.ts
  libs/smart-on-fhir/src/__tests__/resource-request.test.ts
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/smart/launch/token-schema.ts
  libs/smart-on-fhir/src/client/storage/schema.ts
Due: yarn eslint --fix --max-warnings=0

feat: sligtly more graceful handling of launch errors
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/error/page.tsx
  src/app/(fhir)/fhir/(fhir-launch)/invalid-code/page.tsx
  src/app/(fhir)/fhir/(fhir-launch)/launch-errors.tsx
Due: yarn eslint --fix --max-warnings=0

fix: add refresh token to mock for local dev and e2e
  libs/fhir-mock/src/auth/token.ts
Due: yarn eslint --fix --max-warnings=0

chore: do we need to keepAlive valkey?
  src/services/valkey/client.ts
Due: yarn eslint --fix --max-warnings=0

feat: create combo table with draft, current and previous sykmeldinger
  e2e/fhir-form-persistence.spec.ts
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/components/dashboard/ComboTableCard.tsx
  src/components/dashboard/DraftSykmeldingerCard.tsx
  src/components/dashboard/PagaendeSykmeldingerCard.tsx
  src/components/dashboard/TidligereSykmeldingerCard.tsx
  src/components/dashboard/card/DashboardCard.tsx
  src/components/dashboard/combo-table/ComboTable.tsx
  src/components/dashboard/combo-table/draft/AutoUpdatingDistance.tsx
  src/components/dashboard/combo-table/draft/DeleteDraftButton.tsx
  src/components/dashboard/combo-table/draft/DraftActions.tsx
  src/components/dashboard/combo-table/draft/DraftPeriodeLink.tsx
  src/components/dashboard/combo-table/draft/draft-utils.ts
  src/components/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/components/dashboard/combo-table/sykmelding/SykmeldingPeriodeLink.tsx
  src/components/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/draft.graphql
  src/services/syk-inn-api/syk-inn-api-mock-data.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: expand GQL sykmelding with remaining fields
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/possible-types.generated.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/data-layer/graphql/schema/sykmelding.graphqls
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

chore: write submit result to cache for faster kvittering load
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: add utfall to sykmelding GQL response
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/sykmelding.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/sykmelding.graphqls
  src/services/syk-inn-api/syk-inn-api-utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: add sykmelding outcome to combo table
  src/components/dashboard/combo-table/ComboTable.tsx
  src/components/dashboard/combo-table/draft/DraftActions.tsx
  src/components/dashboard/combo-table/sykmelding/SykmeldingActions.tsx
  src/data-layer/graphql/apollo/apollo-client.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn eslint --fix --max-warnings=0

feat: add arbeidsgiver to combo table
  src/components/dashboard/combo-table/ComboTable.tsx
  src/components/dashboard/combo-table/sykmelding/sykmelding-utils.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: add loading skeleton to combo table
  src/components/dashboard/ComboTableCard.tsx
  src/components/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump all minors/patches
  libs/fhir-mock/package.json
  libs/smart-on-fhir/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add opt-in auto refresh to SmartClient.ready
  libs/smart-on-fhir/src/__tests__/mocks/auth.ts
  libs/smart-on-fhir/src/__tests__/refresh.test.ts
  libs/smart-on-fhir/src/__tests__/resource-request.test.ts
  libs/smart-on-fhir/src/__tests__/setup.ts
  libs/smart-on-fhir/src/__tests__/utils/client.ts
  libs/smart-on-fhir/src/__tests__/utils/token.ts
  libs/smart-on-fhir/src/client/index.ts
  libs/smart-on-fhir/src/client/otel.ts
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/smart/client-errors.ts
  libs/smart-on-fhir/src/client/smart/config.ts
  libs/smart-on-fhir/src/client/smart/launch/token.ts
  libs/smart-on-fhir/vitest.config.mts
  src/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: make token refresh fn public, expose options, in SmartClient
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
Due: yarn eslint --fix --max-warnings=0

feat: add 'Årsaker' questions to form
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/devtools/NySykmeldingFormDevTools.tsx
Due: yarn eslint --fix --max-warnings=0

feat: more mapping and moving code around :')
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
  src/components/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/components/ny-sykmelding-form/aktivitet/GradertGradPicker.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/data-layer/draft/draft-schema.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: move sessionId to SmartClient constructor
  libs/smart-on-fhir/src/__tests__/launch.test.ts
  libs/smart-on-fhir/src/__tests__/pkce.test.ts
  libs/smart-on-fhir/src/__tests__/refresh.test.ts
  libs/smart-on-fhir/src/__tests__/utils/client.ts
  libs/smart-on-fhir/src/client/smart/SmartClient.ts
  libs/smart-on-fhir/src/client/utils.ts
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

chore: add new expected toggle
  src/toggles/dev.ts
  src/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore: restructure unleash, be explicit about user vs non-user toggles
  src/toggles/cookie.ts
  src/toggles/definitions.ts
  src/toggles/dev.ts
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

feat: enable token refresh (behind feature toggle)
  src/app/(fhir)/fhir/(fhir-launch)/callback/route.ts
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/layout.tsx
  src/app/(fhir)/fhir/(fhir-launched)/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/layout.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/fhir/fhir-service.ts
  src/data-layer/fhir/smart/smart-client.ts
Due: yarn eslint --fix --max-warnings=0

fix: unleash toggles build issue
  src/devtools/useFeatureToggleOverride.ts
  src/toggles/dev/cookie-override.ts
  src/toggles/dev/local.ts
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't expect refresh token response to have patient/encounter
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use built version of @navikt/smart-on-fhir instead nextjs transpilation
  libs/fhir-mock/package.json
  next.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use esm version of @navikt/smart-on-fhir
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove mem limit, tweak request resources
  .nais/nais-dev.yaml
Due: yarn prettier --write

fix: correct utfall type for manuell behandling
  src/components/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
