Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add knip, fix some knip errors
  .github/workflows/deploy.yml
  knip.ts
  libs/fhir-mock/package.json
  libs/fhir-mock/src/jwt/jwt.ts
  package.json
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/steps/useFormStep.ts
  src/components/ny-sykmelding-form/summary/BehandlerSummary.tsx
  src/data-layer/fhir/components/FhirError.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

test: update draft deletion test to take advantage of state updates
  e2e/fhir-dashboard.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: report vitest test results to GHA
  .github/workflows/deploy.yml
  .gitignore
  knip.ts
  scripts/test-reporter.mjs
  vitest.config.mts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make codeql happy with workflow permissions
  .github/workflows/fhir-mock-release.yml
Due: yarn prettier --write

chore(deps): zod v4 + some other snacks
  libs/fhir-mock/package.json
  package.json
  src/data-layer/common/diagnose.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/helseid/helseid-resources.ts
  src/data-layer/helseid/helseid-userinfo.ts
  src/services/api-fetcher.ts
  src/services/pdl/pdl-api-schema.ts
  src/services/syk-inn-api/schema/opprett.ts
  src/services/syk-inn-api/schema/sykmelding.ts
  src/services/syk-inn-api/syk-inn-api-service.ts
  src/utils/env.ts
  src/utils/zod.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: tweak bidiagnose section, semantics+style
  src/components/form/diagnose-combobox/AkselifiedCombobox.tsx
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/diagnose/bidiagnose/BidiagnosePicker.tsx
  src/components/ny-sykmelding-form/diagnose/bidiagnose/BidiagnoseSection.tsx
  src/components/ny-sykmelding-form/form.tsx
Due: yarn eslint --fix --max-warnings=0

test: actually test apollo cache redirects (crazy town)
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/apollo/apollo-client.test.ts
  src/data-layer/graphql/common-resolvers.ts
  vitest.config.mts
Due: yarn eslint --fix --max-warnings=0

chore: heheheheh
  .github/workflows/deploy.yml
Due: yarn prettier --write

perf: use cache redirects instead of cache writes for drafts and sykmelding
  scripts/pre-dev.sh
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/graphql/apollo/apollo-client-cache.ts
Due: yarn eslint --fix --max-warnings=0

chore: use goodly typed useFieldArray for perioder
  src/components/ny-sykmelding-form/aktivitet/AktivitetSection.tsx
Due: yarn eslint --fix --max-warnings=0

test: add bidiagnoser to e2e payload verification
  e2e/fhir.spec.ts
Due: yarn eslint --fix --max-warnings=0

test: fill out bidiagnoser in persistence test
  e2e/actions/user-actions.ts
  e2e/fhir-form-persistence.spec.ts
  src/components/form/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/ny-sykmelding-form/diagnose/bidiagnose/BidiagnosePicker.tsx
Due: yarn eslint --fix --max-warnings=0

test: e2e test that tests bidiagnose adding, editing and deleting
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-interactions.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: two workers in e2e in GHA was not good
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: two workers in e2e GHA work real good maybe?
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  scripts/pre-build.sh
  src/data-layer/fhir/fhir-graphql-resolvers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: is caching playwright browsers nice?
  .github/workflows/deploy.yml
Due: yarn prettier --write

test: organize playwright tests
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-interactions.spec.ts
  e2e/fhir-form-submit.spec.ts
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

test: verify that bidiagnoses are restored properly in drafts and ← Back-ing from summary
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-persistence.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: added bidiagnoser to draft (#63)
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/draft/FormDraftSync.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/data-layer/draft/draft-client.test.ts
  src/data-layer/draft/draft-schema.ts
  src/data-layer/mock-engine/scenarios/DraftBuilder.ts
Due: yarn eslint --fix --max-warnings=0

chore: maybe skip entire install step if cache is hit?
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: better emoji for dev only page
  next.config.ts
  src/devtools/ScenarioLinks.tsx
Due: yarn eslint --fix --max-warnings=0

chore: move dev slowdown to apolle server plugin
  src/data-layer/graphql/apollo/apollo-server-utils.ts
  src/utils/wait.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump playwright and hono
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: squelch nais deployment summary
  .github/workflows/deploy.yml
Due: yarn prettier --write

fix: make InMemValkey behave like Valkey for hgetall
  src/data-layer/mock-engine/valkey/InMemValkey.ts
Due: yarn eslint --fix --max-warnings=0

chore: use console.info in test repoorter
  scripts/test-reporter.mjs
Due: none

feat: add predefined values for 'årsak for tilbakedatering'
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/fhir-form-persistence.spec.ts
  e2e/fhir-form-submit.spec.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/draft/useSaveDraft.ts
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/components/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
  src/components/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/data-layer/common/sykmelding-fragment-to-multistep-state.ts
  src/data-layer/draft/draft-schema.ts
  src/providers/redux/reducers/ny-sykmelding-multistep.ts
Due: yarn eslint --fix --max-warnings=0

chore: add arbeidsforhold to mock-engine + aareg service (no actual integration)
  src/data-layer/mock-engine/MockEngine.ts
  src/data-layer/mock-engine/scenarios/aareg-arbeidsforhold.ts
  src/data-layer/mock-engine/scenarios/scenarios.ts
  src/services/aareg/aareg-schema.ts
  src/services/aareg/aareg-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: make devtools cookie override only override when diff
  src/devtools/InternalDevTools.tsx
  src/devtools/useFeatureToggleOverride.ts
  src/toggles/dev/cookie-override.ts
Due: yarn eslint --fix --max-warnings=0

chore: make feature toggles overrideable in e2e tests
  e2e/actions/fhir-actions.ts
Due: yarn eslint --fix --max-warnings=0

feat: add aareg experiment for demo and local dev, disabled in dev-gcp
  e2e/actions/fhir-actions.ts
  e2e/fhir-form-aareg.spec.ts
  e2e/utils/assertions.ts
  src/components/ny-sykmelding-form/arbeidsgiver/AaregArbeidsforholdPicker.tsx
  src/components/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdPicker.tsx
  src/components/ny-sykmelding-form/arbeidsgiver/ArbeidsforholdSection.tsx
  src/components/ny-sykmelding-form/form-default-values.test.ts
  src/components/ny-sykmelding-form/form-default-values.ts
  src/components/ny-sykmelding-form/form.tsx
  src/data-layer/fhir/fhir-graphql-resolvers.ts
  src/data-layer/graphql/apollo/apollo-client-cache.ts
  src/data-layer/graphql/queries.generated.ts
  src/data-layer/graphql/queries/pasient.graphql
  src/data-layer/graphql/resolvers.generated.ts
  src/data-layer/graphql/schema/pasient.graphqls
  src/data-layer/mock-engine/MockEngine.ts
  src/devtools/api-fail-toggle/ToggleAPIFailures.tsx
  src/toggles/dev/local.ts
  src/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

feat: add illegal feature to dashboard
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/page.tsx
  src/app/(fhir)/fhir/(fhir-launched)/sykmelding/[sykmeldingId]/page.tsx
  src/components/dashboard/OpprettNySykmeldingCard.tsx
  src/components/dashboard/dumb-stats/DumbStats.tsx
  src/components/dashboard/dumb-stats/continuous-sykefravaer-utils.test.ts
  src/components/dashboard/dumb-stats/continuous-sykefravaer-utils.ts
  src/data-layer/common/sykmelding-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): next 15.4
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

style: better loading skeleton for illegal dashboard feature
  src/components/dashboard/dumb-stats/DumbStats.tsx
Due: yarn eslint --fix --max-warnings=0

style: fixed width for two column in table
  src/components/dashboard/combo-table/ComboTable.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add help text and better validation errors to 'tilbakedatering'
  src/components/form/form-section/FormSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/components/ny-sykmelding-form/tilbakedatering/TilbakedateringGrunn.tsx
Due: yarn eslint --fix --max-warnings=0

chore: change to better fitting type
  src/components/form/form-section/FormSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use eslint 9 with compat
  eslint.config.ts
  package.json
  src/devtools/DevTools.tsx
  src/instrumentation.ts
  src/toggles/dev/local.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up some knip errors
  knip.ts
  src/data-layer/fhir/mappers/diagnosis.ts
  src/data-layer/graphql/apollo/apollo-server-utils.ts
  src/data-layer/graphql/error/Errors.ts
  src/data-layer/helseid/helseid-graphql-resolvers.ts
  src/data-layer/helseid/helseid-userinfo.ts
Due: yarn eslint --fix --max-warnings=0

chore: move issuer validation to @navikt/smart-on-fhir
  e2e/.eslintrc
  e2e/actions/fhir-actions.ts
  e2e/fhir-launch.spec.ts
  eslint.config.ts
  libs/fhir-mock/package.json
  package.json
  src/app/(fhir)/fhir/(fhir-launch)/launch-errors.tsx
  src/app/(fhir)/fhir/(fhir-launch)/launch/page.tsx
  src/data-layer/fhir/issuers/issuers.test.ts
  src/data-layer/fhir/issuers/issuers.ts
  src/data-layer/fhir/smart/issuers.ts
  src/data-layer/fhir/smart/smart-client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
