Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: simplify API responses, remove old sporsmalOgSvar stuff
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/graphql/common-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/sykmelding/full.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make it easier to run against local syk-inn-api (integration)
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: assert helsepersonellkategori in kafka test
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-kafka-types.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove medisinskArsak
  e2e/README.md
  e2e/actions/user-actions.ts
  e2e/multi-mode/form-rule-validations.spec.ts
  e2e/multi-mode/form-submit.spec.ts
  e2e/utils/submit-utils.ts
  src/components/sykmelding/SykmeldingValues.tsx
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/data-layer/graphql/schema/opprett-sykmelding.graphqls
  src/core/pdf/pdf-service.ts
  src/core/redux/reducers/ny-sykmelding/form.ts
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/dev/tools/NySykmeldingFormDevTools.tsx
  src/features/actions/common/gql-sykmelding-mappers.ts
  src/features/actions/common/state-sykmelding-mappers.ts
  src/features/actions/dupliser-sykmelding/dupliser-sykmelding-mapper.ts
  src/features/actions/forleng-sykmelding/forleng-sykmelding-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.ts
  src/features/actions/ny-sykmelding/ny-sykmelding-mappers.test.ts
  src/features/ny-sykmelding-form/aktivitet/AktivitetPicker.tsx
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
  src/features/ny-sykmelding-form/draft/internals/useSaveDraft.ts
  src/features/ny-sykmelding-form/form/default-values.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/form/types.tsx
  src/features/ny-sykmelding-form/summary/FormValuesSummary.tsx
  src/features/ny-sykmelding-form/useOpprettSykmeldingMutation.ts
  src/lib/test/syk-inn-kafka-types.ts
  src/lib/test/syk-inn-kafka.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: temporarily move PDF tests
  src/core/pdf/pdf-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: syncronize typst PDF generation with new changes
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/app/dev/debug-typst/route.tsx
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/pdf/pdf-service.ts
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: simplify api integration tests
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: simplify /verify response
  src/core/data-layer/common/continuous-sykefravaer-utils.test.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/data-layer/graphql/schema/rules.graphqls
  src/core/data-layer/helseid/helseid-graphql-resolvers.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  src/dev/mock-engine/SykInnApiMock.ts
  src/dev/mock-engine/SykInnApiMockRuleMarkers.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: update new meta structure for pasient and name
  src/core/pdf/pdf-service.integration.ts
  src/core/pdf/pdf-service.ts
  src/core/services/api-fetcher.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/scenarios/SykInnApiSykmeldingBuilder.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
Due: yarn eslint --fix --max-warnings=0

chore: deploy branch to dev-gcp
  .github/workflows/deploy.yml
  src/lib/test/syk-inn-api.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use postgres 17 in integration tests (same as syk-inn-api)
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove unecessary tests
  src/core/pdf/pdf-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove reWriteBatchedInserts from jdbc URL
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: avsenderSystem should have (FHIR) in name
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix kafka test now that utypende can't be 11
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
Due: yarn eslint --fix --max-warnings=0

fix: should not map 'tilbakedatering' when not actually 'tilbakedatering'
  .vscode/extensions.json
  .vscode/settings.json
  e2e/README.md
  e2e/multi-mode/form-submit.spec.ts
  e2e/multi-mode/form-tilbakedatering.spec.ts
  src/core/data-layer/common/tilbakedatering.test.ts
  src/core/data-layer/common/tilbakedatering.ts
  src/features/ny-sykmelding-form/form/form-to-state.test.ts
  src/features/ny-sykmelding-form/form/form-to-state.ts
  src/features/ny-sykmelding-form/tilbakedatering/DynamicTilbakedateringSection.tsx
  src/features/ny-sykmelding-form/tilbakedatering/tilbakedatering-utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump all minors and patches
  .yarnrc.yml
  codegen.ts
  e2e/README.md
  e2e/package.json
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: small breaking API tweaks in preperation of ktor deploy
  e2e/multi-mode/form-submit.spec.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: make integration tests work with ktor version
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove tree from data payloads and graphql
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/rules.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/dev/mock-engine/SykInnApiMock.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix kafka test now that utypende can't be 11
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/features/ny-sykmelding-form/form/form-to-state.test.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel and some other minors
  libs/fhir-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

fix: better error logging when typst fails
  package.json
  src/core/pdf/typst.ts
  src/lib/otel/server.ts
  typst-pdf/sykmelding.typ
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
