Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: drop Content-Type
  src/services/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: added back Content-Type
  src/services/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore: make specific APIs strongly typed
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/non-fhir-data.ts
  src/services/SykInnApiSchema.ts
  src/services/SykInnApiService.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bumping my deps downtown, upgradin' fast, versions pass
  package.json
  yarn.lock
Due: yarn prettier --write

chore: tweak redis ping interval to try and avoid socket disconnects
  src/fhir/sessions/session-store-redis.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): upgrade tanstack query
  package.json
  yarn.lock
Due: yarn prettier --write

feat: validate access token (must be JÅWT)
  Dockerfile
  next-logger.config.js
  next-logger.config.mjs
  next.config.ts
  src/app/(fhir)/fhir/launch/page.tsx
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/app/api/mocks/fhir/auth/[[...path]]/route.ts
  src/app/api/mocks/fhir/jwt.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
  src/components/ny-sykmelding-form/ny-sykmelding-api.ts
  src/devtools/InternalDevTools.tsx
  src/fhir/auth/api-utils.ts
  src/fhir/auth/session.ts
  src/fhir/auth/verify.ts
  src/fhir/components/FhirHeaderUser.tsx
  src/fhir/fhir-data/non-fhir-data.ts
  src/fhir/issuers.test.ts
  src/fhir/issuers.ts
  src/services/SykInnApiService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: return value when creating sykmelding
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/data-fetcher/data-service.ts
  src/services/SykInnApiSchema.ts
Due: yarn eslint --fix --max-warnings=0

feat: poc pdl cache
  .nais/nais-dev.yaml
  src/app/(fhir)/fhir/person/route.ts
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/components/ny-sykmelding-form/NySykmeldingFormValues.ts
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/pasient/PasientSearchField.tsx
  src/components/ny-sykmelding-form/pasient/pasient-utils.ts
  src/data-fetcher/data-service.ts
  src/fhir/fhir-data/fhir-data-service.tsx
  src/fhir/fhir-data/non-fhir-data.ts
  src/helseid/helseid-data/helseid-data-service.ts
  src/services/pdl/PdlApiSchema.ts
  src/services/pdl/PdlApiService.ts
  src/services/pdl/PdlApiUtils.ts
  src/services/syk-inn-api/SykInnApiSchema.ts
  src/services/syk-inn-api/SykInnApiService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: tweak some typing issues
  src/app/(fhir)/fhir/launch/page.tsx
  src/fhir/fhir-data/fhir-data-service.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add unleash secrets
  .github/workflows/deploy-unleash-token.yml
  .nais/nais-demo.yaml
  .nais/nais-dev-unleash-token.yaml
  .nais/nais-dev.yaml
Due: yarn prettier --write

chore: bump deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: add realistic demo diagnosis
  src/app/api/mocks/fhir/(resources)/data/diagnosis.ts
  src/app/api/mocks/fhir/(resources)/data/encounter-espen-komar.json
  src/app/api/mocks/fhir/(resources)/data/encounter-espen-komar.ts
  src/app/api/mocks/fhir/(resources)/data/index.ts
  src/fhir/fhir-data/fhir-data-service.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: prefill first diagnosis, disable diagnose suggestions
  src/components/ny-sykmelding-form/diagnose/DiagnoseSmartPicker.tsx
Due: yarn eslint --fix --max-warnings=0

fix: token verification in demo
  .nais/nais-demo.yaml
Due: yarn prettier --write

chore: disable fastlege autorisasjon visning, move behandler section
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/pasient/PasientInfo.tsx
  src/components/ny-sykmelding-form/practitioner/PractitionerSection.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix e2e tests so they expect pre-filled diagnose
  e2e/actions/user-actions.ts
Due: yarn eslint --fix --max-warnings=0

chore: more demo token validation fix
  src/app/(fhir)/fhir/sykmelding/submit/route.ts
  src/app/api/mocks/fhir/(resources)/data/fhir-server/well-known.ts
  src/app/api/mocks/fhir/jwt.ts
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

feat: spruce up the kvittering page
  src/app/(fhir)/fhir/sykmelding/[sykmeldingId]/route.ts
  src/app/api/mocks/fhir/(resources)/data/condition.ts
  src/app/api/mocks/fhir/(resources)/data/index.ts
  src/components/existing-sykmelding-kvittering/ExistingSykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add webmed hack for Conditions
  src/fhir/fhir-data/fhir-data-service.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make transition to kvittering better (maybe not)
  src/components/ny-sykmelding-form/NySykmeldingForm.tsx
  src/components/ny-sykmelding-form/NySykmeldingOpprettProgressModal.tsx
Due: yarn eslint --fix --max-warnings=0

feat: fetch toggles
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  package.json
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/app/providers.tsx
  src/middleware.ts
  src/toggles/context.tsx
  src/toggles/cookie.ts
  src/toggles/env.ts
  src/toggles/rsc.ts
  src/toggles/toggles.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: init docs in md format
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: fix weird unleash badly typed edge case
  src/app/(fhir)/layout.tsx
  src/app/(standalone)/layout.tsx
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: fixed typos
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: init docs in md format (#20)
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: mark unleash data fetching as un-prefetchable
  src/app/api/mocks/fhir/jwt.ts
  src/toggles/unleash.ts
Due: yarn eslint --fix --max-warnings=0

chore: make json concent more readable
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: added in fhir Encounter
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: make docs pretty
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

Changes by Jorn-Are.Klubben.Flaten
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: make docs even prettyer
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: made Begrunnelse bold
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: [skip ci] added in write back to EHR doc
  docs/fhir-resources-write-back-EHR.md
Due: yarn prettier --write

chore: [skip ci] remvoed DocumentReference
  docs/fhir-resources-pre-completion-EHR.md
Due: yarn prettier --write

chore: [skip ci] make docs pretty
  docs/fhir-resources-pre-completion-EHR.md
  docs/fhir-resources-write-back-EHR.md
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
