Repository navikt/syk-inn: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: proper width and flex-wrap for smaller screeens
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add infotext about ny sykmelding to dashboard
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use reusable typst action
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: test more values on the kafka topic
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-kafka-types.ts
  src/lib/test/syk-inn-kafka.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): minors/patches
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): use v5 of pino-logger
  package.json
  yarn.lock
Due: yarn prettier --write

feat: typst PDF - add arbeidsgiver
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: typst PDF - add annen lovfestet fraværsgrunn
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: typst PDF - andre spørsmål
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: typst PDF - melding til nav og arbeidsgiver
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: typst PDF - pasient skal skjermes
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: typst PDF - arbeidsrelaterte årsaker sub-list
  src/app/dev/debug-typst/route.tsx
  src/core/pdf/pdf-service.ts
  src/core/pdf/types.ts
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: typst pdf - tweak spacing of sykmeldingsperiode
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write

feat: typst pdf - combine bidiagnoser cell with hoveddiagnose
  typst-pdf/sykmelding.typ
  typst-pdf/test-data/big.json
Due: yarn prettier --write

style: fix weird checkbox quirk after aksel bump
  src/features/fhir/dashboard/top-card/StartSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

fix: overtydelig Annen arbeidsrelatert årsak (Vises for arbeidsgiver)
  e2e/actions/user-actions.ts
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
Due: yarn eslint --fix --max-warnings=0

feat: use typst pdf for DocumentReference and proxy routes
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/pdf/[sykmeldingId]/route.ts
  src/app/(standalone)/(logged-in)/pdf/[sykmeldingId]/route.ts
  src/core/data-layer/fhir/fhir-graphql-resolvers.ts
  src/core/data-layer/fhir/write/fhir-write-service.ts
  src/core/data-layer/fhir/write/pdf-service.ts
  src/core/services/api-fetcher.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-service.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: only one link to PDF
  src/features/sykmelding-kvittering/SykmeldingKvittering.tsx
Due: yarn eslint --fix --max-warnings=0

:chore: inline-flex to make HelpText appear by end of line
  src/features/ny-sykmelding-form/utfyllende-sporsmal/UtdypendeendeSporsmal.tsx
Due: yarn eslint --fix --max-warnings=0

chore: context and decision for adr02
  docs/adr/ADR02 - SMART on FHIR secured by HelseID.md
Due: yarn prettier --write

chore: added mermaid diagram and full adr for HelseID
  docs/adr/ADR02 - SMART on FHIR secured by HelseID.md
Due: yarn prettier --write

chore: edits based on feedback for ADR02
  docs/adr/ADR02 - SMART on FHIR secured by HelseID.md
Due: yarn prettier --write

chore: use typescript 7 beta for pre-commit hook
  .lintstagedrc.mjs
  .yarnrc.yml
  package.json
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bumpin'
  libs/fhir-mock/package.json
  libs/helseid-mock/package.json
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix e2e tests after UU-change in aksel
  e2e/actions/user-actions.ts
  e2e/actions/user-form-verification.ts
  e2e/multi-mode/form-aareg.spec.ts
  src/core/data-layer/common/continuous-sykefravaer-utils.ts
  src/features/ny-sykmelding-form/utfyllende-sporsmal/utdypende-sporsmal-utils.ts
Due: yarn eslint --fix --max-warnings=0

feat: move welcome card to modal >:(
  package.json
  src/app/(fhir)/fhir/(fhir-launched)/[patientId]/page.tsx
  src/core/redux/reducers/metadata.ts
  src/features/fhir/dashboard/top-card/DashboardTopCard.tsx
  src/features/fhir/dashboard/top-card/InfoNySykmeldingCard.tsx
  src/features/fhir/dashboard/welcome-modal/InfoNySykmeldingButton.tsx
  src/features/fhir/dashboard/welcome-modal/InfoNySykmeldingModal.tsx
  src/features/fhir/dashboard/welcome-modal/lazy.ts
  src/features/fhir/dashboard/welcome-modal/state.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: always disable welcome modal in tests, also write a test for it
  e2e/README.md
  e2e/fhir/actions/fhir-actions.ts
  e2e/fhir/fhir-chaosmonkey.spec.ts
  package.json
  src/features/bruksvilkar/Bruksvilkar.tsx
  src/features/fhir/dashboard/welcome-modal/InfoNySykmeldingModal.tsx
  src/features/fhir/dashboard/welcome-modal/state.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: simplify naiserator files, use WORKLOAD_IMAGE
  .github/workflows/deploy.yml
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  .nais/nais-unleash-token.yaml
Due: yarn prettier --write

chore: test out oxfmt as a drop-in replacement for prettier
  .lintstagedrc.mjs
  .oxfmtrc.json
  docs/fhir/nav-requirements.md
  docs/fhir/organization.md
  docs/fhir/patient.md
  docs/fhir/practitioner.md
  package.json
  yarn.lock
Due: yarn prettier --write

chore: oxfmt check in CI
  .github/workflows/deploy.yml
Due: yarn prettier --write

chore: replace prettier fully with oxfmt
  .husky/pre-commit
  codegen.ts
  eslint.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump aksel
  package.json
  yarn.lock
Due: yarn prettier --write

chore: make integration tests work with ktor version
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/lib/test/syk-inn-api.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove tree from data payloads and graphql
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/queries/sykmelding.graphql
  src/core/data-layer/graphql/schema/rules.graphqls
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/dev/mock-engine/SykInnApiMock.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: small breaking API tweaks in preperation of ktor deploy
  e2e/multi-mode/form-submit.spec.ts
  src/core/data-layer/draft/draft-schema.ts
  src/core/data-layer/graphql/generated/queries.generated.ts
  src/core/data-layer/graphql/generated/resolvers.generated.ts
  src/core/data-layer/graphql/generated/schema.generated.json
  src/core/data-layer/graphql/schema/aktivitet.graphqls
  src/core/services/syk-inn-api/schema/opprett.ts
  src/core/services/syk-inn-api/schema/sykmelding.ts
  src/core/services/syk-inn-api/syk-inn-api-service.integration.ts
  src/core/services/syk-inn-api/syk-inn-api-utils.ts
  src/dev/mock-engine/utils/syk-inn-api-mappers.ts
  src/features/actions/ny-sykmelding-from-draft/ny-sykmelding-from-draft-mappers.test.ts
  src/features/ny-sykmelding-form/aktivitet/ArsakerPicker.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
